<ul class="mdl-list ls-list ls-odds ls-odds-tabs">
    <li class="row row--head">
        <div class="cell"></div>
        <div class="cell cell__odds cell__bookmaker"><span></span></div>
        <div class="cell cell__odds "><span>Goal</span></div>
        <div class="cell cell__odds"><span>First Goal</span></div>
        <div class="cell cell__odds"><span>Last Goal</span></div>
    </li>
    <li class="row">
        <div class="cell cell__players">
            <span>C.Ronaldo</span>
        </div>
        <div class="cell cell__player-odds">
            <div class="row">
                <div class="cell cell__bookmaker">
                    <span>
                         <img src="../assets/img/bovada.png" alt="Bovada"/>
                    </span>
                </div>
                <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                    <span>4.33</span>
                </a>
                <a class="cell cell__odds"><span>3.00</span></a>
                <a class="cell cell__odds"><span>2.OO</span></a>
            </div>
            <div class="row">
                <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/bwin.png" alt="Bwin"/>
                    </span>
                </div>
                <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                    <span>4.33</span>
                </a>
                <a class="cell cell__odds"><span>3.00</span></a>
                <a class="cell cell__odds"><span>2.OO</span></a>
            </div>
            <div class="row">
                <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/ladbrokes.png" alt="Ladbrokes"/>
                    </span>
                </div>
                <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                    <span>4.33</span>
                </a>
                <a class="cell cell__odds"><span>3.00</span></a>
                <a class="cell cell__odds"><span>2.OO</span></a>
            </div>
        </div>
    </li>
    <li class="row">
        <div class="cell cell__players">
            <span>k.Benzema</span>
        </div>
        <div class="cell cell__player-odds">
            <div class="row">
                <div class="cell cell__bookmaker">
                    <span>
                         <img src="../assets/img/bovada.png" alt="Bovada"/>
                    </span>
                </div>
                <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                    <span>4.33</span>
                </a>
                <a class="cell cell__odds"><span>3.00</span></a>
                <a class="cell cell__odds"><span>2.OO</span></a>
            </div>
            <div class="row">
                <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/bwin.png" alt="Bwin"/>
                    </span>
                </div>
                <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                    <span>4.33</span>
                </a>
                <a class="cell cell__odds"><span>3.00</span></a>
                <a class="cell cell__odds"><span>2.OO</span></a>
            </div>
            <div class="row">
                <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/ladbrokes.png" alt="Ladbrokes"/>
                    </span>
                </div>
                <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                    <span>4.33</span>
                </a>
                <a class="cell cell__odds"><span>3.00</span></a>
                <a class="cell cell__odds"><span>2.OO</span></a>
            </div>
        </div>
    </li>
</ul>