<ul class="mdl-list ls-list ls-odds ls-odds-v2 ls-odds-over-under">
    <li class="row row--head">
        <div class="cell cell__bookmaker"><span>1,5 Goal(s)</span></div>
        <div class="cell cell__odds"><span>Over</span></div>
        <div class="cell cell__odds"><span>Under</span></div>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="{{ basePath }}../assets/img/bookmakers/bet-365.png" alt="Bookmaker"/>
        </div>
        <a href="" class="cell cell__odds cell__odds--won">
            <span>3.00</span>
        </a>
        <a href="" class="cell cell__odds cell__odds--lost">
            <span>2.00</span>
        </a>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="{{ basePath }}../assets/img/bookmakers/betway.png" alt="Bookmaker"/>
        </div>
        <a href="" class="cell cell__odds cell__odds--best">
            <span>3.00</span>
        </a>
        <a href="" class="cell cell__odds cell__odds--best">
            <span>2.00</span>
        </a>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="{{ basePath }}../assets/img/bookmakers/codere.png" alt="Bookmaker"/>
        </div>
        <a href="" class="cell cell__odds">
            <span>3.00</span>
        </a>
        <a href="" class="cell cell__odds">
            <span>2.00</span>
        </a>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="{{ basePath }}../assets/img/bookmakers/betfair.png" alt="Bookmaker"/>
        </div>
        <a href="" class="cell cell__odds">
            <span>-</span>
        </a>
        <a href="" class="cell cell__odds">
            <span>-</span>
        </a>
    </li>
</ul>
