<div class="mdl-tabs mdl-js-tabs mdl-layout--fixed-tabs mdl-js-ripple-effect">
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect ls-odds-tabs">
        <a href="#tab1" class="mdl-tabs__tab mdl-layout__tab is-active">Real Madrid</a>
        <a href="#tab2" class="mdl-tabs__tab mdl-layout__tab">Saint-Etienne</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="tab1">
        <ul class="mdl-list ls-list ls-odds ls-odds-tabs">
        <li class="row row--head">
            <div class="cell"></div>
            <div class="cell cell__odds cell__bookmaker"><span></span></div>
            <div class="cell cell__odds "><span>Goal</span></div>
            <div class="cell cell__odds"><span>First Goal</span></div>
            <div class="cell cell__odds"><span>Last Goal</span></div>
        </li>
        <li class="row">
            <div class="cell cell__players">
                <span>C.Ronaldo</span>
            </div>
            <div class="cell cell__player-odds">
                <div class="row">
                    <div class="cell cell__bookmaker">
                        <span>
                             <img src="../assets/img/bovada.png" alt="Bovada"/>
                        </span>
                    </div>
                    <a class="cell cell__odds">
                         <span class="cell__odds--arrow">
                            <span class="icon-arrow-up"></span>
                        </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                        <span>
                            <img src="../assets/img/bwin.png" alt="Bwin"/>
                        </span>
                    </div>
                    <a class="cell cell__odds">
                         <span class="cell__odds--arrow">
                            <span class="icon-arrow-up"></span>
                        </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                        <span>
                            <img src="../assets/img/ladbrokes.png" alt="Ladbrokes"/>
                        </span>
                    </div>
                    <a class="cell cell__odds">
                         <span class="cell__odds--arrow">
                            <span class="icon-arrow-up"></span>
                        </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="cell cell__players">
                <span>K. Benzema</span>
            </div>
            <div class="cell cell__player-odds">
                <div class="row">
                    <div class="cell cell__bookmaker">
                        <span>
                             <img src="../assets/img/bovada.png" alt="Bovada"/>
                        </span>
                    </div>
                    <a class="cell cell__odds">
                         <span class="cell__odds--arrow">
                            <span class="icon-arrow-up"></span>
                        </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                        <span>
                            <img src="../assets/img/bwin.png" alt="Bwin"/>
                        </span>
                    </div>
                    <a class="cell cell__odds">
                         <span class="cell__odds--arrow">
                            <span class="icon-arrow-up"></span>
                        </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                        <span>
                            <img src="../assets/img/ladbrokes.png" alt="Ladbrokes"/>
                        </span>
                    </div>
                    <a class="cell cell__odds">
                         <span class="cell__odds--arrow">
                            <span class="icon-arrow-up"></span>
                        </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                </div>
            </div>
        </li>
    </ul>
    </div>

    <div class="mdl-tabs__panel" id="tab2">
        <ul class="mdl-list ls-list ls-odds ls-odds-tabs">
        <li class="row row--head">
            <div class="cell"></div>
            <div class="cell cell__odds cell__bookmaker"><span></span></div>
            <div class="cell cell__odds "><span>Goal</span></div>
            <div class="cell cell__odds"><span>First Goal</span></div>
            <div class="cell cell__odds"><span>Last Goal</span></div>
        </li>
        <li class="row">
            <div class="cell cell__players">
                <span>J.Santiago</span>
            </div>
            <div class="cell cell__player-odds">
                <div class="row">
                    <div class="cell cell__bookmaker">
                    <span>
                         <img src="../assets/img/bovada.png" alt="Bovada"/>
                    </span>
                    </div>
                    <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                        <span>2.33</span>
                    </a>
                    <a class="cell cell__odds"><span>1.00</span></a>
                    <a class="cell cell__odds"><span>3.OO</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/bwin.png" alt="Bwin"/>
                    </span>
                    </div>
                    <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>1.00</span></a>
                    <a class="cell cell__odds"><span>3.OO</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/ladbrokes.png" alt="Ladbrokes"/>
                    </span>
                    </div>
                    <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                    <a class="cell cell__odds"><span>1.OO</span></a>
                </div>
            </div>
        </li>
        <li class="row">
            <div class="cell cell__players">
                <span>F.Oubalé</span>
            </div>
            <div class="cell cell__player-odds">
                <div class="row">
                    <div class="cell cell__bookmaker">
                    <span>
                         <img src="../assets/img/bovada.png" alt="Bovada"/>
                    </span>
                    </div>
                    <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                    <a class="cell cell__odds"><span>1.00</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/bwin.png" alt="Bwin"/>
                    </span>
                    </div>
                    <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>2.00</span></a>
                </div>
                <div class="row">
                    <div class="cell cell__bookmaker">
                    <span>
                        <img src="../assets/img/ladbrokes.png" alt="Ladbrokes"/>
                    </span>
                    </div>
                    <a class="cell cell__odds">
                     <span class="cell__odds--arrow">
                        <span class="icon-arrow-up"></span>
                    </span>
                        <span>4.33</span>
                    </a>
                    <a class="cell cell__odds"><span>3.00</span></a>
                    <a class="cell cell__odds"><span>1.00</span></a>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>