<ul class="mdl-list ls-list ls-odds">
    <li class="row row--head">
        <div class="cell"><span>Half Time/Full Time <b>1/1</b></span></div>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="../assets/img/bovada.png" alt="Bovada"/>
        </div>
        <a class="cell cell__odds">
            <span>2.00</span>
        </a>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="../assets/img/bwin.png" alt="Bwin"/>
        </div>
        <a class="cell cell__odds">
             <span class="cell__odds--arrow">
                <span class="icon-arrow-down"></span>
            </span>
            <span>2.00</span>
        </a>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="../assets/img/ladbrokes.png" alt="Ladbrokes"/>
        </div>
        <a class="cell cell__odds">
             <span class="cell__odds--arrow">
                <span class="icon-arrow-down"></span>
            </span>
            <span>2.00</span>
        </a>
    </li>
</ul>
