@import "ls-list-cells";

.ls-list {
  .row {
    width: 100%;
    display: flex;
    font-weight: 300;
    align-content: stretch;
    align-items: stretch;

    > a {
      width: 100%;
      display: flex;
      align-content: stretch;
      align-items: center;
      text-decoration: none;
    }

    a {
      &:active {
        background-color: $ls-list-pressed-color;
      }
    }

    &.row--highlight {
      animation-name: progressiveHighlight;
      animation-duration: 6s;
    }

    &.row--head {
      background: #f7f7f7;

      .cell {
        align-items: center;

        &--content-left {
          padding-left: $ls-list-heading-h-padding;
          padding-right: $ls-list-heading-h-padding;
          justify-content: left;
        }

        &--content-right {
          padding-left: $ls-list-heading-h-padding;
          padding-right: $ls-list-heading-h-padding;
          justify-content: right;
        }
      }
    }

    &.row--visual-block {
      background: $ls-advertisement-bg-color;
      border-bottom: lighten($ls-list-border-color, 5%);
      font-size: $ls-advertisement-font-size;
      color: $ls-advertisement-font-color;

      .cell {
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-transform: uppercase;
        padding: 5px 10px 10px 10px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &.row--divider {

      justify-content: flex-start;
      align-content: flex-start;
      line-height: 32px;
      border: none;

      &.row--divider--center {
        align-items: center;
        justify-content: center;
      }

      .cell {
        display: flex;
        flex: none;
        align-items: center;
        flex-grow: 0;
        padding: 0;

        &:first-child {
          padding-left: 13px;
        }

        &__league-name,
        &__league-stage {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }


        &__league-name {
          font-weight: 400;
          padding-right: 4px;
          flex-shrink: 50;

          > a {
            color: $ls-divider-title-color;
          }
        }

        &__league-stage {
          flex-shrink: 50;
        }

        &__divider-title {
          font-weight: 400;
          padding-right: 4px;
        }
      }
    }



    .icon-star {

      &.is-active {
        color: $ls-star-active;
      }
    }
  }

  // This class is to clear floating columns in standing tables see LIMO-268
  &--clear {
    clear: both;
  }
}
