.ls-odds {
  background: $ls-color-white;
  font-size: 12px;

  a {
    display: block;
    text-decoration: none;
    color: $ls-odds-link-color;
    font-weight: inherit;
  }

  &.mdl-list > li {
    > a {
      color: $ls-odds-link-color;
    }
  }

  .row {
    padding: 0;

    .cell {
      padding: 8px 0;
      border-right:$ls-list-border;
      display: flex;
      justify-content: center;
      align-items: center;

      &__bookmaker {
        padding: 3px 10px;
        justify-content: flex-start;

        img {
          max-width: 60px;
          height: auto;
          margin-right: $ls-odds-img-margin;
        }
      }

      &__odds {
        flex: 0 0 50px;
        position: relative;

        &--arrow {
          position: absolute;
          top: 9px;
          left: 1px;
          font-size: 9px;

          .icon-arrow-down {
            color:#C80000;
          }
          .icon-arrow-up {
            color:#7AB748;
          }
        }


        &--won {
          background: $ls-color-event-won-bg;
        }

        &--lost {
          background: $ls-color-event-lost-bg;
        }

        &--best {
          font-weight: 600;
        }

      }
    }

    &--head {
      background: $ls-color-white !important;
      color: lighten($ls-text-color, 10%);

      .cell {
        padding: 4px 0;
      }
    }
  }

  &.ls-odds-v2 {

    .row {

      .cell {
        border-right-width: 0;

        &__bookmaker,
        &__bonus {
          flex: 0 0 29%;
          box-sizing: border-box;
        }

        &__odds,
        &__bonus {

          > span,
          .bonus-text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            border-radius: 4px;
            color: $new-match-odds-widget-text-color;
            font-size: 12px;
            font-weight: 400;
            box-sizing: border-box;
            border: 2px solid transparent;
          }
        }

        &__bookmaker {
          text-align: center;
          justify-content: center;
          padding: 7px 4px;
        }

        &__odds {
          flex: 11.11%;
          padding: 7px 4px;

          &--best > span {
            border-color: $new-match-odds-widget-light-green;
            background-color: fade-out($new-match-odds-widget-light-green, 0.75%);
            font-weight: 600;
          }

          &--won,
          &--lost {
            background-color: transparent;
          }

          &--won {
            > span {
              background-color: fade-out($new-match-odds-widget-light-green, 0.5%);
            }
          }

          &--lost {
            > span {
              background-color: fade-out($new-match-odds-widget-light-red, 0.5%);
            }
          }
        }

        &__bonus {
          padding: 7px 4px;

          .bonus-text {
            font-size: 14px;
            font-weight: 600;
            background-color: $new-match-odds-widget-bonus-bg;
          }
        }
      }

      &--head {
        background-color: #eaeaea !important;

        .cell {
          white-space: normal;
          font-weight: bold;
          line-height: 1.25;
          padding-top: 5px;
          padding-bottom: 5px;

          &__bookmaker {
            justify-content: center;
            text-align: center;
            padding-right: 7px;
            padding-left: 7px;
          }

          &__odds {
            background-color: $new-match-odds-widget-heading-bg;

            > span {
              font-size: 14px;
              color: white;
            }

            &--draw {
              background-color: $new-match-odds-widget-heading-bg-accent;
            }
          }

          &__bonus {
            background-color: $new-match-odds-widget-heading-bg-accent;
            color: $new-match-odds-widget-bonus-bg;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            padding-right: 7px;
            padding-left: 7px;

            > span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  &.ls-odds-over-under {

    .row {
      .cell {
        &__bookmaker {
          flex: 0 0 40%;
        }
      }

      &--head {
        .cell {

          > span {
            font-weight: 600;
            height: auto;
            font-size: 11px;
          }

          &__bookmaker {
            justify-content: flex-start;
          }

          &__odds {
            background-color: transparent;

            > span {
              color: $ls-text-color;
            }
          }
        }
      }
    }
  }
}



.ls-odds-tabs {

  .row {

    .cell {

      &__player {
        align-items: stretch;
      }

      &__player-odds {
        flex-flow: column;
        flex:0 0 184px ;
        padding: 0;

        .row {

          .cell {
            flex: 0 0 50px;
            box-sizing: border-box;

            &__bookmaker {
              flex: 0 0 35px;
              padding:0 5px;

              span {
                width: 100%;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    &--head {

      .cell {
        white-space: normal;
        box-sizing: border-box;
        text-align: center;
        line-height: 12px;
        padding: 3px 3px;

        &__bookmaker {
          flex: 0 0 35px;
        }
      }
    }
  }
}

.ls-odds-tabs {
  height: auto;
}
