.progress-top-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .progressbar__legend-value {

    &:last-child {
      align-items: flex-end;
    }

    &:nth-child(2):not(:last-child) {
      align-items: center;
    }
  }
}

.progressbar__legend-value {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;

  .legend, .number {
  }

  .legend {
    font-size: 13px;
    font-weight: normal;
    //font-weight: $text-weight-bold - 100;
    line-height: 1;
    margin-bottom: 3px;
    word-wrap: anywhere;
  }

  .number {
    font-weight: $ls-font-weight-bold;
  }

  &.progressbar__legend-value--highlighted {
    .number {
      color: $ls-primary-color;
      font-weight: $ls-font-weight-bold;
    }
  }
}

.progress {
  display: flex;
  height: .4rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;

  @media(min-width:$screen-sm-min) {
    height: .6rem;
  }

  .progress-bar {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
  }
}
