// Helpers

.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }
.text-justify        { text-align: justify !important; }
.text-nowrap         { white-space: nowrap !important; }

// Text primary links color
.text-primary {
  color: $ls-primary-color;

  a {
    color: $ls-primary-color;

    &:hover {
      color: $ls-primary-color;
    }
  }
}

.text-semi-bold      { font-weight: $ls-font-weight-medium; }
.text-bold           { font-weight: $ls-font-weight-bold; }

// Images
.my-100 { max-height: 100% !important; }
.mh-100 { max-width: 100% !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: $ls-font-size-base !important; }
.mt-2 { margin-top: $ls-font-size-base + (($ls-font-size-base / 5)*2) !important; }
.mt-3 { margin-top: $ls-font-size-base + (($ls-font-size-base / 5)*3) !important; }
.mt-4 { margin-top: $ls-font-size-base + (($ls-font-size-base / 5)*4) !important; }
.mt-5 { margin-top: $ls-font-size-base * 2 !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: $ls-font-size-base !important; }
.mb-2 { margin-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*2) !important; }
.mb-3 { margin-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*3) !important; }
.mb-4 { margin-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*4) !important; }
.mb-5 { margin-bottom: $ls-font-size-base * 2 !important; }

.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: $ls-font-size-base !important; }
.ml-2 { margin-left: $ls-font-size-base + (($ls-font-size-base / 5)*2) !important; }
.ml-3 { margin-left: $ls-font-size-base + (($ls-font-size-base / 5)*3) !important; }
.ml-4 { margin-left: $ls-font-size-base + (($ls-font-size-base / 5)*4) !important; }
.ml-5 { margin-left: $ls-font-size-base * 2 !important; }

.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: $ls-font-size-base !important; }
.mr-2 { margin-right: $ls-font-size-base + (($ls-font-size-base / 5)*2) !important; }
.mr-3 { margin-right: $ls-font-size-base + (($ls-font-size-base / 5)*3) !important; }
.mr-4 { margin-right: $ls-font-size-base + (($ls-font-size-base / 5)*4) !important; }
.mr-5 { margin-right: $ls-font-size-base * 2 !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: $ls-font-size-base !important; }
.pt-2 { padding-top: $ls-font-size-base + (($ls-font-size-base / 5)*2) !important; }
.pt-3 { padding-top: $ls-font-size-base + (($ls-font-size-base / 5)*3) !important; }
.pt-4 { padding-top: $ls-font-size-base + (($ls-font-size-base / 5)*4) !important; }
.pt-5 { padding-top: $ls-font-size-base * 2 !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: $ls-font-size-base !important; }
.pb-2 { padding-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*2) !important; }
.pb-3 { padding-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*3) !important; }
.pb-4 { padding-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*4) !important; }
.pb-5 { padding-bottom: $ls-font-size-base * 2 !important; }
