// Helpers

.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }
.text-justify        { text-align: justify !important; }
.text-nowrap         { white-space: nowrap !important; }

// Text primary links color
.text-primary a {
  color: $ls-primary-color;

  &:hover {
    color: $ls-primary-color;
  }
}

.text-semi-bold      { font-weight: $ls-font-weight-medium; }
.text-bold           { font-weight: $ls-font-weight-bold; }


.mt-1 { margin-top: $ls-font-size-base; }
.mt-2 { margin-top: $ls-font-size-base + (($ls-font-size-base / 5)*2); }
.mt-3 { margin-top: $ls-font-size-base + (($ls-font-size-base / 5)*3); }
.mt-4 { margin-top: $ls-font-size-base + (($ls-font-size-base / 5)*4); }
.mt-5 { margin-top: $ls-font-size-base * 2; }

.mb-1 { margin-bottom: $ls-font-size-base; }
.mb-2 { margin-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*2); }
.mb-3 { margin-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*3); }
.mb-4 { margin-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*4); }
.mb-5 { margin-bottom: $ls-font-size-base * 2; }

.pt-1 { padding-top: $ls-font-size-base; }
.pt-2 { padding-top: $ls-font-size-base + (($ls-font-size-base / 5)*2); }
.pt-3 { padding-top: $ls-font-size-base + (($ls-font-size-base / 5)*3); }
.pt-4 { padding-top: $ls-font-size-base + (($ls-font-size-base / 5)*4); }
.pt-5 { padding-top: $ls-font-size-base * 2; }

.pb-1 { padding-bottom: $ls-font-size-base; }
.pb-2 { padding-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*2); }
.pb-3 { padding-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*3); }
.pb-4 { padding-bottom: $ls-font-size-base + (($ls-font-size-base / 5)*4); }
.pb-5 { padding-bottom: $ls-font-size-base * 2; }
