<li class="row row--divider ls-divider">
	<div class="cell cell__divider-title cell__flag ls-divider__title"><img class="ls-divider__flag" src="{{ basePath }}../assets/img/flag-fr.png" alt="France"></div>
	<div class="cell cell__league-name">{{ divider_title ? divider_title : 'Ligue 1' }}</div>
	{% if divider_description %}
		<div class="cell cell__league-stage ls-divider__description">- {{ divider_description }}</div>
	{% endif %}
	<div class="cell cell__spacer ls-divider__spacer"></div>
</li>