<li class="row row--divider ls-divider">
	<div class="cell cell__flag ls-divider__title"><img class="ls-divider__flag" src="{{ basePath }}../assets/img/flag-dk.png" alt="Denmark"></div>
	<div class="cell ls-divider__game-type ls-divider__game-type--mixed-double"></div>
	<div class="cell cell__league-name">Denmark Danmarksserien</div>
	<div class="cell cell__league-stage ls-divider__description">- Groupe 2 phase 1</div>
	<div class="cell cell__spacer ls-divider__spacer"></div>
	<div class="cell cell__standing-icon ls-divider__right-nav">
		<a href="#"><span class="ls-divider__icon icon-standings"></span></a>
		<a href="#"><span class="ls-divider__icon icon-star active"></span></a>
	</div>
</li>