<div class="ls-divider ls-divider--inline">
	<div class="ls-divider__title"><img class="ls-divider__flag" src="{{ basePath }}../assets/img/flag-fr.png" alt="France">Ligue 1</div>
	<div class="ls-divider__description">- Matchday 26</div>
</div>

