<div class="ls-user-profile-header">
	<div class="user-avatar">
		<div class="img-rounded">
			<img src="{{ basePath }}../assets/img/avatar4.png" alt="User Avatar">
		</div>
	</div>
	<div class="user-info">
		<span class="user-name">Jean Lane</span>
		<span class="user-desc">Member since 3 month</span>
	</div>
	<div class="user-position">46th</div>
</div>