<article class="ls-article">
    <div class="mdl-card mdl-shadow--2dp ls-news-card">
        <a href="#" class="mdl-card__title" style="background-image:url('/assets/img/article-thumb-1.jpeg'); ">
            <div class="ls-news-card__infos">
                <span class="news-category">League 1</span>
                <span class="news-date">Thu. March 10 - 13:45</span>
            </div>
        </a>

        <div class="mdl-card__supporting-text">

                <span class="article-data">By [author name]</span>
                <h1>2014 World Cup : five questions regarding the french team players list for Brazil</h1>

                <p class="introduction">
                    Didier Deschamps a donc tranché et l'annonce des 23 Bleus sèlectionnés pour défendre les couleurs de l'equipe du France lors de cette Coupe de Monde 2014 au Brésil n'a accouché d'aucune véritable surprise.
                </p>
                <h2>Coupe du Monde 2014: Les 23 Brésiliens</h2>
                <p><strong>Gardiens :</strong> Michael Landeau (SC Bastia), Hugo Lloris (Tottenham), Steve Mandanda (Marseille).</p>
                <p><strong>Défenseurs :</strong> Mathieu Dubuchy (Newcastle), Lucas Digne (PSG), Patrice Evra (Manchester United), Laurent Koscielny (Arsenal), Eliaquim Mangala (FC Porto), Bacary Sagna (Arsenal), Mamodou Sakho (Liverpool), Raphael Varene (Real Madrid).</p>
                <span class="subtitle">Coupe du Monde 2014: Les 23 Brésiliens</span>
                <p><strong>Milieux :</strong> Yohan Cabaye (PSG), Clément Grenier (Lyon), Blaise Matuidi (PSG), Rio Mavuba (Liille), Paul Pogba (Juventus), Moussa Sissoko (Newcastle), Mathieu Valbuena (Marseille).</p>

        </div>

    </div>
</article>
