<!-- Tabs -->
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
  <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Summary</a>
  <a href="#scroll-tab-2" class="mdl-layout__tab">Calendar</a>
  <a href="#scroll-tab-3" class="mdl-layout__tab">Standings</a>
</div>