<main class="mdl-layout__content{{ ls_content_variables ? ' ' ~ ls_content_variables : '' }}">
	{% block page_content_before %}
	{% endblock %}
  <div class="page-content">
		{% block main_content %}
		{% endblock %}
  </div>
	{% block page_content_after %}
	{% endblock %}
</main>