.mdl-calendar{
	overflow: visible;
	padding: 0;
	will-change: inherit;

	input[type="text"]{
		@include typo-preferred-font(true);
		font-size: $ls-button-font-size;
		font-weight: 300;
		height: $button-height;
		padding: 0;
		margin: 0;
		border: 0;
		width: 100%;
		background: transparent;
		appearance: none;
		outline: none;
		text-align: center;
		text-transform: capitalize;
		cursor: pointer;
		color: $button-secondary-color;
		position: relative;
		z-index: 2;
	}

	//Calendar icon inside button
	&:after{
		content: '\e60a';
		font-family: "LSicons";
		font-size: 20px;
		position: absolute;
		z-index: 1;
		right: 20px;
		top: 0;
		color: lighten($button-secondary-color, 25%);
	}

	&.mdl-button--large{

		input[type="text"]{
			line-height: $ls-button-large-size;
			height: $ls-button-large-size;
		}
	}
}

//Js plugin: https://github.com/ch00kz/material-datepicker
.material-datepicker-container{
	width: 100%;
	height: 100%;
	top: 0 !important;
	left: 0 !important;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
	padding: 0 20px;
	box-sizing: border-box;

	&.hide{
		visibility: hidden;
	}
}

.material-datepicker {
	font-family: $preferred_font;
	background-color: $ls-color-white;
	box-shadow: $ls-calendar-shadow;
	transform: scale(1);
	opacity: 1;
	transition: all 0.3s;

	.material-datepicker-container.hide & {
		transform: scale(0.7);
		opacity: 0;
	}

	.material-datepicker-container & {
		border-width: 0;
		position: relative;
		width: 100%;
		max-width: 280px;
		height: auto;
	}

	section.top-date{
		padding: 15px 22px 4px;
		text-align: left;
		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
	}

	section.middle-date{
		padding: 0 22px 13px;
		text-align: left;
		color: $ls-text-color;
		background-color: transparent;
		height: auto;
		border-bottom: 3px solid $ls-green-active-color;
		line-height: 0;
		font-size: 31px;

		> span.date, > span.month, > span.day {
			font-weight: 300;
			font-size: 31px;
			line-height: 37px;
			padding: 0;
			text-transform: none;
		}
	}

	section.calendar{
		padding-bottom: 0;
		line-height: 40px;
		text-align: left;

		.headings{
			padding-top: 10px;
    	line-height: 32px;
		}

		.mdl-button-group{
			border-bottom: 1px solid darken($button-primary-color, 10%);

			.mdl-button{
				background-color: $ls-color-white;

				&:hover{
					background-color: $button-primary-color;
				}
			}
		}

		.days{
			padding: 5px 0;
		}

		.day.heading{
			font-weight: 300;
			font-size: 15px;
			color: darken($ls-color-white, 23%);
		}

		a.day{
			font-size: 15px;
			color: darken($ls-text-color, 11%);
			
			&:hover{
				background-color: darken($ls-color-white, 11%);
			}

			&.today{
				background-color: darken($ls-color-white, 6%);
				color: darken($ls-text-color, 11%);
			}

			&.selected{
				color: $ls-color-white;
				background-color: $ls-green-active-color;
			}
		}
	}
}