.mdl-calendar{
	overflow: visible;
	padding: 0;
	will-change: inherit;
	position: relative;

	.selected-date {
		display: block;
	}

	input[type="date"] {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		display: block;
		opacity: 0;

		// This fixes chrome desktop requiring to click on the
		// arrow icon to trigger the datepicker.
		&::-webkit-calendar-picker-indicator {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	//Calendar icon inside button
	&:after{
		content: '\e60a';
		font-family: "LSicons";
		font-size: 20px;
		position: absolute;
		z-index: 1;
		right: 20px;
		top: 0;
		color: lighten($button-secondary-color, 25%);
	}
}
