// GENERAL ///////////////////////////

.mdl-layout__content {
  width: 100%;
}


.mdl-layout__content {
  width: 100%;
}

.ls-list {
  width: 100%;
  display: table;
  table-layout: fixed;

  .row {
    width: 100%;
    display: table-row;
    padding: 0 !important;
  }

  .cell {
    display: table-cell !important;
    vertical-align: middle;
    text-align: center;
    height: 100%;
  }
}

// CONUTRIES LIST ///////////////////////////

.ls-list-countries {

  .cell {

    &__flag {
      width: 34px !important;
      padding: 10px !important;

    }
    &__country {
      width: 100% !important;
      text-align: left;
      padding-left: 5px !important;

    }
    &__badge {
      width: 50%;
      padding-bottom: 15px !important;

      > span {
        display: block !important;
        min-width: 0 !important;
        width: 45px;
        float: left;

        &:after {
         left:15px;
        }
      }

      > span + span{
        &:after {
          left:25px;
        }
      }
    }
  }
}

