// GENERAL ///////////////////////////

.mdl-layout__content {
  width: 100%;
}

.mdl-layout__content {
  width: 100%;
}

.ls-list {
  width: 100%;
  display: table;
  table-layout: fixed;

  .row {
    width: 100%;
    display: table-row;
    padding: 0 !important;
  }

  .cell {
    display: table-cell !important;
    vertical-align: middle;
    text-align: center;
    height: 100%;
  }
}

.ls-divider {
  .row {
    display: flex;
  }
  .cell {
    display: flex;
  }
}

// COUNTRIES LIST ///////////////////////////

.ls-list-countries {

  .cell {

    &__flag {
      width: 34px !important;
      padding: 10px !important;

    }
    &__country {
      width: 100% !important;
      text-align: left;
      padding-left: 5px !important;

    }
    &__badge {
      width: 50%;
      padding-bottom: 15px !important;

      > span {
        display: block !important;
        min-width: 0 !important;
        width: 45px;
        float: left;

        &:after {
         left:15px;
        }
      }

      > span + span{
        &:after {
          left:25px;
        }
      }
    }
  }
}

// MATCH LISTING ///////////////////////////

.ls-list-matches {

  .cell {
    border: 1px solid blue ;

    &__time {
      min-width: 46px !important;
    }
    &__team {
      min-width: 100% !important;
      width: 100% !important;

    }
    &__score {
      min-width: 54px !important;
    }
    &__caret {
      min-width: 20px !important;
    }
  }
}

// MATCH INCIDENT ///////////////////////////

.ls-list-incidents {

/*  .cell {
    border: 1px solid blue;

    &__incident-minute {
      background: red  !important;
      min-width: 48px !important;
    }
  }*/

  .row--head {
    .cell__team {

      &--team1 {
        padding-left: 10px;
        span {
          float: left;
        }
      }
      &--team2 {
        padding-right: 10px;
        span {
          float: right;
        }
      }
    }
  }

  .row--separator {
    height: 30px;
    width: 100%;

    span {
     display: table-cell !important;
     vertical-align: middle;
     text-align: center;
     width: 100% !important;
    }
  }

  .cell__team 	{
    width: 42% !important;

    // Team 1
    &--team1 .cell__player {
      float:left;
      span {
        width:100%;
        text-align: right;
        float: right;
      }
    }
    &--team1 .cell__player--substitution {
      float: left;
      text-align: right;

      span {
        display: block;
      }
    }
    &--team1 .cell__incident-icon {
      float:right;
    }

    //Team 2
    &--team2 .cell__player {
      float: left;

      span {
        width:100%;
        text-align: left;
        float: left;
      }
    }
    &--team2 .cell__player--substitution {
      float: left;

      span {
        display: block;
      }
    }
    &--team2 .cell__incident-icon {
      float:left;
    }
  }

  .cell__incident-minute 	{
    width: 16% !important;
  }

  .cell__player{
    width: 80% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .cell__incident-icon {
    width: 20% !important;
  }
}

// STANDING TABLE ///////////////////////////

.ls-standing-table {



  &--left {
    width: 50% !important;

    .row--head .cell__team {
      padding-bottom: 6px;
    }
  }

  .cell {

    &__rank {
      width: 25px !important;
    }
    &__stat {
      width: 20px !important;
    }
    &__team {
     width:100%;

      &--flag {
        float: left;
        padding: 0 !important;
        width: 34%;
      }
      &--title {
        padding-bottom: 1px !important;
        a {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          float: left;

          span {
            width: 100%;
            text-align: left;
            float: left;
          }
        }
      }
    }
    &__total-points {
      width: 32px !important;
    }
  }
}