// GENERAL ///////////////////////////

.mdl-layout__content {
  width: 100%;
}


.ls-list {
  width: 100%;

  .row {
    display: block !important;
    box-sizing: border-box;
    width: 100%;

  }

  .cell {
    display: inline-block !important;
    box-sizing: border-box;
    vertical-align: middle !important;
    height: 100%;
  }
}

// MATCH INCIDENTS ///////////////////////////

.ls-list-incidents {

  .row {
    height: 35px;
  }

  .row--head {
    .cell__team--team1 span{
     float: left;
      padding-top: 8px;
    }
    .cell__team--team2 span{
      float: right;
      padding-top: 8px;
    }
    .cell__period{
     background: none;
    }
  }

  .row--separator {
    text-align: center;
  }

  .cell {

    &__team--team1 {
      width: 42%;

    }
    &__incident-icon {
      text-align: center;
      width: 20px;
    }
    &__incident-minute,
    &__period{
      text-align: center;
      width: 16%;
      padding: 12px 0 !important;
    }
    &__team--team2 {
      width: 42%;
    }
    &__player--substitution {
      margin-top: -15px ;

      span {
        display: block;
      }
    }
  }
}

// MATCH COMMENT ///////////////////////////

.ls-list-comments {

  .row {
    min-height: 40px;
  }
  .row--visual-block .cell {
    width: 100%;
  }
  .row--visual-block span,
  .row--visual-block img{
    display: block;
  }
  .cell {
    text-align: center;

    &__comment-minute {
      width: 10%;
    }
    &__comment-icon {
      width: 10%;
      padding: 10px 0 !important;
    }
    &__comment-comment {
      width: 80%;
      text-align: left;
      padding-right: 20px;
    }
  }
}