// GENERAL ///////////////////////////

.mdl-layout__content {
  width: 100%;
}

.mdl-layout__content {
  width: 100%;
}

.ls-list {
  width: 100%;
  display: table;
  table-layout: fixed;

  .row {
    width: 100%;
    display: table-row;
    padding: 0 !important;
  }

  .cell {
    display: table-cell !important;
    vertical-align: middle;
    text-align: center;
    height: 100%;
  }
}

.ls-divider {

  .row {
    display: flex;
  }

  .cell {
    display: flex;

    &__divider-title{
      text-align: left;
    }

    &__league-name{
      text-align: left;
    }

    &__flag{
      width: 30px;
      text-align: left;

      @media #{$ls-high-dpi}, screen and (max-device-width:767px){
        width: 40px;
      }
    }

    &__standing-icon{
      text-align: right;
    }

    &__right-nav{
      display: table-cell;
      text-align: right;
    }
  }

  &__right-nav{
    display: table-cell;
    text-align: right;
  }

  &__sport-icon{
    width: 45px;
    display: table-cell;

    > a{
      display: block;
    }
  }
}

// COUNTRIES LIST ///////////////////////////

.ls-list-countries {

  .cell {

    &__flag {
      width: 34px !important;
      padding: 10px !important;
      border-top: 1px solid $ls-list-border-color;


    }
    &__country {
      width: 100% !important;
      text-align: left;
      padding-left: 5px !important;
      border-top: 1px solid $ls-list-border-color;


    }
    &__badge {
      width: 120px;
      padding-bottom: 15px !important;
      border-top: 1px solid $ls-list-border-color;


      > span {
        display: block !important;
        min-width: 0 !important;
        width: 45px;
        float: left;
        padding-top: 3 !important;

        &:after {
         left:15px;
        }
      }

      > span + span{
        &:after {
          left:25px;
        }
      }
    }
  }
}

// MATCH LISTING ///////////////////////////

.ls-list-matches {

  .row  {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .row > a {
    width: 100%;
    display: table-row !important;
    padding: 0 !important;
  }

  .cell {

    &__time {
      width: 46px !important;
    }
    &__team {
      width: 100% !important;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    &__score {
      width: 54px !important;
    }
    &__caret {
      width: 20px !important;
    }
  }
}

// MATCH DETAILS ///////////////////////////

.ls-list-details {


  .row--head {
    width: 100%;
    display: table;
    table-layout: fixed;

    .cell__team {
      width: 100%;
      display: table-row;
      padding: 0 !important;
      text-align: center;
      line-height: 34px;
      vertical-align: middle;
    }

    .versus {
      padding: 0 4px;
    }
  }

  .row {
    width: 100%;
    display: table;
    table-layout: fixed;

    &--score {
      border-top: 1px solid #fff !important;
    }

    .cell {

      &__details {
        width: 50% !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 5px;
        box-sizing: border-box;
        text-align: left;
        border-right:5px solid #fff;

        &-icon {
          width: 30px;
        }
        &-infos {
          text-align: left;
          padding-left: 10px;
        }
      }
      &__score-box {
        .score-home,
        .versus,
        .score-away {
          display: inline-block !important;
        }
      }
    }
  }
}

// MATCH COMMENT ///////////////////////////

.ls-list-comments {

  .row {
    display: table !important;
  }

  .row {
    &--visual-block span,
    &--visual-block img{
      display: block;
    }
  }

  .cell {

    &__comment-minute {
      width: 40px !important;
    }
    &__comment-icon {
      width: 40px !important;
    }
    &__comment-comment {
      text-align: left;
    }
  }

}

// MATCH INCIDENT ///////////////////////////

.ls-list-incidents {

  .row--head {

    .cell__team {
      border-top: 1px solid $ls-list-border-color;

      &--team1 {
        padding-left: 10px;
        span {
          float: left;
        }
      }
      &--team2 {
        padding-right: 10px;
        span {
          float: right;
        }
      }
    }
  }

  .row--separator {
    display: block;
    width: 240%;
    height: 30px;

    span {
      display: block;
      text-align: center;
      width: 100% !important;
      line-height: 30px;
    }
  }

  .cell__team 	{
    width: 42% !important;
    border-top: 1px solid $ls-list-border-color;

    // Team 1
    &--team1 .cell__player {
      float:left;
      span {
        width:100%;
        text-align: right;
        float: right;
      }
    }
    &--team1 .cell__player--substitution {
      float: left;
      text-align: right;

      span {
        display: block;
      }
    }
    &--team1 .cell__incident-icon {
      float:right;
    }

    //Team 2
    &--team2 .cell__player {
      float: left;

      span {
        width:100%;
        text-align: left;
        float: left;
      }
    }
    &--team2 .cell__player--substitution {
      float: left;

      span {
        display: block;
      }
    }
    &--team2 .cell__incident-icon {
      float:left;
    }
  }

  .cell__incident-minute 	{
    width: 16% !important;
    border-top: 1px solid $ls-list-border-color;
  }

  .cell__player{
    width: 80% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .cell__incident-icon {
    width: 20% !important;
  }
}

// STANDING TABLE ///////////////////////////

.ls-standing-table {
  background: $ls-color-white;


  &--left {
    width: 50% !important;
    border-bottom: 1px solid $ls-dialog-border-color;


    .row {
      border: none;
    }

    .cell {
    border: none;

    &__rank {
      width: 25px !important;
      border-top: 1px solid $ls-dialog-border-color;

    }
    &__stat {
      width: 20px !important;
      border-top: 1px solid $ls-dialog-border-color;
    }
    &__team {
      padding: 4px 0 5px 0 !important;
      width: 100%;
      border-top: 1px solid $ls-dialog-border-color;


      &--flag {
        float: left;
        padding: 0 !important;
        width: 34%;
      }
      &--title {
        padding-bottom: 1px !important;
        a {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          float: left;

          span {
            width: 100%;
            text-align: left;
            float: left;
          }
        }
      }
    }
      &__total-points {
        width: 32px !important;
        border-top: 1px solid $ls-dialog-border-color;
      }
    }

    .row--head {

      .cell {
        border-top: none;
      }
      .cell__team {
        padding-bottom: 6px !important;
      }
    }
  }
}

// ODDS ///////////////////////////

.ls-odds {
  border-bottom: 1px solid $ls-list-border-color;

  .cell {
    border-top: 1px solid $ls-list-border-color;

    &__odds {
      width: 50px !important;
      min-width: 50px;
    }
    &__bookmaker img{
      float:left
    }
  }
}

.ls-odds-tabs {
  border-bottom: 1px solid $ls-list-border-color;

  .cell__bookmaker {
    width: 71px !important;
    min-width: 71px;
  }
}

// TEAM HEADER ///////////////////////////

.ls-team-header {

  .row {
    display: table !important;
    padding: 5px !important;
  }

  .cell {

    &__team--flag {
      width: 86px !important;
    }
  }
}

// EMPTY ///////////////////////////

.ls-empty {
  text-align: center;
  display: block;
  width: 100%;

  span {
    display: block;
    text-align: center;
  }
}

// MATCH LINEUP ///////////////////////////

.ls-grid {
  width: 100%;
  display: table;
  table-layout: fixed;
  height: 100%;

  .row {
    width: 100%;
    padding: 0 !important;
    text-align: center;
    height: 50px;
  }

  .cell {
    display: table-cell !important;
    vertical-align: middle;
    text-align: center;
    height: 100%;

    .player__number {
      text-align: center;
      margin: auto;
    }

    .player__name {
      margin-bottom: 10px;
    }
  }
}

.ls-substitute {}

// TEAM SCORE ///////////////////////////

.ls-list-match-score-header {
  border-bottom: 1px solid $ls-dialog-border-color;

  .row {
    padding: 0 10px !important;
    box-sizing: border-box;

    .cell {

      &__flag {
        width: 43px !important;
      }
      &__team {
        width: 100% !important;

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      &__score-box {
        width: 72px !important;
        padding: 0 10px;

      }
      .versus {
        padding: 0;
      }

    }
  }
}

// OTHER SPORT ///////////////////////////

//FOOT US
.ls-match-listing-footus,
.ls-match-listing-rugby,
.ls-match-listing-tennis {

  .row {
    display: table;

    .cell {

      &__time {
        width: 46px;
        box-sizing: border-box;
        padding-left: 5px;

        &:before {
          margin-top: 5px !important;
        }
      }

      &__opposition__title {
        width: 100%;
        max-width: 100%;
        text-align: left;
        box-sizing: border-box;
        padding-right: 5px;

        span {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      &__score {
        width: 30px;
        min-width: 30px;
      }
    }

    .cell__points {
      display: table !important;
      table-layout: fixed;
      width: 100%;

      > .row {
        display: table-row !important

      }
      .cell__point {
        width: 100%;
        min-width: 100%;
        border-bottom: 1px solid $ls-list-border-color;
      }

      > .row:last-child {

        .cell__point {
          border-bottom: none;
        }
      }
    }
  }
}

.ls-match-listing-baseball {

  &--left {

    width: 55%;

    .row--empty {

      .cell {
        height: 20px;
        line-height: 20px;
      }
    }

    .row {
      display: table !important;
      width: 100%;
      table-layout: fixed;

      .cell {

        &__time {
          width: 46px !important;
          box-sizing: border-box;
          padding-left: 5px;

          &:before {
            margin-top: 5px !important;
          }
        }

        &__opposition__title {
          width: 100%;
          max-width: 100%;
          text-align: left;
          box-sizing: border-box;
          padding-right: 5px;

          span {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        &__score {
          width: 30px;
          min-width: 30px;
        }
      }
    }
  }

  &--right {

    .row--head {
      .cell {
        height: 20px;
        line-height: 20px;
      }
    }
  }
}

//ls-players-standing
.ls-players-standing{

	.ls-divider{
		width: 100%;
		display: table;
		table-layout: fixed;

		.cell__flag{
			display: table-cell;
			vertical-align: middle;
			width: 30px;
		}
	}

	.top-players{

		.player-info{
			display: table;
			table-layout: fixed;
			width: 100%;

			.player{
				display: table-cell;

				.image{
					display: inline-block;
				}
			}
		}

		.player-scores{
			display: table;
			table-layout: fixed;
			width: 100%;

			.player-score{
				display: table-cell;
			}
		}
	}

	.ls-list{

    .row{

      .cell{
				
				&__num{
					width: 38px;
				}

				&__player{
					text-align: left;
				}

				&__goals, &__first, &__pen{
					width: 46px;
				}
      }
    }
  }
}

//ls-player-header
.ls-player-header{
	border-bottom: 1px solid darken($ls-list-border-color, 11.2%);

	.row{

		.cell{

			&__player--image {
				padding: 13px 0 13px 15px;
				width: 99px;
			}

			&__player--info {
				text-align: left;
			}
		}
	}
}

//ls-player-information
.ls-player-information{
	
	.row{
		
		.cell{
			border-top: 1px solid $ls-list-border-color;

			&__record{
				text-align: left;
			}

			&__value{
				text-align: right;
			}

			.club{
				display: inline-block;
			}
		}
	}
}

//ls-team-cards-statistics
.ls-team-cards-statistics{

	.ls-list{

		.row{

			.cell{
				border-bottom: 1px solid $ls-list-border-color;

				&__name{
					text-align: left;
				}

				&__yellow_cards, &__red_cards{
					width: 70px;
				}
			}

			&--head{

				.cell{
					border-bottom: 1px solid $ls-list-border-color;
				}
			}
		}
	}
}

//ls-team-detailed-statistics
.ls-team-detailed-statistics{

	.ls-list{

		.row{

			.cell{
				border-bottom: 1px solid $ls-list-border-color;

				&__name{
					text-align: left;
				}

				&__value{
					width: 70px;
				}
			}

			&--head{

				.cell{
					border-bottom: 1px solid $ls-list-border-color;
				}
			}
		}
	}
}

//ls-team-goals-statistics
.ls-team-goals-statistics{

	.goals-general{
    box-sizing: border-box;
		display: table;
		width: 100%;
		table-layout: fixed;

		.goals{
			display: table-cell;
		}
	}

	.ls-list.ls-list--goals-statistics{

		.row{

			.cell{
				border-bottom: 1px solid $ls-list-border-color;

				&__goals{
          width: 44%;
					position: relative;

					.value{
						position: absolute;
						margin-top: -3px;
					}

					&--conceded{
						text-align: right;

						.bar{
							float: right;
							margin-right: 30px;
							margin-left: 20px;
						}

						.value{
							right: 10px;
						}
					}

					&--scored{
						text-align: left;

						.bar{
							float: left;
							margin-left: 30px;
							margin-right: 20px;
						}

						.value{
							left: 10px;
						}
					}
				}
			}

			&__half-time{
			  display: block;
        width: 228%;
        border-top-width: 0;

        .cell{
          display: block !important;
        }
			}

			&--head{

				.cell{
					border-top: 1px solid $ls-list-border-color;
					border-bottom: 1px solid $ls-list-border-color;
				}
			}
		}
	}
}

//ls-team-over-under-statistics
.ls-team-over-under-statistics{

	.row{

		.cell{
			border-bottom: 1px solid $ls-list-border-color;

			&__stat{

				.graph{

					.circle{
						display: inline-block;
            line-height: ($ls-team-over-under-stats-second-size - 7px);
						width: $ls-team-over-under-stats-second-size;
            height: $ls-team-over-under-stats-second-size;

            &--first{
              line-height: ($ls-team-over-under-stats-first-size - 7px);
              height: $ls-team-over-under-stats-first-size;
             	width: $ls-team-over-under-stats-first-size;
            }
					}

          .percent{
            display: block;
          }
				}
			}
		}
	}
}

//ls-team-roster
.ls-team-roster{

  .row{

    .cell{
      border-bottom: 1px solid $ls-list-border-color;

      &__rank{
        width: 38px;
      }

      &__player{
        text-align: left;
      }

      &__number{
        width: 40px;
      }
    }
  }
}

//ls-team-shirts
.ls-team-shirts{
  display: table;
  width: 100%;
  table-layout: fixed;

  .shirt{
    display: table-cell;
  }
}

//ls-match-statistics
.ls-possesion-graph{
  
  .ls-col{
    display: table-column;

    &--value{
      width: 10%;
    }

    &--graph{
      width: 80%;
    }
  }

  .row{

    &--title{
      display: block;
      width: 996%;

      > .cell{
        display: block !important;
      }
    }

    .cell{

      &__graph{
        width: 80%;
      }
    }
  }
}

.ls-match-statistics-list{

  > .row{

    > .cell{

      > .row{
        display: table;

        .cell{

          &__value{
            width: 50px;
          }

          &__graph{

            &--home{

              .bar{
                float: right;
              }
            }
           
            &--away{

              .bar{
                float: left;
              }
            }
          }
        }
      }
    }
  }
}

//ls-list-favorite-sortable
.ls-list-favorite-sortable{

  //Column definition
  .ls-col{
    display: table-column;

    &--flag{
      width: 40px;
    }

    &--team{
      width: 80%;
    }

    &--drag, &--favorite{
      width: 40px;
    }
  }
  
  .row{
    
    &__team{
      
      .cell{
        border-bottom: $ls-list-border;

        &__flag {
          text-align: left;
          width: 40px;
          box-sizing: content-box;
        }

        &__team {
          text-align: left;
        }

        &__drag, &__favorite {
          width: 40px;
        }

        &:first-child{
          padding-left: 14px;
        }

        &:last-child{
          padding-left: 10px;
        }
      }

      &--placeholder{
        display: none;
      }

      &.ui-sortable-helper{
        width: 100% !important;

        .cell__flag{
          width: 40px;
        }

        .cell__drag, .cell__favorite{
          width: 40px;
        }
        
        .cell__team{
          width: 85%;
        }
      }
    }

    &--definition{

      .cell{
        padding: 0;
      }
    }
  } 
}

//match-betting-tips
.match-betting-tips{

  .row{

    .cell{
      border-bottom: $ls-list-border;

      &__img{
        width: 50px;
        padding-top: 20px;
        padding-bottom: 20px;

        @media #{$ls-high-dpi}, screen and (max-device-width:767px) {
          width: 100px;
        }
      }

      &__text{
        padding: 20px 20px 20px 0;
        text-align: left;
      }
    }
  }
}

//ls-player-statistics
.ls-player-statistics{

  .player-stats{
    table-layout: fixed;
    width: 100%;
    display: table;

    .top-stats{
      display: table-row;
    }

    .bottom-stats{
      display: block;
      width: 300%;
    }

    .indicator, .cards{
      display: table-cell;
    }

    .cards{
      width: 10%;

      .number{
        float: right;

        > span{
          display: inline-block;
        } 
      }
    }
  }

  .ls-list{

    .row{

      .cell{
        border-bottom: $ls-list-border;

        &__league{
          text-align: left;
        }

        &__minutes, &__shirts, &__goals, &__yellow_cards, &__red_cards{
          width: 40px;
        }
      }
    }
  }
}

//comments-widget
.comments-widget{

  .comments{
    display: block;
  }

  .comment{
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    width: 100%;

    .row{

      .cell{

        &__avatar{
          vertical-align: top;
          width: 17%;
        }

        &__content{
          text-align: left;
        }
      }

      &__comment-actions{
        display: block;
        width: 590%;

        .cell{
          width: 10%;

          &__left-actions{
            text-align: left;

            button{
              text-align: left;
            }
          }

          &__right-actions{
            text-align: right;
          }
        }
      }
    }
  }

  .comment-compose{
    display: table;
    table-layout: fixed;

    .comment-input{
      display: table-cell;
      vertical-align: top;
    }

    .comment-submit{
      display: table-cell;
      vertical-align: top;
      width: 64px;
    }
  }
}

//ls-player-matches-listing

.ls-player-matches-listing{

  .total-goals{
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;

    .title, .icon, .counter{
      display: table-cell;
      vertical-align: middle;
    }

    .icon{
      width: 40px;
    }

    .counter{
      width: 70px;
    }
  }

  .ls-divider{
    width: 100%;
    display: table;
    table-layout: fixed;

    .cell__flag{
      display: table-cell;
      vertical-align: middle;
      width: 30px;
    }

    &__right-nav{
      vertical-align: middle;
    }
  }

  .ls-list-matches{

    .ls-col{
      display: table-column;

      &--date{
        width: 45px;
      }

      &--minute{
        width: 45px;
      }
    }

    .row{
      display: table-row;

      .cell{
        border-bottom: $ls-list-border;
      }
    }
  }
}

//Snackbar
.mdl-snackbar {
  display: table;
  table-layout: fixed;

  &__icon{
    display: table-cell;
    vertical-align: middle;
  }

  &__text{
    display: table-cell;
    vertical-align: middle;
  }

  &__action{
    display: table-cell;
    vertical-align: middle;
  }
}