.comments-widget{
  padding: 15px 15px ($ls-comment-thread-compose-height + 40px);

  .comments{
    padding: 0;
  }

  .comment{
    list-style: none;
    background-color: $ls-color-white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
    padding: 10px 14px 0;
    margin-bottom: 13px;

    .row{

      &__comment-body{
        border-bottom: 1px solid darken($ls-color-white, 5%);
      }

      .cell{

        &__avatar{
          flex: 0 0 $ls-comment-thread-avatar-size;
        }

        &__content{
          min-width: 0;
          padding-left: 15px;

          .row{

            .cell{
              padding: 0;
            }
          }
        }
      }

      &__comment-actions{

        .cell{
          padding: 0;
          display: flex;
          align-items: center;

          &__right-actions{
            justify-content: flex-end;
          }

          button{
            padding: 0 10px;
            line-height: 38px;
            height: 38px;
            color: $ls-green-active-color;
            font-size: ls-font-size(1px);
            font-weight: $ls-font-weight-light;
            text-decoration: none;

            .icon{
              font-size: ls-font-size(7px, 'large');
              margin-right: 4px;
              vertical-align: middle;
            }
          }

          .mdl-button--reply{
            
            .icon{
              margin-right: 1px;
              position: relative;
              top: -2px;
            }
          }

          &__report{
        
            button{
              
              .icon{
                font-size: $ls-font-size-large;
                color: darken($ls-grey-contrast, 1.3%);
                margin-right: 4px;
              }

              .text{
                color: darken($ls-grey-contrast, 14%);
                font-size: ls-font-size(2px,'small');
              }
            }
          }
        }
      }
    }

    &__avatar{
      padding-top: 5px;
      width: $ls-comment-thread-avatar-size;
      height: $ls-comment-thread-avatar-size;

      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  
    &__header{
      white-space: nowrap;

      a{
        text-decoration: none;
      }
    }

    &__author{
      display: block;
      font-size: ls-font-size(2px);
      font-weight: 600;
      color: $ls-green-active-color;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__date{
      display: block;
      margin-left: 9px;
      float: right;
      font-size: ls-font-size(1px, 'small');
      color: darken($ls-grey-contrast, 11.8%);
    }

    &__text{
      font-size: $ls-font-size-large;
      line-height: ls-font-size(5px, 'large');
      color: lighten($ls-color-black, 1%);

      .mention{
        color: $ls-green-active-color;
        font-weight: 600;
      }
    }

    &--own-comment{
      background-color: $ls-comment-thread-own-color;

      .row{

        &__comment-body{
          border-color: darken($ls-comment-thread-own-color, 5%);
        }

        &__comment-actions{

          .cell{

            button{

              &:active, &:hover{
                background-color: darken($ls-comment-thread-own-color, 5%);
              }
            }
          }
        }
      }
    }
  }

  .comment-compose{
    padding: 0 15px;
    background-color: rgba(244, 244, 244, 0.91);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;

    .mdl-layout--fixed-drawer:not(.is-small-screen) & {
      left: $layout-drawer-width;
      width: calc(100% - #{$layout-drawer-width});
    }
    
    .comment-input{
      flex: 1 1 100%;
      min-width: 0;
      
      .mdl-textfield{
        display: block;
        width: 100%;

        &__input{
          min-width: 0;
          height: ($ls-comment-thread-compose-height - 21px);
        }
      }
    }

    .comment-submit{
      flex: 0 1 auto;
      padding: 20px 10px 20px 10px;

      .mdl-button{
        height: $ls-comment-thread-compose-height;
      }
    }
  }
}