.ls-article {

  /* Page Help */
  .mdl-collapsible {
    margin: 20px 0;
    border-top-width: 1px;
  }

  img{
  	max-width: 100%;
  	height: auto !important;
  }

  h1 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: normal;
    letter-spacing: normal;
    margin-bottom: 24px;
  }

  h2,
  h3,
  h4,
  h5 {
    line-height: normal;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 20px;
    line-height: 1.5;
  }

  h3 {
    font-size: 18px;
    line-height: 1.67;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }

  a {
    color: $ls-text-color;
    text-decoration: underline;
    font-weight: 600;

    &:hover {
      color: $ls-primary-color;
    }
  }

  img {
    margin-bottom: 16px;
  }

  // Ordered list
  ol {
    list-style: none;
    counter-reset: ordered-list-counter;
    margin: 0 0 30px;
    padding: 0;
    box-sizing: border-box;

    li {
      display: block;
      position: relative;
      counter-increment: ordered-list-counter;
      padding: 0 0 0 $ordered-list-item-padding;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      margin: 0 0 26px;
      color: #5c5c5c;

      &:before {
        position: absolute;
        top: -1px;
        left: 0;
        display: block;
        content: counter(ordered-list-counter);
        width: $ordered-list-number-size;
        height: $ordered-list-number-size;
        font-size: $ordered-list-number-text-size;
        font-weight: 600;
        text-align: center;
        line-height: $ordered-list-number-size;
        color: white;
        background-color: $ordered-list-number-color;
        border-radius: 50%;
      }

      strong {
        display: block;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 12px;
        line-height: 26px;
      }
    }
  }

  // Blockquote
  .blockquote {
    position: relative;
    margin: 0 auto 32px;
    padding: $blockquote-padding;
    box-sizing: border-box;
    border-left-width: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDMyIDI4Ij4gICAgPHBhdGggZmlsbD0iI0YwRjBGMCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMjkgMTRoLTV2LTRjMC0yLjIwNiAxLjc5NC00IDQtNGguNWMuODMxIDAgMS41LS42NjkgMS41LTEuNXYtM2MwLS44MzEtLjY2OS0xLjUtMS41LTEuNUgyOGMtNS41MjUgMC0xMCA0LjQ3NS0xMCAxMHYxNWEzIDMgMCAwIDAgMyAzaDhhMyAzIDAgMCAwIDMtM3YtOGEzIDMgMCAwIDAtMy0zem0tMTggMEg2di00YzAtMi4yMDYgMS43OTQtNCA0LTRoLjVjLjgzMSAwIDEuNS0uNjY5IDEuNS0xLjV2LTNjMC0uODMxLS42NjktMS41LTEuNS0xLjVIMTBDNC40NzUgMCAwIDQuNDc1IDAgMTB2MTVhMyAzIDAgMCAwIDMgM2g4YTMgMyAwIDAgMCAzLTN2LThhMyAzIDAgMCAwLTMtM3oiLz48L3N2Zz4=);
    background-position: top left;
    background-size: 32px 28px;
    background-repeat: no-repeat;
    letter-spacing: normal;

    &:after,
    &:before {
      display: none;
    }

    p {
      font-weight: $blockquote-font-weight;
      font-style: italic;
      line-height: $blockquote-line-height;
      font-size: $blockquote-font-size;
      color: $blockquote-text-color;
      margin: 0;
    }

    div.blockquote-details {
      padding-left: 0;
      margin-top: 5px;

      p {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        color: $ls-text-color;

        strong {
          font-weight: bold;
        }
      }
    }

    &.blockquote-highlight {
      background: none;
      padding: $blockquote-highlight-padding;

      &:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 50%;
        height: 4px;
        background-color: #f0f0f0;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: $blockquote-highlight-text-size;
        line-height: $blockquote-highlight-line-height;
        color: $blockquote-highlight-color;
      }
    }
  }

  div.blockquote-details {
    display: block;
    margin-top: -30px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;

    a {
      color: $ls-text-color;
      text-decoration: underline;

      &:hover {
        color: $ls-primary-color;
        text-decoration: underline;
      }
    }
  }

  div.blockquote-alert {
    p {
      margin: 0 auto 40px;
      padding: $blockquote-alert-padding;
      background-color: $blockquote-alert-bg-color;
      border-left: $blockquote-alert-border-width solid $blockquote-alert-border-color;
      color: $blockquote-alert-text-color;
      box-sizing: border-box;

      .news-article .content-section & {
        a {
          color: $blockquote-alert-text-color;
          text-decoration: underline;

          &:hover,
          &:visited {
            color: $blockquote-alert-text-color;
            text-decoration: underline;
          }
        }
      }
    }
  }

  ul.table-of-content {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    li {
      display: block;
      border-bottom: 1px solid #eaeaea;
      padding: 0;
      margin: 0;

      &:before {
        display: none;
      }

      &:last-child {
        border-bottom-width: 0;
      }

      a {
        position: relative;
        display: block;
        padding: 12px 0 12px 47px;
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
        color: $ls-primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        position: absolute;
        display: inline-block;
        top: 6px;
        left: 0;
        width: 38px;
        height: calc("100% - 13px");
        border-right: 1px solid #eaeaea;
        font-weight: 600;
        line-height: 1.7;
        text-align: center;
        margin-right: 12px;
      }
    }
  }
}

.ls-article-heading {
  padding-top: 10px;
  padding-bottom: 15px;

  h1 {
    padding-left: $article-general-padding;
    padding-right: $article-general-padding;
  }

  img {
    margin-bottom: 0;
  }
}

.ls-article-body {
  padding: $article-general-padding;
  font-size: 16px;
  line-height: 1.5;
}
