.ls-match-listing-tennis {

  font-size: 12px;
  overflow: hidden;
  background: $ls-color-white;

  .row {
    padding: 0;
    box-sizing: border-box;
    border: 0;

    .cell {
      box-sizing: border-box;
      padding: 0;
      border-right: $ls-list-border;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .row--match {
    border-bottom: $ls-list-border;

    &.event-live {

      .cell {

        &__score {
          color: $ls-color-live;
        }

        &__time {
          color: $ls-color-live;

          &:before {
            content: '';
            display: block;
            float: left;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $ls-color-live;
            margin-right: 4px;
            margin-top: 5px;
            @extend .blinking;
          }
        }
      }

      &.paused {
        .match-list {

          &__time {

            &:before {
              background: darken($ls-color-white, 30%);
              @extend .animation-reset;
            }
          }
        }
      }
    }

    &.event-won {
      background: $ls-color-event-won-bg;
    }

    &.event-lost {
      background: $ls-color-event-lost-bg;
    }

    &.event-draw {
      background: $ls-color-event-draw-bg;
    }

    &--selected {
      background: $ls-row-selected-color;
    }

    .cell {

      &__time {
      }

      &__opposition {
        flex-flow: column;
        justify-content: flex-start;

        &__title {
          padding: 5px;
          position: relative;
          display: flex;

          span {
            display: flex;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            flex: 1;
          }

          .icon-tennis {
            color: #FFC000;
            display: flex;
            flex: 0 0 12px;
          }
        }
      }

      &__score {
        flex: 0 0 32px;
      }

      &__points {
        flex-flow: column;
        justify-content: flex-start;
      }

      &__point {
        position: relative;
        height:27px;
      }

      &__point-detail {
        position: absolute;
        right: 0px;
        bottom: -7px;
        font-size: 6px;
        margin: 3px;
      }

      .win {
        font-weight: 500;
      }
    }

    &.tennis-double {

      .cell {

        &__opposition {

          &__title {
            display: block;

            span {
              display: block;
              line-height: 14px;
            }
          }
        }

        .icon-tennis {
          position: absolute;
          right: 5px;
          top: 35%;
        }

        &__point {
          height: 38px
        }
      }
    }
  }

  /* Border */
  .row--match {

    .cell__time,
    .cell__opposition > .row,
    .cell__points > .row {
      border-bottom: $ls-list-border;
    }
  }
}
