<div class="ls-404">
    <div class="ls-404__image">
        <img src="{{ basePath }}../assets/img/404-error.svg" alt="404 Image">
    </div>
    <h2>
        Error 404<br/>
        Target missed !
    </h2>
    <p>
        The requested page does not exist
    </p>

    <!-- Colored raised button -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        RETURN TO HOME
    </button>
</div>