{% extends "layouts/default-layout.twig" %}
	
{# Page variables #}
{% set basePath = '../' %}
{% set page_title = 'Player Goals' %}
{% set ls_header_brand_logo = true %}
{% set player_match_listing_basic = true %}


{% set main_content %}
		<div class="mdl-button mdl-button--raised mdl-button--large mdl-button__select mdl-button--block">
		    <select>
		        <option value="0">General</option>
		        <option value="1">Option 2</option>
		        <option value="2">Option 3</option>
		        <option value="3">Option 4</option>
		    </select>
		</div>

    {% include 'blocks/sports/player/player_matches_listing.html.twig' %}

{% endset %}