<div class="ls-redirect">
    <div class="redirect-icon">
        <i class="icon material-icons">phonelink_erase</i>
        <i class="arrow icon material-icons">chevron_right</i>
        <i class="icon material-icons">laptop_mac</i>
    </div>
    <h2>
        Page not optimized for mobile.<br/>
        Go to full page ?
    </h2>
    <p>
        This page is not optimized for mobile view, you’re accessing the full page
    </p>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        BACK TO HOME
    </button>

    <!-- Colored raised button -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        GO TO PAGE
    </button>
</div>