.card--head-to-head {
  .progressbar__legend-value {
    min-width: 70px;
  }

  .head-to-head__intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: $spacer-5;
  }

  .head-to-head__intro__team {
    font-weight: $ls-font-weight-bold;
    text-align: center;

    img {
      margin: $spacer-2 auto;
      display: block;
    }
  }

  .head-to-head__intro__hero {
    text-align: center;

    strong {
      display: block;
      font-size: $ls-font-size-large;
      margin-bottom: 5px;
    }

    small {
      font-size: $ls-font-size-small;
    }
  }

  .progressbar__legend-value {
    .number {
      font-weight: $ls-font-weight-light;
    }

    &.highlighted .number {
      font-weight: $ls-font-weight-bold;
      color: $ls-primary;
    }

    .legend {
      text-transform: lowercase;
    }
  }

  .progress {
    height: 6px;

    .progress-bar {
      background-color: $ls-primary;
    }

    .progress-bar--tied {
      background-color: $ls-warning;
    }
  }

  .card__footer {
    text-align: center;
    font-weight: $ls-font-weight-bold;
    a {
      color: $ls-link-color;
    }
  }
}
