@import "competition-standing";
@import "match-postprediction";
@import "match-summary";
@import "match-statistics";
@import "participant-forms";
@import "participant-head-to-head";
@import "partner-list";