.ls-forgot-password{
	padding: 20px;

	&__title{
		font-weight: $ls-font-weight-light;
		font-size: ls-font-size(8px,'large');
		line-height: ls-font-size(10px,'large');
		display: block;
		text-align: center;
		margin: 25px 0 23px;
	}

	&__description{
		text-align: center;
		font-size: ls-font-size(2px);
		line-height: ls-font-size(5px,'large');
		font-weight: $ls-font-weight-light;
		display: block;
		margin-bottom: 15px;
	}

	.mdl-textfield{
		display: block;
		width: 100%;
	}
}

//Bottom fixed button
.ls-forgot-password-button{
	padding: 20px;
}