<div class="mld-data-table ls-data-table ls-standing-table">
    <div class="ls-standing-table--left">

        <div class="row row-head">
            <div class="cell cell-head-rank">
                #
            </div>
            <div class="cell cell-head-stat ">
                <span class="ls-icon">D</span>
            </div>
            <div class="cell cell-head-team">
               Team
            </div>
            <div class="cell cell-head-points">
                Pts
            </div>
        </div>


        <div class="row row--selected">
            <div class="cell cell--rank cell--rank--standing-green">
                1
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--positive">+1</span>
            </div>
            <div class="cell cell--team">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/psg.png" alt="PSG">
                </div> 
                <div class="cell--team__title"> 
                    <span>PSG</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                38
            </div>
        </div>

        <div class="row">
            <div class="cell cell--rank cell--rank--standing-clear-green">
                2
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--positive"></span>
            </div>
            <div class="cell cell--team">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/monaco.png" alt="Monaco">
                </div> 
                <div class="cell--team__title"> 
                    <span>Monaco</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32
            </div>
        </div>
        <div class="row">
            <div class="cell cell--rank cell--rank--standing-blue">
                2
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--negative"></span>
            </div>
            <div class="cell cell--team">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/marseille.png" alt="Marseille">
                </div> 
                <div class="cell--team__title"> 
                    <span>Marseille</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32
            </div>
        </div>
        <div class="row">
            <div class="cell cell--rank cell--rank--standing-clear-blue">
                2
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--negative">-2</span>
            </div>
            <div class="cell cell--team live">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/saint-etienne.png" alt="Saint Etienne">
                </div> 
                <div class="cell--team__title "> 
                    <span>Saint Etienne text </span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32
            </div>
        </div>
        <div class="row">
            <div class="cell cell--rank cell--rank--standing-grey">
                2
            </div>
            <div class="cell cell--stat ">
                <span class=""></span>
            </div>
            <div class="cell cell--team live">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/bordeaux.png" alt="Bordeaux">
                </div> 
                <div class="cell--team__title "> 
                    <span>Bordeaux</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32

            </div>
            <div class="cell__point-detail">
                P
            </div>
        </div>
        <div class="row">
            <div class="cell cell--rank cell--rank--standing-orange">
                2
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--negative">-2</span>
            </div>
            <div class="cell cell--team ">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/montpellier.png" alt="Montpellier">
                </div> 
                <div class="cell--team__title "> 
                    <span>Montpellier</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32
            </div>
        </div>
        <div class="row">
            <div class="cell cell--rank cell--rank--standing-clear-orange">
                2
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--negative">-2</span>
            </div>
            <div class="cell cell--team ">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/reims.png" alt="Reims">
                </div> 
                <div class="cell--team__title "> 
                    <span>Reims</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32
            </div>
        </div>
        <div class="row">
            <div class="cell cell--rank cell--rank--standing-red">
                2
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--negative">-2</span>
            </div>
            <div class="cell cell--team live">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/evian.png" alt="Evian">
                </div> 
                <div class="cell--team__title "> 
                    <span>Evian</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32
            </div>
        </div>
        <div class="row">
            <div class="cell cell--rank cell--rank--standing-clear-red">
                2
            </div>
            <div class="cell cell--stat ">
                <span class="cell--stat--negative"></span>
            </div>
            <div class="cell cell--team ">
                <div class="cell--team__flag"> 
                    <img src="../assets/img/toulouse.png" alt="Toulouse">
                </div> 
                <div class="cell--team__title "> 
                    <span>Toulouse</span> 
                </div> 
            </div>
            <div class="cell cell--points">
                32
            </div>
        </div>
    </div>
</div>

