<div class="mdl-data-table ls-data-table ls-standing-table">
        <div class="ls-standing-table--left">
            {#Header#}
            <div class="row row-head">
                <div class="cell cell-head-rank">
                    #
                </div>
                <div class="cell cell-head-stat ">
                    <span class="icon-arrow-up-down"></span>
                </div>
                <div class="cell cell-head-team">
                   Team
                </div>
                <div class="cell cell-head-points">
                    Pts
                </div>
            </div>

            {#Team#}
            <div class="row row--selected">
                <div class="cell cell--rank cell--rank--standing-green">
                    1
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--up">+1</span>
                </div>
                <div class="cell cell--team">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/psg.png" alt="PSG">
                    </div> 
                    <div class="cell--team__title"> 
                        <span>PSG</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-clear-green">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--up"></span>
                </div>
                <div class="cell cell--team">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/monaco.png" alt="Monaco">
                    </div> 
                    <div class="cell--team__title"> 
                        <span>Monaco</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-blue">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--down"></span>
                </div>
                <div class="cell cell--team">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/marseille.png" alt="Marseille">
                    </div> 
                    <div class="cell--team__title"> 
                        <span>Marseille</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-clear-blue">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--down">-2</span>
                </div>
                <div class="cell cell--team live">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/saint-etienne.png" alt="Saint Etienne">
                    </div> 
                    <div class="cell--team__title "> 
                        <span>Saint Etienne text </span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-grey">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class=""></span>
                </div>
                <div class="cell cell--team live">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/bordeaux.png" alt="Bordeaux">
                    </div> 
                    <div class="cell--team__title "> 
                        <span>Bordeaux</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32

                </div>
                <div class="cell__point-detail">
                    P
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-orange">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--down">-2</span>
                </div>
                <div class="cell cell--team ">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/montpellier.png" alt="Montpellier">
                    </div> 
                    <div class="cell--team__title "> 
                        <span>Montpellier</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-clear-orange">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--down">-2</span>
                </div>
                <div class="cell cell--team ">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/reims.png" alt="Reims">
                    </div> 
                    <div class="cell--team__title "> 
                        <span>Reims</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-red">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--down">-2</span>
                </div>
                <div class="cell cell--team live">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/evian.png" alt="Evian">
                    </div> 
                    <div class="cell--team__title "> 
                        <span>Evian</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32
                </div>
            </div>
            <div class="row">
                <div class="cell cell--rank cell--rank--standing-clear-red">
                    2
                </div>
                <div class="cell cell--stat ">
                    <span class="cell--stat--down"></span>
                </div>
                <div class="cell cell--team ">
                    <div class="cell--team__flag"> 
                        <img src="../assets/img/toulouse.png" alt="Toulouse">
                    </div> 
                    <div class="cell--team__title "> 
                        <span>Toulouse</span> 
                    </div> 
                </div>
                <div class="cell cell--points">
                    32
                </div>
            </div>
        </div>

        <div class="ls-standing-table--right">

           {# <div class="ls-standing-table--right__content">#}
                {#Header#}
                <div class="row row-head">
                    <div class="cell cell-head-point">
                        P
                    </div>
                    <div class="cell cell-head-point">
                        W
                    </div>
                    <div class="cell cell-head-point">
                        D
                    </div>
                    <div class="cell cell-head-point">
                        L
                    </div>
                    <div class="cell cell-head-point">
                        GF
                    </div>
                    <div class="cell cell-head-point">
                        GA
                    </div>
                    <div class="cell cell-head-point">
                        +/-
                    </div>
                    <div class="cell cell-head-point">
                        M
                    </div>
                </div>

                {#Point#}
                <div class="row row--selected">
                    <div class="cell cell--point">
                        38
                    </div>
                    <div class="cell cell--point">
                        38
                    </div>
                    <div class="cell cell--point">
                        38
                    </div>
                    <div class="cell cell--point">
                        38
                    </div>
                    <div class="cell cell--point">
                        38
                    </div>
                    <div class="cell cell--point">
                        38
                    </div>
                    <div class="cell cell--point">
                        38
                    </div>
                    <div class="cell cell--point">
                        38
                    </div>
                </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
            <div class="row">
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
                <div class="cell cell--point">
                    38
                </div>
            </div>
        {#</div>#}
        </div>
    </div>
</div>

