.ls-season-button{
	font-size: 10px;
	outline: none;
	background: url("../assets/img/calendar-container.png") no-repeat;
	background-position: center 18px;
	background-size: 25px 24px;

	&:active{
		background-color: darken($ls-color-white, 10%);
	}

	.mdl-layout__header & {
		padding-left: 5px;
		padding-right: 5px;
		color: $ls-primary-color;
	}

	@media screen and (max-width: $layout-screen-size-threshold) {
		background-position: center 11px;
	}
}

.ls-hidden-select {

	font-size: $ls-button-font-size;

	&:focus,
	&:active{
		font-size: $ls-button-font-size;
	}
}
