.ls-divider {
	background-color: $ls-divider-bg;
	font-size: $ls-divider-font-size;
	height: $ls-divider-height;
	line-height: $ls-divider-height;
	padding: $ls-divider-padding;
	display: flex;

}

//Title
.ls-divider__title{
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.ls-divider__description{
	padding-left: 5px;
	flex-shrink: 50;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	font-weight: 300;
	color: darken($ls-color-white, 30%);
}

//Middle spacer
.ls-divider__spacer{
	flex-grow: 1;
}

//Right navigation
.ls-divider__right-nav{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;

	> a{
		text-decoration: none;
		outline: none;
		padding: 0 10px;
		color: darken($ls-color-white, 43%);
		white-space: nowrap;

		&:hover{
			background-color: darken($ls-divider-bg, 5.2%);
		}
	}
}

//Right navigation text link
.ls-divider__right-nav-link{
	min-width: 50px;
	font-weight: 300;
	text-align: center;
}

//Divider icon styles
.ls-divider__icon{
	color: $ls-divider-icon-color;
	font-size: $ls-divider-icon-size;
	vertical-align: middle;

	.ls-divider__title & {
		margin-right: 9px;
		line-height: $ls-divider-height - 1px;
	}

	.ls-divider__right-nav & {
		color: darken($ls-color-white, 48.8%);
		font-size: $ls-divider-right-nav-icon-size;
	}
  
  &.ls-divider__icon--live {
	color: $ls-color-live;
  }
  
}

//Flags images
.ls-divider__flag{
	vertical-align: middle;
	max-height: 14px;

	.ls-divider__title & {
		margin-right: 9px;
	}
}

//Counter
.ls-divider__counter{
	font-size: ls-font-size(4px,'large');
	padding: 0 10px;
	color: lighten($ls-text-color, 2%);
}

//Sport icon
.ls-divider__sport-icon{
	display: flex;
	
	> a{
		padding: 0 8px;
		margin-right: 13px;
		text-decoration: none;
		outline: none;
		background-color: darken($ls-divider-bg, 5.2%);
	}
}

//Game type icon
.ls-divider__game-type{
	display: flex;
	width: $ls-divider-game-type-icon-size;
	margin-right: 5px;
	width: $ls-divider-game-type-icon-size + 7px;
	justify-content: center;

	&:before, 
	&:after{
		font-family: $ls-icons-font;
		font-size: $ls-divider-game-type-icon-size;
	}

	&--women{

		&:before{
			content: '\e62a';
			color: $ls-user-female-color;
		}
	}

	&--men{

		&:before{
			content: '\e619';
			color: $ls-user-male-color;
		}
	}

	&--mixed-double {
		
		&:before,
		&:after{
			letter-spacing: -4px;
    	margin-left: -2px;
		}
	}

	&--women-double,
	&--men-double {
		
		&:before,
		&:after{
			letter-spacing: -6px;
	    margin-left: -3px;
  	}
	}

	&--women-double{

		&:before{
			content: '\e62a\e62a';
			color: $ls-user-female-color;
		}
	}

	&--men-double{

		&:before{
			content: '\e619\e619';
			color: $ls-user-male-color;
		}
	}

	&--mixed-double{

		&:before{
			content: '\e619';
			color: $ls-user-male-color;
		}

		&:after{
			content: '\e62a';
			color: $ls-user-female-color;
		}
	}
}