.ls-player-matches-listing{

  .total-goals{
    background: url("#{$ls-img-path}/green-field-horizontal.png");
    padding: 30px 20px;
    display: flex;
    align-items: center;

    @media #{$ls-retina} {
      background-image: url("#{$ls-img-path}/green-field-horizontal-2x.png");
    }

    .title{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
      color: rgba(255, 255, 255, 0.57);
      font-size: ls-font-size(8px, 'large');
      font-weight: $ls-font-weight-light;
    }

    .icon{
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      color: #abd07b;
      font-size: ls-font-size(21px, 'large');
    }

    .counter{
      padding-left: 5px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      font-size: ls-font-size(46px, 'large');
      font-weight: $ls-font-weight-thin;
      color: $ls-color-white;
    }
  }

  .ls-list-matches{

    .row{

      .cell{

        &__date{
          display: flex;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 45px;
          justify-content: center;
          align-items: center;
        }

        &__team{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          &--team1{
            align-items: flex-end;
          }
        }

        &__score{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__minute{
          padding: 0;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 45px;
          text-align: center;
          font-weight: $ls-font-weight-medium;

          > span{
            display: block;
            padding-top: 13px;
            padding-bottom: 13px;
            background-color: $ls-player-matches-listing-minute-bg;
          }

          > span + span{
            border-top: 1px solid #f7f7f7;
          }
        }
      }

      &--head{

        .cell{
          padding-top: 7px;
          padding-bottom: 7px;
          background-color: $ls-color-white;
          font-weight: $ls-font-weight-light;
        }
      }
    }
  }
}