<div class="mdl-button-group mdl-button-group--block">
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
		<span class="mdl-button__icon icon-caret-left"></span>
	</a>
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--wide">
		<span class="mdl-button__value">Grid 10</span><span class="mdl-button__icon mdl-button__icon-right icon-caret-down"></span>
	</a>
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
		<span class="mdl-button__icon icon-caret-right"></span>
	</a>
</div>

<div class="ls-contest-grid-goals-statistics">
	<div class="grid-stats grid-stats--prediction-done">
		<div class="title">Prediction done</div>
		<div class="values">
			<span class="value value--big">7</span>
			<span class="slash">/</span>
			<span class="value">20</span>
		</div>
	</div>
</div>