<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col ">
        <div class="mdl-typography--headline">On the web</div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

    </div>

</div>

