.ls-head-to-head {

  .row {

    .cell {
      display: flex;
      justify-content: center;
      align-items: center;

      .circle {
        border-radius: 50%;
        background-color: lighten($ls-text-color, 13.1%);
        color:$ls-color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:22px;

        &--first {
          width:60px;
          height:60px;
        }
        &--second {
          width:40px;
          height:40px;
        }
        &--third {
          width:32px;
          height:32px;
        }
        &--fourth {
          width:20px;
          height:20px;
          font-size:12px;
        }
        &--five {
          width:20px;
          height:20px;
          font-size:12px;
        }
        &--gray1 {
          background-color: darken($ls-color-white, 13.1%);
        }
        &--gray2 {
          background-color: darken($ls-color-white, 30.5%);
        }
        &--gray3 {
          background-color: darken($ls-color-white, 32.4%);
        }
        &--success {
          background-color:$ls-primary-color;
        }
        &--danger {
          background-color:$ls-color-live;
        }
      }
    }
    &--infos {

      .cell {
        padding-top:0;

        &.win{
          color:$ls-primary-color;
        }

        &.draw{
          color:lighten($ls-text-color, 32.4%);
        }

        &.lost{
          color:$ls-color-live;
        }
      }
    }
  }
}

