.ls-list-incidents {

  /*
    li {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
    }
  */

  background: $ls-color-white;

  .row {
    background: $ls-color-white;
    border-bottom: #E8E8E8;
    padding: 0 14px;

    .cell {

    }
  }

  .row--separator{
    display: flex;
    justify-content: center;
    background: #f7f7f7;
    border-bottom: lighten($ls-list-border-color, 5%);
  }

  .row--head{
    background: #f7f7f7;
    border-bottom: lighten($ls-list-border-color, 5%);

    .cell {

      &__team {

          &--team1{
            justify-content: flex-start;
          }
          &--team2{
            justify-content: flex-end;
          }
      }

      &__period {
        flex: 0 0 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#FAFAFA;
      }

    }
  }

  .row--details {

    .cell {

      &__team {

        &--team1{
          justify-content: flex-start;
        }
        &--team2{
          justify-content: flex-end;
        }
      }

      &__period {
        flex: 0 0 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#FAFAFA;
      }

    }

    .team-home {
      flex: 1;
      display: flex;

      .team-home--player {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .action-icon {
      flex: 0 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        max-height: 14px;
        max-width: 14px;
      }

    }

    .team-away {
      flex: 1;
      display: flex;

      .team-away--player {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &.substitution {

      .team-home--player {
        padding: 10px 0;
      }

      .team-away--player {
        padding: 8px 0;
      }

      span {
        line-height: 15px;
      }

    }

  }
}

