<div class="ls-team-roster">

    {% include 'blocks/dividers/divider-simple.twig' with {
        'divider_title': 'Goalkeepers'
    } %}

    <ul class="mdl-list ls-list">
        <li class="row row--head">
            <div class="cell cell__num">Num</div>
            <div class="cell cell__player">Player</div>
            <div class="cell cell__shirt"><span class="sprite-icons shirt"></span></div>
            <div class="cell cell__goals"><span class="sprite-icons goal"></span></div>
            <div class="cell cell__yellow_cards"><span class="sprite-icons yellow-card"></span></div>
            <div class="cell cell__red_cards"><span class="sprite-icons red-card"></span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>16</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min1.png" alt="Player 1"><a href="#"><span class="name">Sergio Ramos</span></a></div>
            <div class="cell cell__shirt"><span>16</span></div>
            <div class="cell cell__goals"><span>16</span></div>
            <div class="cell cell__yellow_cards"><span>16</span></div>
            <div class="cell cell__red_cards"><span>16</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>22</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_no_image_min.png" alt=""><a href="#"><span class="name">Marcelo</span></a></div>
            <div class="cell cell__shirt"><span>22</span></div>
            <div class="cell cell__goals"><span>22</span></div>
            <div class="cell cell__yellow_cards"><span>22</span></div>
            <div class="cell cell__red_cards"><span>22</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>20</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min2.png" alt=""><a href="#"><span class="name">Alvaro Arbeloa</span></a></div>
            <div class="cell cell__shirt"><span>20</span></div>
            <div class="cell cell__goals"><span>20</span></div>
            <div class="cell cell__yellow_cards"><span>20</span></div>
            <div class="cell cell__red_cards"><span>20</span></div>
        </li>
    </ul>

    {% include 'blocks/dividers/divider-simple.twig' with {
        'divider_title': 'Defenders'
    } %}

    <ul class="mdl-list ls-list">
        <li class="row">
            <div class="cell cell__num"><span>16</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min1.png" alt="Player 1"><a href="#"><span class="name">Sergio Ramos</span></a></div>
            <div class="cell cell__shirt"><span>16</span></div>
            <div class="cell cell__goals"><span>16</span></div>
            <div class="cell cell__yellow_cards"><span>16</span></div>
            <div class="cell cell__red_cards"><span>16</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>22</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_no_image_min.png" alt=""><a href="#"><span class="name">Marcelo</span></a></div>
            <div class="cell cell__shirt"><span>22</span></div>
            <div class="cell cell__goals"><span>22</span></div>
            <div class="cell cell__yellow_cards"><span>22</span></div>
            <div class="cell cell__red_cards"><span>22</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>20</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min2.png" alt=""><a href="#"><span class="name">Alvaro Arbeloa</span></a></div>
            <div class="cell cell__shirt"><span>20</span></div>
            <div class="cell cell__goals"><span>20</span></div>
            <div class="cell cell__yellow_cards"><span>20</span></div>
            <div class="cell cell__red_cards"><span>20</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>9</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min3.png" alt=""><a href="#"><span class="name">Nacho Fernandez</span></a></div>
            <div class="cell cell__shirt"><span>9</span></div>
            <div class="cell cell__goals"><span>9</span></div>
            <div class="cell cell__yellow_cards"><span>9</span></div>
            <div class="cell cell__red_cards"><span>9</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>14</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min4.png" alt=""><a href="#"><span class="name">Fabio Coentrao</span></a></div>
            <div class="cell cell__shirt"><span>14</span></div>
            <div class="cell cell__goals"><span>14</span></div>
            <div class="cell cell__yellow_cards"><span>14</span></div>
            <div class="cell cell__red_cards"><span>14</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>11</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_no_image_min.png" alt=""><a href="#"><span class="name">Danilo</span></a></div>
            <div class="cell cell__shirt"><span>22</span></div>
            <div class="cell cell__goals"><span>22</span></div>
            <div class="cell cell__yellow_cards"><span>22</span></div>
            <div class="cell cell__red_cards"><span>22</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>8</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min5.png" alt=""><a href="#"><span class="name">Denis Cheryshev</span></a></div>
            <div class="cell cell__shirt"><span>19</span></div>
            <div class="cell cell__goals"><span>19</span></div>
            <div class="cell cell__yellow_cards"><span>0</span></div>
            <div class="cell cell__red_cards"><span>19</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>16</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min6.png" alt=""><a href="#"><span class="name">Jese Rodriguez</span></a></div>
            <div class="cell cell__shirt"><span></span></div>
            <div class="cell cell__goals"><span></span></div>
            <div class="cell cell__yellow_cards"><span></span></div>
            <div class="cell cell__red_cards"><span></span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>22</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min6.png" alt=""><a href="#"><span class="name">Borja Mayoral</span></a></div>
            <div class="cell cell__shirt"><span>22</span></div>
            <div class="cell cell__goals"><span>22</span></div>
            <div class="cell cell__yellow_cards"><span>0</span></div>
            <div class="cell cell__red_cards"><span>22</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>20</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_no_image_min.png" alt=""><a href="#"><span class="name">Alvaro Arbeloa</span></a></div>
            <div class="cell cell__shirt"><span>20</span></div>
            <div class="cell cell__goals"><span>20</span></div>
            <div class="cell cell__yellow_cards"><span>20</span></div>
            <div class="cell cell__red_cards"><span>20</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>9</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min7.png" alt=""><a href="#"><span class="name">Lucas Vazquez</span></a></div>
            <div class="cell cell__shirt"><span>9</span></div>
            <div class="cell cell__goals"><span>9</span></div>
            <div class="cell cell__yellow_cards"><span>9</span></div>
            <div class="cell cell__red_cards"><span>9</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>14</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_no_image_min.png" alt=""><a href="#"><span class="name">Fabio Coentrao</span></a></div>
            <div class="cell cell__shirt"><span>14</span></div>
            <div class="cell cell__goals"><span>14</span></div>
            <div class="cell cell__yellow_cards"><span>14</span></div>
            <div class="cell cell__red_cards"><span>14</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>11</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min8.png" alt=""><a href="#"><span class="name">Danilo</span></a></div>
            <div class="cell cell__shirt"><span>22</span></div>
            <div class="cell cell__goals"><span>22</span></div>
            <div class="cell cell__yellow_cards"><span>22</span></div>
            <div class="cell cell__red_cards"><span>22</span></div>
        </li>
        <li class="row">
            <div class="cell cell__num"><span>8</span></div>
            <div class="cell cell__player"><img src="../assets/img/player_min9.png" alt=""><a href="#"><span class="name">Denis Cheryshev</span></a></div>
            <div class="cell cell__shirt"><span>19</span></div>
            <div class="cell cell__goals"><span>19</span></div>
            <div class="cell cell__yellow_cards"><span>19</span></div>
            <div class="cell cell__red_cards"><span>19</span></div>
        </li>
    </ul>
</div>