{% include 'blocks/dividers/divider-simple.twig' with {
    'divider_title': 'Over / Under Statistics'
} %}

<ul class="mdl-list ls-list ls-team-over-under-statistics">
    <li class="row">
        <div class="cell cell__name"><span>OVER 2.5 Goals</span></div>
        <div class="cell cell__stat">
            <div class="date"><span>2013 / 14</span></div>
            <div class="graph">
                <div class="circle circle--second"><span class="value">18</span></div>
                <span class="percent">53%</span>
            </div>
        </div>
        <div class="cell cell__stat">
            <div class="date"><span>2014 / 15</span></div>
            <div class="graph">
                <div class="circle circle--first circle--success"><span class="value">25</span></div>
                <span class="percent">74%</span>
            </div>
        </div>
    </li>
    <li class="row">
        <div class="cell cell__name"><span>UNDER 2.5 Goals</span></div>
        <div class="cell cell__stat">
            <div class="date"><span>2013 / 14</span></div>
            <div class="graph">
                <div class="circle circle--first"><span class="value">16</span></div>
                <span class="percent">53%</span>
            </div>
        </div>
        <div class="cell cell__stat">
            <div class="date"><span>2014 / 15</span></div>
            <div class="graph">
                <div class="circle circle--second circle--success"><span class="value">9</span></div>
                <span class="percent">74%</span>
            </div>
        </div>
    </li>
</ul>