<ul class="mdl-list ls-list ls-team-header">
    <li class="row">
        <div class="cell cell__team--flag">
            <span class="icon-placeholder"><img src="{{ basePath }}../assets/img/psg.png" alt="PSG"></span>
        </div>
        <div class="cell cell__team--infos">
            <div class="team-title">
                <span>Paris Saint germain</span>
                <div class="favorite-star">
                    <a href="#" class="fav active">
                        <span class="icon-star"></span>
                    </a>
                </div>
            </div>
            <a href="" class="team-country">
                <span class="icon-placeholder"><img class="country-flag" src="{{ basePath }}../assets/img/flag-fr.png"></span>France
            </a>
            </div>
        </div>
    </li>
</ul>