<div class="mdl-grid content-header teams">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone avatar">
            <img src="../assets/img/psg.png" alt="PSG">
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--3-col-phone info">
            <div class="title-container">
                <div class="title">
                    <div class="title-value">Paris Saint Germain</div>
                    <div class="favorite-star">
                        <a href="#" class="fav active"><span class="glyphicon glyphicon-star"></span></a>
                    </div>
                </div>
            </div>
            <a href="#" class="uppercase additionnal-info"><img class="country-flag" src="../assets/img/flag-fr.png">France</a>
        </div>

</div>


<ul class="mdl-list ls-list ls-team-header">
    <li class="row">
        <div class="cell cell__team--flag">
            <img src="../assets/img/psg.png" alt="PSG">
        </div>
        <div class="cell cell__team--infos">
            <div class="team-title">
                <span>Paris Saint germain</span>
                <div class="favorite-star">
                    <a href="#" class="fav active">
                        <span class="icon-arrow-up-down"></span>
                    </a>
                </div>
            </div>
            <a href="" class="team-country">
                <img class="country-flag" src="../assets/img/flag-fr.png">France
            </a>
            </div>
        </div>
    </li>
</ul>