{% include 'blocks/dividers/divider-simple.twig' with {
    'divider_title': 'Team Shirts'
} %}

<div class="ls-team-shirts">
    <div class="shirt">
        <span class="name">Home</span>
        <img src="{{ basePath }}../assets/img/shirt1.png" alt="Shirt 1">
    </div>
    <div class="shirt">
        <span class="name">Away</span>
        <img src="{{ basePath }}../assets/img/shirt2.png" alt="Shirt 2">
    </div>
    <div class="shirt">
        <span class="name">Third</span>
        <img src="{{ basePath }}../assets/img/shirt3.png" alt="Shirt 3">
    </div>
</div>