{% include 'blocks/dividers/divider-simple.twig' with {
    'divider_title': 'Discipline Statistics'
} %}

<div class="ls-team-cards-statistics">
    <ul class="mdl-list ls-list">
        <li class="row row--head">
            <div class="cell cell__name"></div>
            <div class="cell cell__yellow_cards"><span class="sprite-icons yellow-card"></span></div>
            <div class="cell cell__red_cards"><span class="sprite-icons red-card"></span></div>
        </li>
        <li class="row">
            <div class="cell cell__name"><span>Total</span></div>
            <div class="cell cell__yellow_cards"><span>73</span></div>
            <div class="cell cell__red_cards"><span>10</span></div>
        </li>
        <li class="row">
            <div class="cell cell__name"><span>Average / Game</span></div>
            <div class="cell cell__yellow_cards"><span>1.92</span></div>
            <div class="cell cell__red_cards"><span>0.26</span></div>
        </li>
    </ul>
</div>