// Review template

.review-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 0;
  background: url("#{$ls-img-path}/review/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .review-stars {
    margin-bottom: 32px;
  }

  .btn-cta {
    border-radius: 0;
    margin-bottom: 0;
  }
}

.review-header-title {
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.83;
  margin: 0 0 8px;
  text-align: center;
}

.review-header-bookmaker {
  text-align: center;
  margin-bottom: 36px;

  img {
    max-width: 266px;
    height: auto;
  }
}

.review-header-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;

  .icon {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .text {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 7px;

    .value {
      line-height: 1.6;
      font-size: 28px;
      font-weight: bold;
      color: $ls-yellow-color;
    }
  }
}

.btn-cta {
  display: block;
  background-color: $ls-yellow-color;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjx0aXRsZT5jYXJldC1yaWdodDwvdGl0bGU+PHBhdGggZmlsbD0iIzNlNGU1YSIgZD0iTTIzLjQ2NyAxNS42NDRsLTEyLjU4Ny0xMy43MjRjLTAuMjg0LTAuMjg0LTAuNzExLTAuMjg0LTAuOTI0IDBsLTEuODQ5IDEuOTkxYy0wLjI4NCAwLjI4NC0wLjI4NCAwLjcxMSAwIDAuOTk2bDEwLjE2OSAxMS4wOTMtMTAuMDk4IDExLjIzNmMtMC4yODQgMC4yODQtMC4yODQgMC43MTEgMCAwLjk5NmwxLjg0OSAxLjkyYzAuMjg0IDAuMjg0IDAuNzExIDAuMjg0IDAuOTI0IDBsMTAuMzExLTExLjQ0OWMwLjE0MiAwIDAuMjg0LTAuMDcxIDAuMzU2LTAuMjEzbDEuODQ5LTEuOTkxYzAuMjEzLTAuMDcxIDAuMjEzLTAuNTY5IDAtMC44NTN6Ij48L3BhdGg+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  color: $ls-text-color;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  padding: 18px 30px 18px 10px;
  width: 100%;
  transition: all 200ms ease;
  border-width: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin-bottom: 32px;

  .ls-article & {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: none;
    border-color: $ls-yellow-color-shade;
  }
}
