.ls-list-match-score-header {
  background: $ls-color-white;

  .row {
    display: flex;
    width: auto;
    background: $ls-color-white;
    padding: 0 10px;

    a {
      text-decoration: none;
    }
  }

  .row--match-score-header {

    .cell {
      padding: 12px 0 9px 0;

      &__flag {
        flex: 0 0 42px;
        display: flex;
        justify-content: center;

        > img {
          max-height: 32px;
        }
      }

      &__team {
        position: relative;
        font-size: 13px;
        font-weight: normal;
        padding-top:18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $ls-match-score-header-team-color;

        .qualified {
          position: absolute;
          bottom:1px;
          display: flex;
          flex-flow: row nowrap;
          justify-content:flex-end;
          text-transform: uppercase;
          font-size: 9px;
          color: $ls-primary-color;

          .icon-tick {
            margin: 3px 2px;
          }
        }

        &--team1 {
          padding-right: 10px;
          justify-content: flex-end;

          .qualified {
            right: 10px;
          }
        }

        &--team2 {
          padding-left: 10px;

          .qualified {
            left: 10px;
          }
        }
      }

      &__score-box {
        position: relative;
        padding-bottom: 0;
        flex: 0 0 74px;
        display: flex;
        flex-flow: column nowrap;
        align-self: stretch;
        justify-content: center;
        background-color: darken($ls-color-white, 3%);

        .versus{
          padding: 0 4px;
        }

      }

      &__score--number {
        margin-bottom: 5px;
        display: flex;
        font-weight: bold;
        justify-content: center;
        flex-flow: row nowrap;
        font-size: 29px;
        color:lighten($ls-color-black , 15%);
      }

      &__score--add {
        display: flex;
        justify-content: center;
        color : lighten($ls-text-color, 30%);
        font-weight: 300;
        font-size: 12px;
        white-space: normal;
        text-align: center;
        padding: 0px 4px;

        span.divider {
          margin: 0 4px;
        }
      }

      &__score--date,
      &__score--time {
        text-align: center;
        justify-content: center;
        font-size: 12px;
      }

      &__score--time {
        font-weight: bold;
      }
    }

    &.live, &.paused {

      .cell {

        &__score--add {

          span.minute {
            position: relative;
            color: $ls-color-live;
            padding-left: 11px;

            &:before {
              content: '';
              position: absolute;
              left: 1px;
              top: 5px;
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #c8c8c8;
              margin-right: 4px;
            }


          }
        }
      }

      &.live {

        .cell {

          &__score--add {

            span.minute {

              &:before {
                background: #e33000;
                @extend .blinking;
              }
            }
          }
        }
      }
    }

    &.scheduled {

      .cell {

        &__score-box {
          padding-top: 8px;
          background-color: transparent;
        }
      }
    }
  }
}
