@import "_color-definitions";
@import "functions";
@import "ls-typography/ls-typography";

/* Livescore custom styles */
$ls-brand-logo-size: 25px;

//	Rewrite white & black color because mdl team don't want to support sass color functions :(
//	More information at: https://github.com/google/material-design-lite/issues/146
$ls-color-black: 				#000000;
$ls-color-white: 				#FFFFFF;
$ls-color-live: 				#e33000;
$ls-color-live-rgb: 		"277, 48, 0";
$ls-text-color: 				#484848;
$ls-primary-color:			#5da400;
$ls-green-active-color:	#5da400;
$ls-grey-contrast: 			#d8d8d8;
$ls-star-active:				#ffc600;
$ls-red-draw:						#cc0000;
$ls-link-color: 				#0053a8;
$ls-success-color: 			#5da400;
$ls-error-color: 				#ea0000;
$ls-warning-color: 			#f6b514;
$ls-info-color: 				#a4cfe9;
$ls-user-female-color:	#ffaef7;
$ls-user-male-color:		#8dc4ff;

//Social colors
$ls-color-facebook: 		#395fa9;
$ls-color-twitter: 			#27c4eb;
$ls-color-googleplus: 	#b73d3d;

//Event status
$ls-color-highlight : rgb(255, 244, 206);
$ls-color-updated : $ls-color-live;

$ls-color-event-won-bg : rgb(233, 242, 226);
$ls-color-event-lost-bg : rgb(245, 211, 207);
$ls-color-event-draw-bg : rgb(250, 241, 230);

//Typography
$ls-font-size-base:          	14px;
$ls-font-size-small:          $ls-font-size-base - 3px;
$ls-font-size-large:          $ls-font-size-base + 3px;
$ls-font-weight-thin:		 			100;
$ls-font-weight-light:	 			300;
$ls-font-weight-normal: 			400;
$ls-font-weight-medium: 			500;
$ls-font-weight-bold: 				700;

//Image paths
$ls-img-path: 								"../assets/img";

//Icons
$ls-icons-font: 							'LSicons';

//Top Header
$ls-top-header-border-bottom: 	1px solid #e2e2e2;

//Tabs
$ls-tab-text-color: 					lighten($ls-text-color, 31.8%);
$ls-tab-text-color-active: 		lighten($ls-color-black, 5%);
$ls-tab-font-weight: 					300;
$ls-tab-height: 							48px;

//Drawer
$ls-drawer-link-color:								darken($ls-text-color, 7%);
$ls-drawer-link-font-size:						17px;
$ls-drawer-sub-navigation-font-size:	15px;
$ls-drawer-link-active-padding:				11px 16px;
$ls-drawer-link-padding:							10px 16px;
$ls-drawer-sub-nav-link-padding:			8px 16px;
$ls-drawer-link-icon-size:						20px;
$ls-drawer-show-all-color:						#bcbcbc;

//Timezone selector
$ls-timezone-selector-height:					45px;

//Dividers
$ls-divider-bg:										darken($ls-color-white, 10%);
$ls-divider-font-size:						13px;
$ls-divider-title-color:					#000;
$ls-divider-height:								32px;
$ls-divider-padding: 							0 0 0 13px;
$ls-divider-icon-size:						18px;
$ls-divider-right-nav-icon-size:	20px;
$ls-divider-icon-color:						darken($ls-color-white, 32.5%);
$ls-divider-game-type-icon-size:	15px;

//Buttons
$ls-button-padding:							0 14px;
$ls-button-default-bg:					0 14px;
$ls-button-font-weight:					300;
$ls-button-font-size:						16px;
$ls-button-large-size:					46px;
$ls-button-large-icon-size:			20px;
$ls-button-arrow-margin:				15px;
$ls-button-facebook-color:			#4168ae;

$ls-button-gradient-start-color:#1fa931;
$ls-button-gradient-end-color:	#1bb380;

//Switch Button
$ls-switch-compact-label-height: 				40px;
$ls-switch-compact-label-font-size: 		12px;

//View more button
$ls-view-more-button-padding: 	16px;
$ls-view-more-button-color: 		$ls-green-active-color;

//Lists
$ls-list-padding:						13px 15px;
$ls-list-text-color:				$ls-color-black;
$ls-list-heading-h-padding: 10px;
/*
$ls-list-border-color:	    blue;
*/
$ls-list-border-color:	    darken($ls-color-white, 3.2%);
$ls-list-pressed-color:	    darken($ls-color-white, 5.5%);
$ls-list-border:            1px solid $ls-list-border-color;


//Collapsible
$ls-collapsible-heading-padding:			12px 14px;
$ls-collapsible-content-padding:			12px 14px;
$ls-collapsible-border-color:					darken($ls-color-white, 3.2%);

//Dialog
$ls-dialog-shadow: 							0 0 10px rgba(0, 0, 0, 0.17);
$ls-dialog-border-color:        #e7e7e7;
$ls-dialog-border: 							1px solid $ls-dialog-border-color;
$ls-dialog-padding: 						25px 25px 15px;
$ls-dialog-title-font-size: 		17px;
$ls-dialog-title-font-weight: 	600;
$ls-dialog-title-line-height: 	21px;
$ls-dialog-body-font-size: 			15px;
$ls-dialog-body-font-weight: 		300;
$ls-dialog-max-width: 					700px;
$ls-dialog-z-index: 						2000;

//Snackbar
$ls-snackbar-z-index: 					2001;

//App bar
$ls-app-bar-zindex: 						4;
$ls-app-bar-border-color: 			#adadad;
$ls-app-bar-bg-color: 					$ls-color-white;
$ls-app-bar-button-height: 			38px;

//Datepicker
$ls-calendar-shadow: 						0 0 10px rgba(0, 0, 0, 0.17);

//Comments
$ls-color-comment-goal:            rgba(218, 228, 204, 1);

//Advertisement
$ls-advertisement-bg-color:        rgba(241, 241, 241, 1);
$ls-advertisement-font-color:      rgba(178, 178, 178, 1);
$ls-advertisement-font-size:       8px;


//Standing-table
$ls-row-selected-color:             rgba(219, 232, 237, 1);
$ls-rank-grey-color:              rgba(235, 235, 235, 1);
$ls-rank-green-color:             rgba(190, 209, 166, 1);
$ls-rank-clear-green-color:       rgba(212, 222, 200, 1);
$ls-rank-blue-color:              rgba(191, 214, 217, 1);
$ls-rank-clear-blue-color:        rgba(209, 230, 233, 1);
$ls-rank-orange-color:            rgba(231, 217, 192, 1);
$ls-rank-clear-orange-color:      rgba(245, 232, 210, 1);
$ls-rank-red-color:               rgba(222, 200, 200, 1);
$ls-rank-clear-red-color:         rgba(239, 216, 216, 1);
$ls-cell-stat-up:                 rgba(93, 164, 0, 1);
$ls-cell-stat-down:               rgba(229, 104, 13, 1);

//Match Statistics |
$ls-match-statistics-possesion-bar-height: 			26px;
$ls-match-statistics-list-bg: 									$ls-color-white;
$ls-match-statistics-bar-height: 								9px;
$ls-match-statistics-bar-bg: 										$ls-grey-contrast;
$ls-match-statistics-bar-high-bg: 							$ls-green-active-color;

//Odds
$ls-odds-img-margin: 										7px;
$ls-odds-link-color: 										#0F87FF;

//Comment thread widget
$ls-comment-thread-avatar-size: 				64px;
$ls-comment-thread-own-color: 					#e0e8d5;
$ls-comment-thread-compose-height: 			66px;

//Player matches listing widget
$ls-player-matches-listing-minute-bg: 		#f4f9ed;
$ls-player-matches-listing-header-color: 	#9b9b9b;
$ls-player-matches-listing-date-color: 		#9d9d9d;

//Team goals statistics
$ls-team-goals-stats-scored-color: 			#87b762;
$ls-team-goals-stats-conceded-color: 		#dd4f3b;
$ls-team-goals-stats-nodata-color: 			#d9d9d9;
$ls-team-goals-stats-bar-height: 				9px;

//Team over/under statistics
$ls-team-over-under-stats-first-size: 		96px;
$ls-team-over-under-stats-second-size: 		69px;

//Message widget
$ls-message-widget-icon-size: 						55px;
$ls-message-widget-app-icon-size: 				73px;

//Login Register
$ls-login-register-textfield-size: 				10px;

//Account sync widget
$ls-account-sync-icons-color: 						#626262;
$ls-account-sync-list-icons-color: 				#707070;
$ls-account-sync-list-text-color: 				#5d5d5d;
$ls-account-sync-body-color: 							#fafafa;

//User my information widget
$ls-user-myinfo-textfield-size: 					10px;
$ls-user-myinfo-avatar-icon-size: 				30px;
$ls-user-myinfo-avatar-menu-width: 				208px;

//Avatar selector
$ls-avatar-selector-modal-width: 					280px;
$ls-avatar-selector-item-width: 					102px;
$ls-avatar-selector-img-size: 						70px;
$ls-avatar-selector-img-bg: 							#f5f5f5;

//Contest gifts
$ls-contest-gifts-dialog-min-width: 			263px;

//User profile header
$ls-user-profile-header-avatar-size: 			58px;
$ls-user-profile-header-user-desc-color: 	#c5c5c5;

//User prediction statistics widget
$ls-user-prediction-stats-chart-size: 		120px;
$ls-user-prediction-stats-value-size: 		40px;
$ls-user-prediction-stats-bar-color: 			#60a604;
$ls-user-prediction-stats-progress-color: $ls-color-white;

//Contest Grid
$ls-contest-grid-icons-color: 							#b5b5b5;
$ls-contest-grid-date-color: 								#989898;
$ls-contest-grid-buttons-height: 						34px;
$ls-contest-grid-buttons-border-color: 			#d3d3d3;
$ls-contest-grid-buttons-done-border-color: #66a90e;
$ls-contest-grid-buttons-done-bg-color: 		#f2f2f2;
$ls-contest-grid-buttons-success-bg-color: 	$ls-green-active-color;
$ls-contest-grid-buttons-failed-bg-color: 	#c30000;
$ls-contest-grid-buttons-result-bg-color: 	#e0ecd0;
$ls-contest-grid-red-card-color: 						#c10000;
$ls-contest-grid-event-cancelled-bg: 				#f9f9f9;
$ls-contest-grid-league-data-bg: 						#ebebeb;
$ls-contest-grid-league-data-color: 				#969696;
$ls-contest-grid-tips-icon-size: 						36px;
$ls-contest-grid-tips-icon-border-color: 		#c0c0c0;

//Contest prediction standing
$ls-contest-prediction-standing-current-user-bg-number:	#d0d9c3;
$ls-contest-prediction-standing-current-user-bg:				#e0e8d5;

//Match videos
$ls-match-videos-width: 										300px;
$ls-match-videos-height: 										212px;
$ls-match-videos-name-color: 								#0d0d0d;

//Match score header
$ls-match-score-header-team-color: 					#000000;

//Match head to head
$ls-match-head-to-head-first-size:					60px;
$ls-match-head-to-head-second-size:					40px;
$ls-match-head-to-head-third-size:					32px;
$ls-match-head-to-head-fourth-size:					20px;
$ls-match-head-to-head-fifth-size:					20px;

//Match incidents
$ls-match-incidents-empty-row-height: 			58px;

//Panel
$ls-panel-wrapper-padding: 									15px;
$ls-panel-wrapper-margin: 									0 0 20px;
$ls-panel-bg: 															darken($ls-color-white, 3.2%);
$ls-panel-border-color: 										darken($ls-panel-bg, 11.2%);
$ls-panel-head-padding: 										12px 40px 12px 14px;
$ls-panel-body-padding: 										12px 14px 15px;

//Sprite
$ls-image-sprite-icons : "../assets/img/sprite/sprite-icons.png";
$ls-image-sprite-icons-retina : "../assets/img/sprite/sprite-icons@2x.png";

// New match odds widget
$new-match-odds-widget-heading-bg:                 #454a4c;
$new-match-odds-widget-heading-bg-accent:          #313536;
$new-match-odds-widget-bonus-bg:                   #ffd800;
$new-match-odds-widget-text-color:                 #5c5c5c;
$new-match-odds-widget-text-color-secondary:       #808080;
$new-match-odds-widget-light-green:                #d1e9be;
$new-match-odds-widget-light-red:                  #eebaba;

//Media Querys
$ls-retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx)";
$ls-small-portrait: "only screen and (max-device-width : 320px) and (orientation : portrait)";
$ls-high-dpi: "only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 1.25dppx), only screen and (min-resolution: 192dpi)";
$ls-small-devices: "only screen and (max-device-width : 420px)";

//Dividers
$ls-divider-bg:										darken($ls-color-white, 10%);
$ls-divider-font-size:						13px;
$ls-divider-height:								32px;
$ls-divider-padding: 							0 0 0 13px;
$ls-divider-icon-size:						18px;
$ls-divider-right-nav-icon-size:	20px;
$ls-divider-icon-color:						darken($ls-color-white, 32.5%);

//Buttons
$ls-button-padding:							0 14px;
$ls-button-default-bg:					0 14px;
$ls-button-font-weight:					300;
$ls-button-font-size:						14px;
$ls-button-large-size:					46px;
$ls-button-large-icon-size:			20px;

//Dialog
$ls-dialog-shadow: 							0 0 10px rgba(0, 0, 0, 0.17);
$ls-dialog-border: 							1px solid #e7e7e7;
$ls-dialog-padding: 						25px 25px 15px;
$ls-dialog-title-font-size: 		17px;
$ls-dialog-title-font-weight: 	600;
$ls-dialog-title-line-height: 	21px;
$ls-dialog-body-font-size: 			15px;
$ls-dialog-body-font-weight: 		300;

/* ==========  TYPOGRAPHY  ========== */

$preferred_font: "SF UI Display", "Helvetica Neue", Roboto, "Segoe UI", Arial, sans-serif !default;
$performance_font: "SF UI Display", "Helvetica Neue", Roboto, "Segoe UI", Arial, sans-serif !default;


/* ==========  Color & Themes  ========== */

// Define whether individual color pallet items should have classes created.
// Setting this to true will remove individual color classes for each color in the pallets.
// To improve overall performance (assuming they aren't used) by:
// * Saving server bandwidth sending the extra classes
// * Save client computation against the classes
// it is RECOMMENDED you set this to true.
$trim-color-classes: false !default;


$color-primary: "93, 164, 0";
$color-primary-dark: "93, 164, 0";
$color-accent: "227, 48, 0";

$color-primary-contrast: "255, 255, 255";
$color-accent-contrast: "255, 255, 255";


/* ==========  Typography  ========== */

// We use the following default color styles: text-color-primary and
// text-color-secondary. For light themes, use text-color-primary-inverse
// and text-color-secondary-inverse.

$text-color-primary: unquote("#484848");
//$text-link-color: unquote("rgb(#{$color-accent})") !default;
$text-link-color: $ls-link-color !default;

// Define whether to target elements directly for typographic enhancements.
// Turning this off means you need to use mdl-* classes more often.
// Other components may also fail to adhere to MD without these rules.
// It is strongly recommended you leave this as true.

$target-elements-directly: true !default;

/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

// Default button colors.
$button-primary-color: darken($ls-color-white, 3.2%);
$button-secondary-color: $ls-text-color;
$button-hover-color: $button-primary-color !default;
$button-active-color: darken($ls-color-white, 10.5%);
$button-focus-color: darken($ls-color-white, 10.5%);

// Colored button colors.
$button-primary-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-secondary-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;
$button-hover-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-active-color-alt: unquote("rgb(#{$color-primary})") !default;
$button-focus-color-alt: $button-focus-color !default;

// Ripple color for colored raised buttons.
$button-ripple-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;

// Disabled button colors.
$button-primary-color-disabled: unquote("rgba(#{$color-black}, 0.12)") !default;
$button-secondary-color-disabled: unquote("rgba(#{$color-black}, 0.26)") !default;

// FAB colors and sizes.
$button-fab-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-hover-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-active-color-alt: unquote("rgb(#{$color-accent})") !default;
$button-fab-text-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;
$button-fab-ripple-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;

// Icon button colors and sizes.
$button-icon-color: unquote("rgb(#{$palette-grey-700})") !default;
$button-icon-focus-color: $button-focus-color !default;

/* ==========  Icon Toggles  ========== */

$icon-toggle-color: unquote("rgb(#{$palette-grey-700})") !default;
$icon-toggle-focus-color: $button-focus-color !default;
$icon-toggle-checked-color: unquote("rgb(#{$color-primary})") !default;
$icon-toggle-checked-focus-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$icon-toggle-disabled-color: unquote("rgba(#{$color-black}, 0.26)") !default;

/* ==========  Radio Buttons  ========== */

$radio-color: unquote("rgb(#{$color-primary})") !default;
$radio-off-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$radio-disabled-color: unquote("rgba(#{$color-black}, 0.26)") !default;

/* ==========  Ripple effect  ========== */

$ripple-bg-color: unquote("rgb(#{$color-light-contrast})") !default;

/* ==========  Layout  ========== */

$layout-nav-color: unquote("rgb(#{$palette-grey-300})") !default;

// Drawer
$layout-drawer-bg-color: unquote("rgb(#{$palette-grey-50})") !default;
$layout-drawer-border-color: unquote("rgb(#{$palette-grey-300})") !default;
$layout-text-color: unquote("rgb(#{$palette-grey-800})") !default;
$layout-drawer-navigation-color: #757575 !default;
$layout-drawer-navigation-link-active-background: unquote("rgb(#{$color-light-contrast})") !default;
$layout-drawer-navigation-link-active-color: unquote("rgb(#{$color-primary})") !default;

// Header
$layout-header-bg-color: unquote("rgb(#{$color-primary-contrast})");
$layout-header-text-color: unquote("rgb(#{$text-color-primary})");
$layout-header-nav-hover-color: unquote("rgba(#{$palette-grey-700}, 0.6)") !default;
$layout-header-tab-text-color: $ls-tab-text-color;

// Tabs
$layout-header-tab-highlight: unquote("rgb(#{$color-primary})");

/* ==========  Content Tabs  ========== */

$tab-highlight-color: unquote("rgb(#{$color-primary})") !default;
$tab-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$tab-active-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
$tab-border-color: unquote("rgb(#{$palette-grey-300})") !default;

/* ==========  Checkboxes  ========== */

$checkbox-color: unquote("rgb(#{$color-primary})") !default;
$checkbox-off-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$checkbox-disabled-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$checkbox-focus-color: unquote("rgba(#{$color-primary}, 0.26)") !default;

/* ==========  Switches  ========== */

$switch-color: unquote("rgb(#{$color-primary})") !default;
$switch-faded-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$switch-thumb-color: $switch-color !default;
$switch-track-color: unquote("rgba(#{$color-primary}, 0.5)") !default;

$switch-off-thumb-color: unquote("rgb(#{$palette-grey-50})") !default;
$switch-off-track-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$switch-disabled-thumb-color: unquote("rgb(#{$palette-grey-400})") !default;
$switch-disabled-track-color: unquote("rgba(#{$color-black}, 0.12)") !default;

/* ==========  Spinner  ========== */

$spinner-color-1: unquote("rgb(#{$palette-blue-400})") !default;
$spinner-color-2: unquote("rgb(#{$palette-red-500})") !default;
$spinner-color-3: unquote("rgb(#{$palette-yellow-600})") !default;
$spinner-color-4: unquote("rgb(#{$palette-green-500})") !default;

$spinner-single-color: unquote("rgb(#{$color-primary})") !default;

/* ==========  Text fields  ========== */

$input-text-background-color: transparent !default;
$input-text-label-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$input-text-bottom-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$input-text-highlight-color: unquote("rgb(#{$color-primary})") !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: unquote("rgb(222, 50, 38)") !default;

/* ==========  Card  ========== */

$card-background-color: unquote("rgb(#{$color-white})") !default;
$card-text-color: unquote("rgb(#{$color-black})") !default;
$card-image-placeholder-color: unquote("rgb(#{$color-accent})") !default;
$card-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$card-border-color: rgba(0,0,0,0.1) !default;
$card-supporting-text-scroll-height: 100px;

/* ==========  Sliders ========== */

$range-bg-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$range-color: unquote("rgb(#{$color-primary})") !default;
$range-faded-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
$range-bg-focus-color: unquote("rgba(#{$color-black}, 0.12)") !default;

/* ========== Progress ========== */
$progress-main-color: unquote("rgb(#{$color-primary})") !default;
$progress-secondary-color: unquote("rgba(#{$color-primary-contrast}, 0.7)") !default;
$progress-fallback-buffer-color: unquote("rgba(#{$color-primary-contrast}, 0.9)") !default;

/* ==========  List ========== */

$list-container-item-border-color: unquote("rgb(#{$palette-grey-300})") !default;
$list-container-view-background: unquote("rgb(#{$color-white})") !default;

/* ==========  Item ========== */

// Default Item Colors
$default-item-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
$default-item-outline-color: unquote("rgb(#{$palette-grey-400})") !default;
$default-item-hover-bg-color: unquote("rgb(#{$palette-grey-200})") !default;
$default-item-focus-bg-color: unquote("rgb(#{$palette-grey-200})") !default;
$default-item-active-bg-color: unquote("rgb(#{$palette-grey-300})") !default;

// Disabled Button Colors
$disabled-item-text-color: unquote("rgb(#{$palette-grey-400})") !default;

/* ==========  Dropdown menu ========== */

$default-dropdown-bg-color: unquote("rgb(#{$color-white})") !default;

/* ==========  Tooltips  ========== */

$tooltip-text-color: unquote("rgb(#{$color-white})") !default;
$tooltip-background-color: unquote("rgba(#{$palette-grey-700}, 0.9)") !default;

/* ==========  Footer  ========== */

$footer-bg-color: unquote("rgb(#{$palette-grey-800})") !default;
$footer-color: unquote("rgb(#{$palette-grey-500})") !default;
$footer-heading-color: unquote("rgb(#{$palette-grey-300})") !default;
$footer-button-fill-color: $footer-color !default;
$footer-underline-color: $footer-color !default;


/* SPINNER */

$spinner-size: 28px !default;
$spinner-stroke-width: 3px !default;
$spinner-container-min-height: $spinner-size + 40px;

/* ICON TOGGLE */

$icon-toggle-size: 32px !default;
$icon-toggle-font-size: 24px !default;
$icon-toggle-ripple-size: 36px !default;

/* FOOTER */

/*mega-footer*/
/**************
 *
 * Sizes
 *
 *************/
$footer-min-padding: 16px !default;
$footer-padding-sides: 40px !default;
$footer-heading-font-size: 14px !default;
$footer-heading-line-height: (1.7 * $footer-heading-font-size) !default;
$footer-btn-size: 36px  !default;

/*mini-footer*/

/**************
 *
 * Sizes
 *
 *************/
$padding: 16px !default;
$footer-heading-font-size: 24px !default;
$footer-heading-line-height: (1.5 * $footer-heading-font-size) !default;
$footer-btn-size: 36px !default;


/* CARD */

/* Card dimensions */
$card-width: 330px !default;
$card-height: 200px !default;
$card-font-size: 16px !default;
$card-title-font-size: 24px !default;
$card-horizontal-padding: 16px !default;
$card-vertical-padding: 16px !default;

$card-title-perspective-origin-x: 165px !default;
$card-title-perspective-origin-y: 56px !default;

$card-title-transform-origin-x: 165px !default;
$card-title-transform-origin-y: 56px !default;

$card-title-text-transform-origin-x: 149px !default;
$card-title-text-transform-origin-y: 48px !default;

$card-supporting-text-font-size: 13px !default;
$card-supporting-text-line-height: 18px !default;

$card-actions-font-size: 16px !default;

$card-title-text-font-weight: 300 !default;
$card-z-index: 1 !default;

/* Cover image */
$card-cover-image-height: 186px !default;
$card-background-image-url: '' !default;


/* BUTTON */
/**
 *
 * Dimensions
 *
 */
$button-min-width: 64px !default;
$button-height: 36px !default;
$button-padding: 8px !default;
$button-margin: 4px !default;
$button-border-radius: 2px !default;

$button-fab-size: 56px !default;
$button-fab-size-mini: 40px !default;
$button-fab-font-size: 24px !default;

$button-icon-size: 32px !default;
$button-icon-size-mini: 24px !default;


/* ANIMATION */
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$animation-curve-default: $animation-curve-fast-out-slow-in !default;


/* PROGRESS */
$bar-height: 4px !default;

/* BADGE */
$badge-color: unquote("rgb(#{$color-white})") !default;
$badge-color-inverse: unquote("rgb(#{$color-accent})") !default;
$badge-background: unquote("rgb(#{$color-accent})") !default;
$badge-background-inverse: unquote("rgba(#{$color-white},0.2)") !default;
$badge-size : 22px;
$badge-padding: 2px;

/* GRID */

$grid-desktop-columns: 12 !default;
$grid-desktop-gutter: 16px !default;
$grid-desktop-margin: 16px !default;

$grid-desktop-breakpoint: 840px !default;

$grid-tablet-columns: 8 !default;
$grid-tablet-gutter: $grid-desktop-gutter !default;
$grid-tablet-margin: $grid-desktop-margin !default;

$grid-tablet-breakpoint: 480px !default;

$grid-phone-columns: 4 !default;
$grid-phone-gutter: $grid-desktop-gutter !default;
$grid-phone-margin: $grid-desktop-margin !default;

$grid-cell-default-columns: $grid-phone-columns !default;
