{% extends "layouts/default-layout.twig" %}

{# Page variables #}
{% set page_title = 'Toast Notifications' %}
{% set ls_header_brand_logo = true %}

{# Main content #}
{% set main_content %}

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">

      <button id="toast-success-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        Success
      </button>

      <button id="toast-error-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        Error
      </button>

      <button id="toast-warning-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        Warning
      </button>

      <button id="toast-info-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        Info
      </button>

    </div>
  </div>


{% endset %}

{# Scripts init #}
{% block footer_scripts %}
  {# Toasts #}
  <div id="toast-success" class="mdl-snackbar mdl-js-snackbar mdl-snackbar--success">
    <div class="mdl-snackbar__icon"><span class="material-icons">&#xE876;</span></div>
    <div class="mdl-snackbar__text"></div>
    <div class="mdl-snackbar__action"></div>
  </div>

  <div id="toast-error" class="mdl-snackbar mdl-js-snackbar mdl-snackbar--error">
    <div class="mdl-snackbar__icon"><span class="material-icons">&#xE14C;</span></div>
    <div class="mdl-snackbar__text"></div>
    <div class="mdl-snackbar__action"></div>
  </div>

  <div id="toast-warning" class="mdl-snackbar mdl-js-snackbar mdl-snackbar--warning">
    <div class="mdl-snackbar__icon"><span class="material-icons">&#xE002;</span></div>
    <div class="mdl-snackbar__text"></div>
    <div class="mdl-snackbar__action"></div>
  </div>

  <div id="toast-info" class="mdl-snackbar mdl-js-snackbar mdl-snackbar--info">
    <div class="mdl-snackbar__icon"><span class="material-icons">&#xE88F;</span></div>
    <div class="mdl-snackbar__text"></div>
    <div class="mdl-snackbar__action"></div>
  </div>
  

<script type="text/javascript">
  var successBtn = document.querySelector('#toast-success-button');
  var errorBtn = document.querySelector('#toast-error-button');
  var warningBtn = document.querySelector('#toast-warning-button');
  var infoBtn = document.querySelector('#toast-info-button');

  var successToast = document.querySelector('#toast-success');
  var errorToast = document.querySelector('#toast-error');
  var warningToast = document.querySelector('#toast-warning');
  var infoToast = document.querySelector('#toast-info');

  var duration = 4000;

  successBtn.addEventListener('click', function() {
    var data = {
      message: 'This is a _success notification',
      timeout: duration,
      actionHandler: function(){
        console.log("Action!");
      },
      actionText: 'Undo'
    };
    successToast.MaterialSnackbar.showSnackbar(data);
  });

  errorBtn.addEventListener('click', function() {
    var data = {
      message: 'This is a _error notification',
      timeout: duration,
      actionHandler: function(){
        console.log("Action!");
      },
      actionText: 'Undo'
    };
    errorToast.MaterialSnackbar.showSnackbar(data);
  });

  warningBtn.addEventListener('click', function() {
    var data = {
      message: 'This is a _warning notification',
      timeout: duration,
      actionHandler: function(){
        console.log("Action!");
      },
      actionText: 'Undo'
    };
    warningToast.MaterialSnackbar.showSnackbar(data);
  });

  infoBtn.addEventListener('click', function() {
    var data = {
      message: 'This is a _info notification',
      timeout: duration,
      actionHandler: function(){
        console.log("Action!");
      },
      actionText: 'Undo'
    };
    infoToast.MaterialSnackbar.showSnackbar(data);
  });
</script>
{% endblock %}