{% extends "layouts/default-layout.twig" %}

	
{# Page variables #}
{% set page_title = 'UI Kit test' %}
{% set ls_header_brand_logo = true %}

{% set main_content %}

	{% include 'blocks/dividers/divider-simple.twig' %}	 
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptates!</p>

	{% include 'blocks/dividers/divider-title-icon.twig' %}	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, voluptatem.</p>

	{% include 'blocks/dividers/divider-title-icon-calendar.twig' %}	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, harum!</p>

	{% include 'blocks/dividers/divider-right-nav.twig' %}	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, dolorem.</p>

	{% include 'blocks/dividers/divider-event.twig' %}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, alias.</p>

	{% include 'blocks/dividers/divider-event-right-nav.twig' %}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, quo?</p>

	<p>Dividers as list elements : </p>
	<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
		{% include 'blocks/dividers/divider-simple-li.twig' %}
		{% include 'blocks/dividers/divider-title-icon-li.twig' %}
		{% include 'blocks/dividers/divider-title-icon-calendar-li.twig' %}
		{% include 'blocks/dividers/divider-right-nav-li.twig' %}
		{% include 'blocks/dividers/divider-event-li.twig' %}
		{% include 'blocks/dividers/divider-event-li-counter.twig' %}
		{% include 'blocks/dividers/divider-event-right-nav-li.twig' %}
		{% include 'blocks/dividers/divider-event-right-nav-li-sport-icon.twig' %}
	</ul>
	
{% endset %}
