{% extends "layouts/default-layout.twig" %}

	
{# Page variables #}
{% set page_title = 'Home' %}

{% block main_content %}

	<h1>Hello Miguel !</h1>
	
	<p>Test using a MDL component</p>
	
	<input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0" tabindex="0"/>
	 
{% endblock %}
