.mdl-badge {

  &.mdl-badge-countries {
    margin-right: 0;

    &:after{
      right: 0;
    }
  }

  &.mdl-badge--large {

    &:after{
      font-size: 13px;
      font-weight: 300 ;
      width: 25px;
      height: 25px;
    }
  }

  &.normal {

    &:after{
     /* color: $ls-color-black;*/
      background: #ededed;
    }
  }

  &.live {

    &:after{
      color: $ls-color-white;
      background: $ls-color-live;
    }
  }




}