.ls-list-favorite-sortable {
  background: $ls-color-white;

  .ls-col{
    display: none;
  }

  .row {
    display: flex;
    width: auto;
    background: $ls-color-white;
    border-bottom: $ls-list-border;
    padding: 0 10px 0 14px !important;

    > a {
      color: $ls-text-color;
    }

    &__team{
      border-bottom: lighten($ls-list-border-color, 5%);
      align-items: center;

      .cell {
        padding: 15px 0;

        &__flag {
          flex: 0 0 34px;
          
          .icon-placeholder {
            width: 24px;
            vertical-align: middle;
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        &__team {
          font-size: ls-font-size(1px);
          font-weight: 300;
          flex: 2;
          justify-content: flex-start;
          align-items: center;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }

        &__drag {
          display: flex;
          flex: 0 0 40px;
          flex-wrap: nowrap;
          justify-content: center;
          padding: 0;

          > i{
            color: $ls-grey-contrast;
          }
        }

        &__favorite {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &--placeholder{
        height: 50px;
        border: 2px dashed $ls-grey-contrast;
        background-color: lighten($ls-grey-contrast, 12%);
      }
    }
  }
}
