<script type="text/javascript">
    google.charts.load("current", {packages:['corechart','bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Team');
      data.addColumn('number', 'Prediction');
      data.addColumn({type: 'string', role: 'annotation'});

      data.addRows([
        ['Paris',   20, '20%'],
        ['Draw',   6, '6%'],
        ['Saint Étienne', 74, '74%']
      ]);

        var formatter = new google.visualization.NumberFormat({
            fractionDigits: 0,
            suffix: '%'
        });
        
        formatter.format(data, 1);

      var options = {
        height: 200,
        colors: ['#FFFFFF'],
        backgroundColor: { fill:'transparent' },
        chartArea: {'width': '95%', 'height': '80%', 'left': 25 },
        annotations: {
            stemColor : 'none',
            alwaysOutside: true,
            textStyle: {
            fontSize: 26,
            color: '#FFF',
            auraColor: 'none'
          }
        },
        hAxis: {
            textStyle:{
                color: '#FFF',
                fontSize: 14
            },
            gridlines: {
                color: "#7cb62e",
            },
            baselineColor: '#7cb62e'
        },
        vAxis: {
            viewWindow: {
                min: 0,
                max: 100
            },
            ticks: [0, 20, 40, 60, 80, 100],
            textStyle:{color: '#FFF'},
            //format: '#\'%\'',
            gridlineColor: '#7cb62e',
            baselineColor: '#7cb62e'
        },
        legend: { position: "none" }
      };

      var chart = new google.visualization.ColumnChart(document.getElementById("chart1"));
      chart.draw(data, options);
  }

    //Make google charts responsive
    $(window).resize(function(){
        drawChart();
    });
</script>
<div class="ls-match-prediction">
    <div class="make-prediction">
        <span class="title">What is your prediction ?</span>
        <span class="description">(This game is also part of the current prediction contest)</span>
        <div class="ls-list">
            <div class="row row__prediction">
                <div class="cell cell__option">
                    <div class="option">1</div>
                    <div class="name">Paris</div>
                </div>
                <div class="cell cell__option">
                    <div class="option">X</div>
                    <div class="name">Draw</div>
                </div>
                <div class="cell cell__option cell__option--selected">
                    <div class="option">2</div>
                    <div class="name">Saint Étienne</div>
                </div>
            </div>
        </div>
        <div class="ls-list">
            <div class="row row__team-forms">
                <div class="cell">
                    <a href="#" class="team-form team-form--colored">V</a>
                    <a href="#" class="team-form team-form--colored">V</a>
                    <a href="#" class="team-form team-form--colored">V</a>
                    <a href="#" class="team-form">N</a>
                    <a href="#" class="team-form team-form--colored">V</a>
                </div>
                <div class="cell cell__title">
                    <span>Team Forms</span>
                </div>
                <div class="cell">
                    <a href="#" class="team-form team-form--colored">V</a>
                    <a href="#" class="team-form team-form--colored">V</a>
                    <a href="#" class="team-form team-form--draw">D</a>
                    <a href="#" class="team-form team-form--colored">V</a>
                    <a href="#" class="team-form team-form--draw">D</a>
                </div>
            </div>
        </div>
    </div>
    <div class="prediction-chart">
        <span class="title">Trend from the community</span>
        <div class="chart-container" id="chart1"></div>
    </div>
</div>