<div class="mdl-layout mdl-layout__header mdl-layout__header-row ls-match-score-header">
    <div class="flag--team-home">
        <img src="../assets/img/psg.png" alt="PSG">
    </div>
    <div class="team-home">
        <div class="team-home__title">
            PSG
        </div>
        <div class="team-home--add">
            <div class="team-home--add__content">
                <div class="qualified">
                <span class="icon-tick"></span>
                <span>Qualified</span>
                </div>
            </div>
        </div>
    </div>
    <div class="score-box">
        <div class="score-box--result">
            <div class="score-box--result__home">
                2
            </div>
            <div class="score-box--result__separator">-</div>
            <div class="score-box--result__away">
                1
            </div>
        </div>
        <div class="score-box--add">
            <div class="score-box--add__hour">
                20:30
            </div>
        </div>
    </div>
    <div class="team-away">
        <div class="team-away__title">
            ASSE
        </div>
        <div class="team-away--add">
            <div class="team-away--add__content">
            </div>
        </div>
    </div>
    <div class="flag--team-away">
        <img src="../assets/img/saint-etienne.png" alt="PSG">
    </div>
</div>

<div class="mdl-layout mdl-layout__header mdl-layout__header-row ls-match-score-header">
    <div class="flag--team-home">
        <img src="../assets/img/psg.png" alt="PSG">
    </div>
    <div class="team-home">
        <div class="team-home__title">
            PSG
        </div>
        <div class="team-home--add">
            <div class="team-home--add__content">
            </div>
        </div>
    </div>
    <div class="score-box">
        <div class="score-box--result">
            <div class="score-box--result__home">
                2
            </div>
            <div class="score-box--result__separator">-</div>
            <div class="score-box--result__away">
                1
            </div>
        </div>
        <div class="score-box--add">
            <div class="score-box--add__time live">
                42'
            </div>
        </div>
    </div>
    <div class="team-away">
        <div class="team-away__title">
            ASSE
        </div>
        <div class="team-away--add">
            <div class="team-away--add__content">
            </div>
        </div>
    </div>
    <div class="flag--team-away">
        <img src="../assets/img/saint-etienne.png" alt="PSG">
    </div>
</div>

<div class="mdl-layout mdl-layout__header mdl-layout__header-row ls-match-score-header">
    <div class="flag--team-home">
        <img src="../assets/img/psg.png" alt="PSG">
    </div>
    <div class="team-home">
        <div class="team-home__title">
            PSG
        </div>
        <div class="team-home--add">
            <div class="team-home--add__content">
            </div>
        </div>
    </div>
    <div class="score-box">
        <div class="score-box--result">
            <div class="score-box--result__home">
                2
            </div>
            <div class="score-box--result__separator">-</div>
            <div class="score-box--result__away">
                1
            </div>
        </div>
        <div class="score-box--add">
            <div class="score-box--add__time paused">
                HT
            </div>
        </div>
    </div>
    <div class="team-away">
        <div class="team-away__title">
            ASSE
        </div>
        <div class="team-away--add">
            <div class="team-away--add__content">
            </div>
        </div>
    </div>
    <div class="flag--team-away">
        <img src="../assets/img/saint-etienne.png" alt="PSG">
    </div>
</div>



<div class="mdl-layout mdl-layout__header mdl-layout__header-row ls-match-score-header">
    <div class="flag--team-home">
        <img src="../assets/img/psg.png" alt="PSG">
    </div>
    <div class="team-home">
        <div class="team-home__title">
            PSG
        </div>
        <div class="team-home--add">
            <div class="team-home--add__content">
                <div class="qualified">
                </div>
            </div>
        </div>
    </div>
    <div class="score-box">
        <div class="score-box--result">
            <div class="score-box--result__home">
                2
            </div>
            <div class="score-box--result__separator">-</div>
            <div class="score-box--result__away">
                1
            </div>
        </div>
        <div class="score-box--add">
            <div class="score-box--add__over">
                Finished
            </div>
        </div>
    </div>
    <div class="team-away">
        <div class="team-away__title">
            ASSE
        </div>
        <div class="team-away--add">
            <div class="team-away--add__content">
            </div>
        </div>
    </div>
    <div class="flag--team-away">
        <img src="../assets/img/saint-etienne.png" alt="PSG">
    </div>
</div>