<ul class="mdl-list ls-list ls-list-comments">


    <li class="row row--comment row--highlight">
        <div class="cell cell__comment cell__comment-minute">
            <span>90'+5</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons injury-back"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Player 1 is replaceing Player 2 for Paris at
            Arena do Gremio
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>90'+4</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons match-play"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Paris have been awarded a penalty
        </div>
    </li>


    <li class="row row--comment row--comment--goal">
        <div class="cell cell__comment cell__comment-minute">
            <span>90'+4</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons goal"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Paris have extended their lead to 3 - 0
            courtesy of Lucas Moura penalty
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>65'</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons yellow-red-card"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Yellow cards for Totti on this killer action
            spotted by the referee
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>63'</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons goal-assist"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Neymar with an assist there
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>62'</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons player-change"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Luiz Felip Scolari is making the team’s
            fifth substitution at Arena do Gremio with
            Danter replacing Paulinho
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>62'</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons yellow-card"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Paris take a comfortable 1 - 0 lead
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>62'</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons yellow-red-card"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Yellow cards for Totti on this killer action
            spotted by the referee
        </div>
    </li>

    {#ADS#}
    <li class="row row--comment row--visual-block">
        <div class="cell">
            <span>advertisement</span>
            <img src="{{ basePath }}../assets/img/img-advertisement.png" alt="ads"/>
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>62'</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons player-change"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Luiz Felip Scolari is making the team’s
            fifth substitution at Arena do Gremio with
            Danter replacing Paulinho
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>62'</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons yellow-card"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Paris take a comfortable 1 - 0 lead
        </div>
    </li>

</ul>
