<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Team", "Prediction"],
        ["Paris", 20],
        ["Draw", 6],
        ["Saint Étienne", 74]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        colors: ['#FFFFFF'],
        height: 250,
        chartArea: {'width': '90%', 'height': '80%'},
        bar: {groupWidth: "95%"},
        backgroundColor: { fill:'transparent' },
        legend: { position: "none" },
        hAxis:{
            format: 'percent'
        }
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("chart1"));
      chart.draw(view, options);
  }
</script>
<div class="ls-match-prediction">
    <div class="make-prediction">
        <span class="title">What is your prediction ?</span>
        <span class="description">(This game is also part of the current prediction contest)</span>
        <div class="ls-list">
            <div class="row row__prediction">
                <div class="cell cell__option">
                    <div class="option">1</div>
                    <div class="name">Paris</div>
                </div>
                <div class="cell cell__option">
                    <div class="option">X</div>
                    <div class="name">Draw</div>
                </div>
                <div class="cell cell__option cell__option--selected">
                    <div class="option">2</div>
                    <div class="name">Saint Étienne</div>
                </div>
            </div>
        </div>
        <div class="ls-list">
            <div class="row row__team-forms">
                <div class="cell">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">V</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">V</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">V</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">N</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">V</button>
                </div>
                <div class="cell cell__title">
                    <span>Team Forms</span>
                </div>
                <div class="cell">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">V</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">V</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">D</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">V</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">D</button>
                </div>
            </div>
        </div>
    </div>
    <div class="prediction-chart">
        <span class="title">Trend from the community</span>
        <div class="chart-container" id="chart1"></div>
    </div>
</div>