
<div class="ls-match-lineup ">
    <img class="field" src="../assets/img/football-field.png" alt="">

    <div class="ls-grid line-4 team1">

        <div class="legend">
            <div class="composition">
                <span>4 - 4 - 3</span>
            </div>
            <div class="team-title">
                <span>PSG</span>
            </div>
        </div>


        {#---------------- 1 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>1</span></div>
                <div class="player__name"><span>Neto</span></div>
            </div>
        </div>

        {#---------------- 4 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>6</span></div>
                <div class="player__name"><span>F. Roncaglia</span></div>
                <div class="match-incidents">
                    <div class="match-incidents__icon">
                        <span class="sprite-icons substitution-left"></span>
                    </div>
                </div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>7</span></div>
                <div class="player__name"><span>M. Compper</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>18</span></div>
                <div class="player__name"><span>S. Savic</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>13</span></div>
                <div class="player__name"><span>J. Cuadrad.</span></div>
                <div class="match-incidents">
                    <div class="match-incidents__icon">
                        <span class="sprite-icons yellow-card"></span>
                    </div>
                </div>
            </div>
        </div>

        {#---------------- 2 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>4</span></div>
                <div class="player__name"><span>A. Aquilan.</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>3</span></div>
                <div class="player__name"><span>D. Pizarro</span></div>
                <div class="match-incidents">
                    <div class="match-incidents__icon">
                        <span class="sprite-icons substitution-left"></span>
                    </div>
                </div>
            </div>
        </div>

        {#---------------- 4 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>9</span></div>
                <div class="player__name"><span>B. Valero</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>10</span></div>
                <div class="player__name"><span>M. Pasqual</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>14</span></div>
                <div class="player__name"><span>Joaquin</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>15</span></div>
                <div class="player__name"><span>C. Ronaldo</span></div>
            </div>
        </div>
    </div>

    <div class="ls-grid line-5 team2">

        <div class="legend">
            <div class="team-title">
                <span>ASSE</span>
            </div>
            <div class="composition">
                <span>3 - 1 - 5 - 1</span>
            </div>

        </div>

        {#---------------- 1 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>11</span></div>
                <div class="player__name"><span>M. Cassini</span></div>
            </div>
        </div>

        {#---------------- 5--------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>6</span></div>
                <div class="player__name"><span>R. Olivera</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>7</span></div>
                <div class="player__name"><span>R. Cohade</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>8</span></div>
                <div class="player__name"><span>C. Llama</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>9</span></div>
                <div class="player__name"><span>A. Ljajic</span></div>
                <div class="match-incidents">
                    <div class="match-incidents__icon">
                    <span class="sprite-icons yellow-red-card"></span>
                    <span class="sprite-icons goal"></span>
                    </div>
                </div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>10</span></div>
                <div class="player__name"><span>J. Vargas</span></div>
            </div>
        </div>

        {#---------------- 1 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>5</span></div>
                <div class="player__name"><span>F. Della Roc.</span></div>
            </div>
        </div>

        {#---------------- 3 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>4</span></div>
                <div class="player__name"><span>M. Fernandez</span></div>
                <div class="match-incidents">
                    <div class="match-incidents__icon">
                        <span class="sprite-icons yellow-card"></span>
                    </div>
                </div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>3</span></div>
                <div class="player__name"><span>A. Hegazy</span></div>
            </div>
            <div class="cell cell__player">
                <div class="player__number "><span>17</span></div>
                <div class="player__name"><span>A. Aquilini</span></div>
            </div>
        </div>

        {#---------------- 1 --------------------------#}

        <div class="row">
            <div class="cell cell__player">
                <div class="player__number "><span>1</span></div>
                <div class="player__name"><span>M. Donadel</span></div>
            </div>
        </div>

    </div>

</div>
