<div class="ls-match-prediction">
    <div class="make-prediction">
        <div class="ls-list ls-prediction-forms">
            <div class="row">
                <div class="cell cell__team-form-title">PSG</div>
                <div class="cell cell__team-form-title">ASSE</div>
            </div>
            <div class="row row__team-forms">
                <div class="cell">
                    <a href="#" class="team-form team-form--won">V</a>
                    <a href="#" class="team-form team-form--won">V</a>
                    <a href="#" class="team-form team-form--won">V</a>
                    <a href="#" class="team-form team-form--draw">N</a>
                    <a href="#" class="team-form team-form--won">V</a>
                </div>
                <div class="cell">
                    <a href="#" class="team-form team-form--won">V</a>
                    <a href="#" class="team-form team-form--won">V</a>
                    <a href="#" class="team-form team-form--lost">D</a>
                    <a href="#" class="team-form team-form--won">V</a>
                    <a href="#" class="team-form team-form--lost">D</a>
                </div>
            </div>
        </div>
    </div>
</div>