<ul class="mdl-list mdl-list—condensed ls-list ls-list-incidents">

    {#row - head#}
    <li class="row row-head ls-list-incidents--head">
        <div class="team team-home">
             <span>PSG</span>
        </div>
        <div class="match-details">
            1st Half
        </div>
        <div class="team team-away">
            <span>ASSE</span>
        </div>
    </li>

    {#row - red card#}
    <li class="row ls-list-incidents--details ">
        <div class="team team-home">
            <div class="team-home--player">
                <span>M. Badelji</span>
            </div>
            <div class="action-icon">
                <img src="../assets/img/red-card.png" alt="red-card-icon">
            </div>
        </div>
        <div class="match-details">
            16'
        </div>
        <div class="team team-away">

        </div>
    </li>


    {#row - goal#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
        </div>
        <div class="match-details">
            23'
        </div>
        <div class="team team-away">
            <div class="action-icon">
                <img src="../assets/img/goal.png" alt="goal-icon">
            </div>
            <div class="team-home--player">
                <span>G. Gale</span>
            </div>
        </div>
    </li>

    {#row - goal#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
            <div class="team-home--player">
                <span>E. Eduardo</span>
            </div>
            <div class="action-icon">
                <img src="../assets/img/goal.png" alt="goal-icon">
            </div>
        </div>
        <div class="match-details">
            34'
        </div>
        <div class="team team-away">
        </div>
    </li>

    {#row - red card#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
            <div class="team-home--player">
                <span>A. Halilovic</span>
            </div>
            <div class="action-icon">
                <img src="../assets/img/red-card.png" alt="red-card-icon">
            </div>
        </div>
        <div class="match-details">
            42'
        </div>
        <div class="team team-away">
        </div>
    </li>

    {#row - Yellow-card#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
        </div>
        <div class="match-details">
            43'
        </div>
        <div class="team team-away">
            <div class="action-icon">
                <img src="../assets/img/yellow-card.png" alt="yellow-card-icon">
            </div>
            <div class="team-home--player">
                <span>S. Amstrong</span>
            </div>
        </div>
    </li>

    {#row - Yellow-card#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
            <div class="team-home--player">
                <span>R. Roniho</span>
            </div>
            <div class="action-icon">
                <img src="../assets/img/yellow-card.png" alt="yellow-card-icon">
            </div>
        </div>
        <div class="match-details">
            45'+
        </div>
        <div class="team team-away">
        </div>
    </li>

    {#Separator#}
    <li class="row row-separator">
            2nd Half
    </li>

    {#row - Substitution#}
    <li class="row ls-list-incidents--details substitution">
        <div class="team team-home">
        </div>
        <div class="match-details">
           53'
        </div>
        <div class="team team-away">
            <div class="action-icon">
                <img src="../assets/img/substitution.png" alt="substitution">
            </div>
            <div class="team-away--player">
                <span>M. Badelji</span>
                <span>F. Mourijero</span>
            </div>
        </div>
    </li>

    {#row - Injury#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
        </div>
        <div class="match-details">
            55'
        </div>
        <div class="team team-away">
            <div class="action-icon">
                <img src="../assets/img/injury-back.png" alt="injury-back-icon">
            </div>
            <div class="team-home--player">
                <span>K.Uihoi</span>
            </div>
        </div>
    </li>

    {#row - goal#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
        </div>
        <div class="match-details">
            72'
        </div>
        <div class="team team-away">
            <div class="action-icon">
                <img src="../assets/img/goal.png" alt="goal-icon">
            </div>
            <div class="team-home--player">
                <span>F. Frandao</span>
            </div>
        </div>
    </li>

    {#row - Yellow-card#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
            <div class="team-home--player">
                <span>L. Laiako</span>
            </div>
            <div class="action-icon">
                <img src="../assets/img/yellow-card.png" alt="yellow-card-icon">
            </div>
        </div>
        <div class="match-details">
            90' +4
        </div>
        <div class="team team-away">
        </div>
    </li>

    {#Separator#}
    <li class="row row-separator">
            PENS
    </li>

    {#row - PENS#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
            <div class="team-home--player">
                <span>L. Laiako</span>
            </div>
            <div class="action-icon">
                <img src="../assets/img/goal-green.png" alt="goal-green-icon">
            </div>
        </div>
        <div class="match-details">
        </div>
        <div class="team team-away">
            <div class="action-icon">
                <img src="../assets/img/goal-green.png" alt="goal-green-icon">
            </div>
            <div class="team-away--player">
                <span>M. Badelji</span>
            </div>
        </div>
    </li>

    {#row - PENS#}
    <li class="row ls-list-incidents--details">
        <div class="team team-home">
            <div class="team-home--player">
                <span>L. Laiako</span>
            </div>
            <div class="action-icon">
                <img src="../assets/img/goal-green.png" alt="goal-green-icon">
            </div>
        </div>
        <div class="match-details">
        </div>
        <div class="team team-away">
            <div class="action-icon">
                <img src="../assets/img/no-goal-red.png" alt="no-goal-red-icon">
            </div>
            <div class="team-away--player">
                <span>M. Badelji</span>
            </div>
        </div>
    </li>

</ul>
