<ul class="mdl-list ls-list ls-odds">
    <li class="row row--head">
        <div class="cell cell--content-left">Bet website</div>
        <div class="cell cell__odds"><span>1</span></div>
        <div class="cell cell__odds "><span>N</span></div>
        <div class="cell cell__odds"><span>2</span></div>
    </li>
    <li class="row">
        <div class="cell cell__bookmaker">
            <img src="{{ basePath }}../assets/img/bovada.png" alt="Bovada"/>BetClic
        </div>
        <a class="cell cell__odds"><span>4.33</span></a>
        <a class="cell cell__odds">
            <span class="cell__odds--arrow">
                <span class="icon-arrow-down"></span>
            </span>
            <span>3.00</span>
        </a>
        <a class="cell cell__odds"><span>2.OO</span></a>
    </li>
</ul>