<ul class="mdl-list mdl-list—condensed ls-list ls-list-details">

    {#row - head#}
    <li class="row row-head">
        <div class="ls-list-details--infos__day">
            <div class="title">
                League 1 - Matchday 15
            </div>
        </div>
        <div class="ls-list-details--infos">
            <div class="details-icon">
                <span class="icon-calendar"></span>
            </div>
            <div class="title">
                30/05/2015 - 20h30
            </div>
        </div>
    </li>
    <li class="row row-head">
        <div class="ls-list-details--infos__place">
            <div class="details-icon">
                <span class="icon-location-pin"></span>
            </div>
            <div class="title">
                Stade de france long textslgslhvsljsl
            </div>
        </div>
        <div class="ls-list-details--infos">
            <div class="details-icon">
                <span class="icon-referee"></span>
            </div>
            <div class="title">
                Andrea Gervasoni long textvfzfzz
            </div>
        </div>
    </li>

    {#Score row#}
    <li class="row row-score">
        <div class="ls-list-details--score-infos">
            Cumul
        </div>
        <div class="ls-list-details--score-box">
            <div class="score-home">4</div>
            <div class="score-separator">-</div>
            <div class="score-home">3</div>
        </div>
        <div class="ls-list-details--spacer"></div>
    </li>

    {#Score row#}
    <li class="row row-score">
        <div class="ls-list-details--score-infos">
            Ht
        </div>
        <div class="ls-list-details--score-box">
            <div class="score-home">1</div>
            <div class="score-separator">-</div>
            <div class="score-home">1</div>
        </div>
        <div class="ls-list-details--spacer"></div>
    </li>

    {#Score row#}
    <li class="row row-score">
        <div class="ls-list-details--score-infos">
            reg
        </div>
        <div class="ls-list-details--score-box">
            <div class="score-home">1</div>
            <div class="score-separator">-</div>
            <div class="score-home">1</div>
        </div>
        <div class="ls-list-details--spacer"></div>
    </li>

    {#Score row#}
    <li class="row row-score">
        <div class="ls-list-details--score-infos">
            pens
        </div>
        <div class="ls-list-details--score-box">
            <div class="score-home">4</div>
            <div class="score-separator">-</div>
            <div class="score-home">3</div>
        </div>
        <div class="ls-list-details--spacer"></div>
    </li>

</ul>