<ul class="mdl-list ls-list ls-list-comments">


    <li class="row row--comment row--highlight">
        <div class="cell cell__comment cell__comment-minute">
            <span>90'+5</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons injury-back"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Player 1 is replaceing Player 2 for Paris at
            Arena do Gremio
        </div>
    </li>

    <li class="row row--comment">
        <div class="cell cell__comment cell__comment-minute">
            <span>90'+4</span>
        </div>
        <div class="cell cell__comment cell__comment-icon">
            <span class=" sprite-icons match-play"></span>
        </div>
        <div class="cell cell__comment cell__comment-comment">
            Paris have been awarded a penalty
        </div>
    </li>
</ul>
