{% include 'blocks/dividers/divider-simple.twig' with {
    divider_title: 'Betting Tips'
} %}

<ul class="mdl-list ls-list match-betting-tips">
    <li class="row">
        <div class="cell cell__img">
            <img src="../assets/img/psg.png" alt="PSG">
        </div>
        <div class="cell cell__text">
            Luiz Felip Scolari is making the team’s fifth substitution at Arena do Gremio with Danter replacing Paulinho
        </div>
    </li>
    <li class="row">
        <div class="cell cell__img">
            <img src="../assets/img/real-madrid.png" alt="Real Madrid">
        </div>
        <div class="cell cell__text">
            Arena do Gremio with Danter replacing Paulinho
        </div>
    </li>
    <li class="row">
        <div class="cell cell__img">
            <img src="../assets/img/player1.png" alt="Player 1">
        </div>
        <div class="cell cell__text">
            Luiz Felip Scolari is making the team’s fifth substitution at Arena do Gremio with Danter replacing Paulinho
        </div>
    </li>
    <li class="row">
        <div class="cell cell__img">
            <img src="../assets/img/psg.png" alt="Player 1">
        </div>
        <div class="cell cell__text">
            Luiz Felip Scolari is making the team’s fifth substitution at Arena do Gremio with Danter replacing Paulinho
        </div>
    </li>
    <li class="row">
        <div class="cell cell__img">
            <img src="../assets/img/psg.png" alt="Player 1">
        </div>
        <div class="cell cell__text">
            Luiz Felip Scolari is making the team’s fifth substitution at Arena do Gremio with Danter replacing Paulinho
        </div>
    </li>
    <li class="row">
        <div class="cell cell__img">
            <img src="../assets/img/player2.png" alt="Player 2">
        </div>
        <div class="cell cell__text">
            Luiz Felip Scolari is making the team’s fifth substitution at Arena do Gremio with Danter replacing Paulinho
        </div>
    </li>
</ul>