<div class="mdl-list ls-list ls-head-to-head">
    <div class="row">
        <div class="cell">
            <div class="circle circle--first circle--gray1">
                <span>4</span>
            </div>
        </div>
        <div class="cell">
            <div class="circle circle--third circle--gray3">
                <span>1</span>
            </div>
        </div>
        <div class="cell">
            <div class="circle circle--second circle--gray2">
                <span>2</span>
            </div>
        </div>
    </div>
    <div class="row row--infos">
        <div class="cell">
            <span>REAL M.</span>
        </div>
        <div class="cell">
            <span>DRAW</span>
        </div>
        <div class="cell">
            <span>BAYERN</span>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--12-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--block mdl-js-ripple-effect">
        + Show Game details
    </button>
</div>
