.ath-container {
	border-radius: 4px;
	background: $ls-color-white;
	border: 1px solid darken($ls-color-white, 18%);
	padding: 1.21429rem;
	box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.19);
	width: 24em;

	@media (max-width: 320px) {
		width: 300px;
	}

	&:before {
		width: 28px;
  	height: 28px;
		top: 6px;
		right: 7px;
		background-color: transparent;
	}

	&.ath-android,
	&.ath-ios.ath-phone {
	
		@media (max-width: 320px) {
			margin-left: -150px;
		}

		&.ath-icon:before {
			top: 6px;
			right: 7px;
			left: auto;
		}

		&:after {
			content: '';
	    background: #fff;
	    position: absolute;
	    width: 2em;
	    height: 2em;
	    bottom: -0.9em;
	    left: 50%;
	    margin-left: -1em;
	    -webkit-transform: scaleX(0.9) rotate(45deg);
	    transform: scaleX(0.9) rotate(45deg);
	    box-shadow: 1px 1px 0 #d1d1d1;
		}

		&:before {
			float: none;
			margin: 0;
		}
	}
}

.ath-application-icon {
	border: 1px solid hsl(0, 0%, 87%);
	margin-bottom: 15px;
	border-radius: 20px;

	.ath-container.ath-ios & {
		box-shadow: none;
		margin-bottom: 15px;
	}
}

.ath-android {
	margin-left: -12em;

	.ath-action-icon {
		width: 27px;
		height: 27px;
		background-size: 16px;
		background-color: darken($ls-color-white, 5%);
	}
}

.ath-ios7, 
.ath-ios8, 
.ath-ios9, 
.ath-ios10 {
	margin-left: -12em;

	.ath-action-icon {
		width: 27px;
		height: 27px;
		background-size: 15px;
	}
}

.ath-ios.ath-phone {
	margin-left: -12em;

	&:after {
		background-color: #fff;
		box-shadow: 1px 1px 0 #d1d1d1;
	}
}