.mdl-button {
	text-transform: none;
	font-weight: $ls-button-font-weight;
	font-size: $ls-button-font-size;
	padding: $ls-button-padding;
	min-width: 46px;
	box-sizing: border-box;
}

// Raised buttons
.mdl-button--raised {
	box-shadow: none;

	&:active, &:focus:not(:active) {
		box-shadow: none;
	}
}

//Ripple
.mdl-ripple {

	.mdl-button & {
		background: darken($button-active-color, 30%);
	}
}

//Large buttons
.mdl-button--large{
	line-height: $ls-button-large-size;
	height: $ls-button-large-size;

	.mdl-button__icon-right{
		float: right;
		line-height: $ls-button-large-size;
	}
}

//Block buttons
.mdl-button--block{
	display: block;
	width: 100%;
}

//Icon buttons
.mdl-button__icon{
	vertical-align: middle;
	color: lighten($button-secondary-color, 25%);

	.mdl-button--large & {
		font-size: $ls-button-large-icon-size;

		&.icon-caret-down,
		&.icon-caret-up,
		&.icon-caret-left,
		&.icon-caret-right
		{
			font-size: 12px;
		}
	}

	.mdl-button--colored &,
	.mdl-button--accent &
	{
		color: $ls-color-white;
	}
}

.mdl-button__icon-left{
	margin-right: 25px;
}


//Button group
.mdl-button-group{
	display: inline-flex;
	position: relative;
	
	& .mdl-button{
		border-right: 1px solid darken($button-primary-color, 10%);
		border-radius: 0;

		&:last-child{
			border-right-width: 0;
		}
	}

	&.mdl-button-group--block{
		display: flex;
		align-items: center;

		.mdl-button--wide{
			flex-grow: 1;
		}
	}

    &.mdl-button-group--pagination {
	  	justify-content: center;
	}
}

//Button group as ul
ul.mdl-button-group {

  list-style-type: none;
  padding: 0;

  li {

	.mdl-button {

	  &:last-child {
		border-right-width:1px;
	  }
	}

	&:last-child {

	  .mdl-button {
		border-right-width: 0;
	  }
	}
  }

}

//Button select
.mdl-button__select{
	padding: 0;
	
	&:after{
		content: '\e60b';
		font-family: "LSicons";
		font-size: 12px;
		position: absolute;
		z-index: 1;
		right: 20px;
		top: 0;
		color: lighten($button-secondary-color, 25%);
	}

	select{
		@include typo-preferred-font(true);
		font-size: $ls-button-font-size;
		font-weight: 300;
		position: relative;
		z-index: 2;
		appearance:none;
		outline: none;
		width: 100%;
		border: 0;
		background: transparent;
		height: $button-height;
		min-width: $button-min-width;
		padding: 0 $button-padding;
		color: $button-secondary-color;
	}

	&.mdl-button--large{

		select{
			line-height: $ls-button-large-size;
			height: $ls-button-large-size;
		}
	}
}