.ls-list-countries {

  background: $ls-color-white;

  .row {
    display: flex;
    width: auto;
    background: $ls-color-white;
    border-bottom: $ls-list-border;
    padding: 0 14px;

    > a {
      color: $ls-text-color;
    }

    .cell {
      padding: 12px 0 10px 0;
    }
  }

  .row--country{
    border-bottom: lighten($ls-list-border-color, 5%);

    .cell {

      &__flag {
        flex: 0 0 34px;

        > img {
          max-width: 21px;
        }
      }

      &__country {
        font-weight: 300;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      &__badge {
        padding: 0;
        flex: 0 0 107px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--live {
          flex: 0 0 1px;
        }
      }
    }
  }
}





