<div class="ls-account-sync">

	<div class="ls-account-sync__header">
		<div class="user-avatar">
			<div class="img-rounded">
				<img src="{{ basePath }}../assets/img/avatar3.png" alt="User Avatar">
			</div>
		</div>
		<div class="user-name">Sébastien A.</div>
	</div>

	<div class="ls-account-sync__body">
		<span class="ls-account-sync__title">Welcome Back !</span>
		<div class="ls-account-sync__icons">
			<span class="material-icons">&#xE2BD;</span>
			<span class="material-icons">&#xE32C;</span>
		</div>

		<div class="ls-account-sync__success-text"><span class="icon icon-tick"></span>Favorites retreived</div>
		
		<div class="ls-account-sync__list">
			<ul>
				<li><span class="icon icon-bell"></span>My Games</li>
				<li><span class="icon icon-star"></span>My Leagues</li>
				<li><span class="icon icon-star"></span>My Teams</li>
			</ul>
		</div>

		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-button--large mdl-button--block mdl-js-ripple-effect">
			Redirecting...
		</button>
	</div>
</div>