<div class="ls-message-widget">
	<span class="ls-message-widget__icon {{ message_icon }}"></span>
	<span class="ls-message-widget__title">{{ message_title }}</span>
	<span class="ls-message-widget__description">{{ message_description  }}</span>

    {# If reset from app, link to open app #}
    {% if app_open_link %}
		<a href="#" class="ls-message-widget__app-link mdl-js-button mdl-js-ripple-effect">
			<span class="ls-message-widget__app-icon"><img src="{{ basePath }}../assets/img/icon-marca.png" alt="App Logo"></span>
			<span class="ls-message-widget__app-description">Open Marcadores App</span>
		</a>
    {% endif %}

</div>




