.mdl-layout__tab-bar {
  height: $layout-tab-bar-height;
}

.mdl-tabs--scrollable {
	overflow: hidden;
	height: $ls-tab-height;
	border-bottom: 1px solid $tab-border-color;
	
	.mdl-tabs__tab-bar {
		justify-content: flex-start;
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;
		padding-bottom: 50px;
	}

	.mdl-tabs__tab {
		flex-grow: 0;
		flex-shrink: 0;
	}
}