.mdl-layout__drawer-button {
  color: unquote("rgb(#{$color-primary})");
}

.mdl-layout__header {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);

	//Aligment fix in header
	.mdl-switch{
		
		.mdl-switch__label{
			left: 0;

			&:first-child{
				position: relative;
				left: 1px;
			}
		}

		&.is-upgraded{
			padding-left: 40px;
		}
	}

	.mdl-switch__label{
		font-size: 15px;
		color: lighten($ls-text-color, 20%);
	}

	//Second label in switch component
	.mdl-switch-label-left{
		margin: 0 5px;

		.mdl-switch__label{
			left: 0;
		}
	}

	//General link elements
	.mdl-navigation__link{
		color: lighten($ls-text-color, 30%);

		&.ls-icon{
			padding-left: 5px;
			padding-right: 5px;
			font-size: 19px;
			
			&.ls-active{

				.icon-star{
					color: $ls-star-active;

					&:hover{
						color: lighten($ls-text-color, 30%);
					}
				}
			}
		}
	}
}

.mdl-layout-brand-logo{
	height: $layout-header-mobile-row-height;
	line-height: $layout-header-mobile-row-height;
	position: relative;
	padding-right: 10px;
	margin-right: 10px;

	img{
		width: $ls-brand-logo-size;	
		height: $ls-brand-logo-size;
	}

	&:after{
		content: "";
		height: 100%;
		width: 4px;
		position: absolute;
		top: 0;
		right: -4px;
		background-color: rgba(0, 0, 0, 0.02);
		border-left: 1px solid darken($ls-color-white, 11.2%);
		transform: rotate(7deg);
	}
}

.mdl-layout__drawer-button{
	height: $layout-header-mobile-row-height;
	line-height: $layout-header-mobile-row-height + 6;
	
	.mdl-layout__header & {

	  @media screen and (max-width: $layout-screen-size-threshold) {
	    margin: 0;
	  }
	}
}

.mdl-layout-title{
	font-size: 16px;
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}