.mdl-layout__drawer-button {
  color: unquote("rgb(#{$color-primary})");
}

.mdl-layout__header {
	box-shadow: none;

	//Aligment fix in header
	.mdl-switch{
		
		.mdl-switch__label{
			left: 0;

			&:first-child{
				position: relative;
				left: 1px;
			}
		}

		&.is-upgraded{
			padding-left: 40px;
		}
	}
	
	//Switch header style
	.mdl-switch__label{
		font-size: 15px;
		color: lighten($ls-text-color, 20%);
	}

	//Second label in switch component
	.mdl-switch-label-left{
		margin: 0 5px;

		.mdl-switch__label{
			left: 0;
		}
	}

	//General link elements
	.mdl-navigation__link{
		color: lighten($ls-text-color, 30%);
		text-align: center;
		min-width: 30px;

		&.ls-icon{
			padding-left: 5px;
			padding-right: 5px;
			font-size: 19px;
			
			&.ls-active{

				.icon-star{
					color: $ls-star-active;

					&:hover{
						color: lighten($ls-text-color, 30%);
					}
				}
			}
		}

		&:active{
			background-color: darken($ls-color-white, 10%);
		}
	}
}

.mdl-layout__header-row{
	border-bottom: $ls-top-header-border-bottom;
}

.mdl-layout-brand-logo{
	height: $layout-header-desktop-row-height;
	line-height: $layout-header-desktop-row-height - 5px;
	position: relative;
	padding-right: 15px;
	margin-right: 15px;
	cursor: pointer;

	img{
		width: $ls-brand-logo-size;	
		height: $ls-brand-logo-size;
	}

	&:after{
		content: "";
		height: 100%;
		width: 4px;
		position: absolute;
		top: 0;
		right: -4px;
		background-color: rgba(0, 0, 0, 0.02);
		border-left: 1px solid darken($ls-color-white, 11.2%);
		transform: rotate(7deg);
	}

	@media screen and (max-width: $layout-screen-size-threshold) {
		height: $layout-header-mobile-row-height;
		line-height: $layout-header-mobile-row-height - 2px;
		padding-right: 10px;
		margin-right: 10px;
  }
}

.mdl-layout__drawer-button{
	padding-right: 6px;
	
	.mdl-layout__header & {
		margin-right: 0;

	  @media screen and (max-width: $layout-screen-size-threshold) {
	  	margin: 0;
	  	height: $layout-header-mobile-row-height - 1px;
			line-height: $layout-header-mobile-row-height + 6;
			padding-right: 0;
	  }
	}
}

.mdl-layout-title{
	font-size: 16px;
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

//Drawer style
.mdl-layout__drawer {
	border-right: 0;
	background-color: $ls-color-white;

	& > .mdl-layout-title {
		line-height: 0;
		padding: 15px;
		text-align: center;
		flex-shrink: 0;
	}

	& .mdl-navigation {
		margin: 0;
		padding: 0;

		& .mdl-navigation__link{
			font-size: $ls-drawer-link-font-size;
			padding: $ls-drawer-link-padding;
			font-weight: 300;
			color: $ls-drawer-link-color;

		  &:hover {
	      background-color: darken($ls-color-white, 4%);
	    }

			.icon{
				vertical-align: middle;
				font-size: $ls-drawer-link-icon-size;
				margin-right: 7px;
				color: $ls-green-active-color;
			}
		}

		//Drawer ads
		& .mdl-navigation__visual{
			background-color: darken($ls-color-white, 3.5%);
			text-align: center;
			display: block;
			padding: 20px;
		}

		//Social links
		& .mdl-navigation__social{
			display: flex;

			.mdl-navigation__link{
				flex-grow: 1;
				text-align: center;
				padding-top: 14px;
				padding-bottom: 14px;

				.icon-facebook{ color: $ls-color-facebook; }
				.icon-twitter{ color: $ls-color-twitter; }
				.icon-googleplus{ color: $ls-color-googleplus; }
			}
		}

		//Active navigation list
		& .mdl-navigation__active{
			
			& > .mdl-navigation__link{
				padding: $ls-drawer-link-active-padding;
				background-color: $ls-green-active-color;
				color: $ls-color-white;

				.icon{
					color: $ls-color-white;
				}
			}
		}

		& .mdl-sub-navigation {
			display: none;
			margin: 0;
			padding: 0;
			background-color: darken($ls-color-white, 2%);

			& .mdl-navigation__link{
				padding: $ls-drawer-sub-nav-link-padding;
				padding-left: 44px;
				font-size: $ls-drawer-sub-navigation-font-size;
				color: $ls-color-black;

				img{
					vertical-align: middle;
					max-width: 21px;
					max-height: 21px;
					margin-right: 10px;
				}
			}
		}

		& .mdl-navigation__open{
			
			.mdl-sub-navigation {
				display: block;
			}
		}

		& .mdl-sub-navigation__title{
			padding-left: 44px;
			padding-right: 9px;
			padding-bottom: 3px;
	    padding-top: 3px;
			color: darken($ls-color-white, 36%);
	    font-size: 12px;
	    font-weight: 400;
	    line-height: 26px;
	    text-transform: uppercase;

	    .icon{
	    	color: darken($ls-color-white, 30%);
	    	font-size: 15px;
	    	float: right;
	    	line-height: 27px;
	    	text-decoration: none;
	    }
		}
	}
}

//Tabs
.mdl-layout__tab-bar-container {
	border-bottom: $ls-top-header-border-bottom;
}

.mdl-layout__tab {
	text-transform: none;
	font-weight: $ls-tab-font-weight;
	font-size: 13px;

	.mdl-layout.is-upgraded &.is-active {
  	color: $ls-tab-text-color-active;
	}
}