<div class="mdl-grid">

	<h1>Contact Us</h1>
	<p>Please, feel free to contact us with the following form.</p>

	<div class="mdl-cell mdl-cell--6-col">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="sample3" />
					<label class="mdl-textfield__label" for="sample3">Name...</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="sample3" />
					<label class="mdl-textfield__label" for="sample3">Email address...</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="sample3" />
					<label class="mdl-textfield__label" for="sample3">Subject...</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
					<label class="mdl-textfield__label" for="sample5">Type your message here...</label>
				</div>
				<!-- Colored raised button -->
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
					BUTTON
				</button>
			</form>
	</div>

</div>