<div class="mdl-grid mdl-grid--no-spacing">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="mdl-card mdl-shadow--2dp mdl-card--full">
			<div class="mdl-card__supporting-text">
				<h1>Contact Us</h1>
				<p>Please, feel free to contact us with the following form.</p>
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--100">
						<input class="mdl-textfield__input" type="text" id="sample3" />
						<label class="mdl-textfield__label" for="sample3">Name...</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--100">
						<input class="mdl-textfield__input" type="text" id="sample3" />
						<label class="mdl-textfield__label" for="sample3">Email address...</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--100">
						<input class="mdl-textfield__input" type="text" id="sample3" />
						<label class="mdl-textfield__label" for="sample3">Subject...</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--100">
						<textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
						<label class="mdl-textfield__label" for="sample5">Type your message here...</label>
					</div>
					<!-- Colored raised button -->

				</form>
			</div>
			<div class="mdl-card__actions">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
					Send this message
				</button>
			</div>

		</div>
	</div>


</div>