.ls-redirect {
  width: 100%;
  padding: 70px;
  box-sizing: border-box;
  text-align: center;

  .redirect-icon {

    .material-icons {
      font-size: 84px;
    }

    .material-icons.arrow {
      font-size: 37px;
      color: lighten($ls-text-color , 50%);
      vertical-align: top;
      padding: 26px 15px 0 15px;
    }
  }

  p {
    font-weight: 300;
    font-size: 18px;
    padding: 30px 0 35px 0;
    color: lighten($ls-text-color , 30%);
  }
}