.mdl-textfield__input {
  font-size: $input-text-font-size;
  border-radius: 0;

  // Custom validation class
  .form-not-submitted .mdl-textfield.is-invalid & {
		border-color: $input-text-bottom-border-color;
  }
}

textarea.mdl-textfield__input{
	display: block;
}

.mdl-textfield__label {

	// Custom validation class
  .form-not-submitted .mdl-textfield.is-invalid &:after {
		background-color: $input-text-highlight-color;
  }
}

.mdl-textfield--100 {
  width:100%;
}