.mdl-textfield__input {
  border-bottom: 1px solid $input-text-bottom-border-color;
  font-size: $input-text-font-size;
  padding: $input-text-padding 16px 9px;
  background: $ls-color-white;
}

.mdl-textfield__label {
  top: ($input-text-padding + $input-text-vertical-spacing);

  .mdl-textfield--floating-label.is-focused &,
  .mdl-textfield--floating-label.is-dirty & {
    color: $input-text-highlight-color;
    top: $input-text-vertical-spacing - ($input-text-floating-label-fontsize + $input-text-padding);
  }

  .mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder &,
  .mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder &{
    top: -($input-text-floating-label-fontsize + $input-text-padding);
  }

  // The after label is the colored underline for the TextField.
  &:after {
    bottom: $input-text-vertical-spacing;
  }
}