.ls-team-standing-statistics{
  position: relative;
  margin: auto;

  /*Prediction chart*/
  .chart{
    background: url("#{$ls-img-path}/green-field-horizontal.png");
    padding: 20px;

    @media #{$ls-retina} {
      background-image: url("#{$ls-img-path}/green-field-horizontal-2x.png");
      background-size: 49px auto;
    }

    .chart-container{
      position: relative;
    }

    .chart-marker{
      position: absolute;
      height: 38px;
      width: 38px;

      img{
        max-width: 100%;
        max-height: 100%;
      }
    }

    .title{
      display: block;
      color: rgba($ls-color-white, 0.57);
      font-size: ls-font-size(2px,'large');
      text-align: center;
      margin-bottom: 30px;
      margin-top: 5px;
    }
  }
}