h1 {
  font-size: 36px;
  line-height: 38px;
  color: $ls-text-color;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  color: $ls-text-color;
}

a {
  font-weight: inherit;
  text-decoration: none;
}