<ul class="mdl-list ls-list ls-list-match-score-header">
  <li class="row row--match-score-header">
    <a class="cell cell__flag">
        <img src="../assets/img/psg.png" alt="PSG">
    </a>
    <div class="cell cell__team cell__team--team1">
        <span class="">PSG</span>
        <div class="qualified">
            <span class="icon-tick"></span>
            <span data-short="QFD" class="text"><span>Qualified</span></span>
        </div>
    </div>
    <div class="cell cell__score-box">
        <div class="cell__score--number">
            <span class="">2</span>
            <span class="versus"> - </span>
            <span class="">1</span>
        </div>
        <div class="cell__score--add">
            <span>
                Finished
            </span>
        </div>
    </div>
    <div class="cell cell__team cell__team--team2">
        <span class="">ASSE</span>
    </div>
    <a class="cell cell__flag">
        <img src="../assets/img/saint-etienne.png" alt="Saint Etienne">
    </a>
  </li>
</ul>
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
  <a href="#scroll-tab-1" class="mdl-layout__tab">Odds</a>
  <a href="#scroll-tab-2" class="mdl-layout__tab">Discussion</a>
  <a href="#scroll-tab-3" class="mdl-layout__tab">Statistics</a>
  <a href="#scroll-tab-4" class="mdl-layout__tab is-active">Videos</a>
  <a href="#scroll-tab-5" class="mdl-layout__tab">Standings</a>
</div>