<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">

  	<!-- Default flat button -->
  	<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
		  BUTTON
		</button>

		<!-- Primary flat button -->
		<button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">
		  BUTTON
		</button>

		<!-- Accent flat button -->
		<button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect">
		  BUTTON
		</button>

  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">

 		<!-- Default raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
		  BUTTON
		</button>

		<!-- Colored raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
		  BUTTON
		</button>

		<!-- Accent-colored raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
		  BUTTON
		</button>

  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">
  	
 		<!-- Default raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-js-ripple-effect">
		  <span class="mdl-button__icon mdl-button__icon-left icon-caret-left"></span>Button
		</button>

		<!-- Colored raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--colored mdl-js-ripple-effect">
		  <span class="mdl-button__icon mdl-button__icon-left icon-caret-left"></span>Button
		</button>

		<!-- Accent-colored raised button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--accent mdl-js-ripple-effect">
		  <span class="mdl-button__icon mdl-button__icon-left icon-caret-left"></span>Button
		</button>

  </div>
  <div class="mdl-cell mdl-cell--6-col">
  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--block mdl-js-ripple-effect">
			+ Show Game details
		</button>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
  	<div class="mdl-button-group mdl-button-group--block">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-left"></span>
			</button>
			<div class="mdl-button mdl-button--raised mdl-button--large mdl-button__select mdl-button--wide">
		  	<select>
		  		<option value="0">Option 1</option>
		  		<option value="1">Option 2</option>
		  		<option value="2">Option 3</option>
		  		<option value="3">Option 4</option>
		  	</select>
	  	</div>
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-right"></span>
			</button>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
  	<div class="mdl-button-group mdl-button-group--block">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-left"></span>
			</button>
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--wide">
				Matchday 37<span class="mdl-button__icon mdl-button__icon-right icon-caret-down"></span>
			</button>
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-right"></span>
			</button>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
		<div class="mdl-button mdl-button--raised mdl-button--large mdl-button__select mdl-button--block">
	  	<select>
	  		<option value="0">General</option>
	  		<option value="1">Option 2</option>
	  		<option value="2">Option 3</option>
	  		<option value="3">Option 4</option>
	  	</select>
  	</div>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
  	<div class="mdl-button-group mdl-button-group--block">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-left"></span>
			</button>
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--wide">
				Matchday 37<span class="mdl-button__icon mdl-button__icon-right icon-calendar"></span>
			</button>
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-right"></span>
			</button>
		</div>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
  	<div class="mdl-button-group mdl-button-group--block">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-left"></span>
			</button>
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--wide">
				June 2015
			</button>
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
				<span class="mdl-button__icon icon-caret-right"></span>
			</button>
		</div>
  </div>

</div>