<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<div class="mdl-collapsible">
			<div class="mdl-collapsible__heading">
				<span class="mdl-collapsible__heading-title">
					Past Results
				</span>
			</div>
			<div class="mdl-collapsible__body">
				<div class="mdl-collapsible__body-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
				</div>
			</div>
		</div>
		<div class="mdl-collapsible">
			<div class="mdl-collapsible__heading">
				<span class="mdl-collapsible__heading-title">
					Past Results
				</span>
			</div>
			<div class="mdl-collapsible__body">
				<div class="mdl-collapsible__body-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, dolores.</p>
				</div>
			</div>
		</div>
	</div>
</div>