<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<button data-toggle="mdl-dialog" data-target="#dialog1" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
		  Show Dialog
		</button>
		<div class="mdl-dialog" id="dialog1">
			<div class="mdl-dialog__content">
				<div class="mdl-dialog__header">
					<span class="mdl-dialog__header-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
				</div>
				<div class="mdl-dialog__body">
					<p>Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
				</div>
				<div class="mdl-dialog__footer">
					<button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-dialog-close">
					 	CANCEL
					</button>
					<button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-dialog-close">
					  AGREED
					</button>
				</div>
			</div>
		</div>
	</div>
</div>