<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<button data-toggle="mdl-dialog" data-target="#dialog1" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
		  Show Dialog
		</button>
	</div>
</div>