<div class="mdl-cell mdl-cell--6-col">
	<div class="ls-divider">
		<span class="ls-divider__title">Divider</span>
	</div>
	<ul class="mdl-list">
		<li>International</li>
		<li>Brasil</li>
		<li>International</li>
		<li>Brasil</li>
	</ul>
	<div class="ls-divider">
		<span class="ls-divider__title">Linked list</span>
	</div>
	<ul class="mdl-list mdl-list-linked">
		<li><a href="#">International</a></li>
		<li><a href="#">Brasil</a></li>
		<li><a href="#">International</a></li>
		<li><a href="#">Brasil</a></li>
	</ul>


	<ul class="mdl-list mdl-list-media">
		<li>
			<a href="#">
				<img src="{{ basePath }}../assets/img/img-80x80.png" width="80px" height="80px">
				<div class="mdl-list__info">
					<span class="mdl-list__info-title">International</span>
					<span class="mdl-list__info-desc">Broken Bells</span>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="{{ basePath }}../assets/img/img-80x80.png" width="80px" height="80px">
				<div class="mdl-list__info">
					<span class="mdl-list__info-title">Brasil</span>
					<span class="mdl-list__info-desc">Hot Chips</span>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="{{ basePath }}../assets/img/img-80x80.png" width="80px" height="80px">
				<div class="mdl-list__info">
					<span class="mdl-list__info-title">International</span>
					<span class="mdl-list__info-desc">Phoenix</span>
				</div>
			</a>
		</li>
	</ul>

</div>