<div class="mdl-cell mdl-cell--6-col">
	<div class="ls-divider">
		<span class="ls-divider__title">Divider</span>
	</div>
	<ul class="mdl-list">
		<li>International</li>
		<li>Brasil</li>
		<li>International</li>
		<li>Brasil</li>
	</ul>
</div>