<div class="ls-view-more-button">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--block mdl-js-ripple-effect">
        VIEW MORE DETAILS
    </button>
</div>