
.ls-news-card {

  &.mdl-card {
    width: 100%;
    max-width: 100%;
  }

  > .mdl-card__menu {
    color: #fff;
  }

  &__infos {
    position: absolute;
    display: block;
    font-size: 11px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    
    .news-date {
      opacity: 0.7;
    }
  }

  > .mdl-card__title {
    color: #fff;
    height: 240px;
    background: url('/assets/img/featured-article.jpg') center / cover;
    text-decoration: none;
    position: relative;


    .mdl-card__title-text {
      font-size: 21px;
      position: absolute;
      bottom: 15px;
      z-index: 2;
    }
    
    h2 {
      font-weight: 400;
    }

    &.mdl-card__title--gradient:before {
      content: "";
      width: 100%;
      height: 100px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 79%, rgba(0,0,0,0.65) 94%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(79%,rgba(0,0,0,0.65)), color-stop(94%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 79%,rgba(0,0,0,0.65) 94%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 79%,rgba(0,0,0,0.65) 94%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 79%,rgba(0,0,0,0.65) 94%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 79%,rgba(0,0,0,0.65) 94%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      z-index: 1;
    }
  }

}


.ls-article {

  h1 {
    margin-top: 15px;
  }

}
