<div class="mdl-button-group mdl-button-group--block">
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
		<span class="mdl-button__icon icon-caret-left"></span>
	</a>
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large mdl-button--wide">
		Grid 9
	</a>
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
		<span class="mdl-button__icon icon-caret-right"></span>
	</a>
</div>

<div class="ls-contest-grid-goals-statistics">
	<div class="grid-stats grid-stats--rank">
		<div class="title">Grid rank</div>
		<div class="icon"><span class="icon-gift"></span></div>
		<div class="values">
			<span class="value value--big">3rd</span>
			<span class="slash">/</span>
			<span class="value">1387</span>
		</div>
	</div>
	<div class="grid-stats grid-stats--bottom">
		<div class="stat">
			<div class="title">Won</div>
			<div class="values">
				<span class="value">14</span>
				<span class="slash">/</span>
				<span class="value">20</span>
			</div>
		</div>
		<div class="stat">
			<div class="title">Points</div>
			<div class="values">
				<span class="value">14</span>
			</div>
		</div>
	</div>
</div>