<ul class="mdl-list mdl-list-linked ls-list ls-list-countries">
    <li class="row row--country">
        <div class="cell cell__flag">
            <img src="../assets/img/flag-int.png" alt="International"/>
        </div>
        <div class="cell cell__country">
            <span>International</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large normal" data-badge="20"></span>
            <span class="mdl-badge mdl-badge-countries mdl-badge--large live" data-badge="20"></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <img src="../assets/img/flag-ger.png" alt="Germany"/>
        </div>
        <div class="cell cell__country">
            <span>Germany</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <img src="../assets/img/flag-eng.png" alt="England"/>
        </div>
        <div class="cell cell__country">
            <span>England</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <img src="../assets/img/flag-fr.png" alt="France"/>
        </div>
        <div class="cell cell__country">
            <span>France</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <img src="../assets/img/flag-brasil.png" alt="Brasil"/>
        </div>
        <div class="cell cell__country">
            <span>Brasil</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

    <li class="row row--country">
        <div class="cell cell__flag">
            <img src="../assets/img/flag-lao.png" alt="Lao Democraty"/>
        </div>
        <div class="cell cell__country">
            <span>Lao Democraty very very lon text</span>
        </div>
        <div class="cell cell__badge">
            <span class="mdl-badge mdl-badge-countries mdl-badge--large normal" data-badge="20"></span>
            <span></span>
        </div>
    </li>

</ul>