<div class="mdl-button-group mdl-button-group--block">
    <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
        <span class="mdl-button__icon icon-caret-left"></span>
    </a>
    <div class="mdl-button mdl-calendar mdl-button--raised mdl-button--large mdl-button--wide">
        <input type="text" name="mdl-calendar1" value="01/08/2015" readonly="true">
    </div>
    <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
        <span class="mdl-button__icon icon-caret-right"></span>
    </a>
</div>

{% include 'blocks/dividers/divider-event.twig' %}

<ul class="mdl-list mdl-list-media match-list ">
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="hour">18:00</span></span>
                <span class="match-list__team match-list__team1 win"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">4</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>

            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match live paused">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>PSG</span></span>
                <span class="match-list__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></span>
                <span class="match-list__team match-list__team2"><span>Bordeaux</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match live">
                <span class="match-list__time"><span class="status">24'</span></span>
                <span class="match-list__team match-list__team1"><span>Perpignan long name</span></span>
                <span class="match-list__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
</ul>

{% include 'blocks/dividers/divider-event-right-nav.twig' %}

<ul class="mdl-list mdl-list-media match-list ">
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="hour">18:00</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">4</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>

            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match live paused highlight">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score updated"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="hour">18:00</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>

            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="hour">18:00</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>

            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
</ul>

{% include 'blocks/dividers/divider-event-right-nav.twig' %}

<ul class="mdl-list mdl-list-media match-list ">
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match event-won">
                <span class="match-list__time"><span class="hour">18:00</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">4</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>

            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match event-lost">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match event-draw">
                <span class="match-list__time"><span class="hour">18:00</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>

            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="hour">18:00</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>

            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="mdl-list__info match-list__match">
                <span class="match-list__time"><span class="status">HT</span></span>
                <span class="match-list__team match-list__team1"><span>MO Béjaia</span></span>
                <span class="match-list__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></span>
                <span class="match-list__team match-list__team2"><span>JS Kabylie</span></span>
                <span class="match-list__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </span>
            </div>
        </a>
    </li>
</ul>