<div class="mdl-button-group mdl-button-group--block">
    <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
        <span class="mdl-button__icon icon-caret-left"></span>
    </a>
    <div class="mdl-button mdl-calendar mdl-button--raised mdl-button--large mdl-button--wide">
        <input type="text" name="mdl-calendar1" value="01/08/2015" readonly="true">
    </div>
    <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-button--large">
        <span class="mdl-button__icon icon-caret-right"></span>
    </a>
</div>

{% include 'blocks/sports/listings/match_listing_my_games.html.twig' %}

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
    {% include 'blocks/dividers/divider-event-li.twig' %}
    <li class="row row--match">
        <a href="#">
            <div class="cell cell__time"><span class="hour">18:00</span></div>
            <div class="cell cell__team cell__team--team1 win"><span>MO Béjaia</span></div>
            <div class="cell cell__score"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">4</span></div>
            <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
    <li class="row row--match event-live event-paused">
        <a href="#">
            <div class="cell cell__time"><span class="status">HT</span></div>
            <div class="cell cell__team cell__team--team1"><span>PSG</span></div>
            <div class="cell cell__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></div>
            <div class="cell cell__team cell__team--team2"><span>Bordeaux</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
    <li class="row row--match event-live">
        <a href="#">
            <div class="cell cell__time"><span class="status">24'</span></div>
            <div class="cell cell__team cell__team--team1"><span>Perpignan long name</span></div>
            <div class="cell cell__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></div>
            <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
</ul>

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
    {% include 'blocks/dividers/divider-event-li.twig' %}
    <li class="row row--match">
        <a href="#">
            <div class="cell cell__time"><span class="hour">18:00</span></div>
            <div class="cell cell__team cell__team--team1 win"><span>MO Béjaia</span></div>
            <div class="cell cell__score">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Pronóstico</button>
            </div>
            <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
    <li class="row row--match event-live event-paused">
        <a href="#">
            <div class="cell cell__time"><span class="status">HT</span></div>
            <div class="cell cell__team cell__team--team1"><span>PSG</span></div>
            <div class="cell cell__score">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Pronóstico</button>
            </div>
            <div class="cell cell__team cell__team--team2"><span>Bordeaux</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
    <li class="row row--match event-live">
        <a href="#">
            <div class="cell cell__time"><span class="status">24'</span></div>
            <div class="cell cell__team cell__team--team1"><span>Perpignan long name</span></div>
            <div class="cell cell__score">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Pronóstico</button>
            </div>
            <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
</ul>

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
    {% include 'blocks/dividers/divider-event-li.twig' %}
    <li class="row row--match" data-link="" data-match-name="Al Batin-Al Shabab" data-date="2019-04-11 18:00" id="">
      <div id="cell-match-time-4167121" class="cell cell__time">
        <span class="hour">18:00</span>
      </div>
      <div id="cell-teams-score-4167121" class="cell cell__teams" data-meta="">
        <a href="#" title="Apuestas Al Batin Al Shabab y Pronósticos" class="match">
          <span title="Al Batin" class="match__team match__team--home">
            <span>Al Batin</span>
          </span>
          <span class="match__cta">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Pronósticos</button>
          </span>
          <span title="Al Shabab" class="match__team match__team--away">
            <span>Al Shabab</span>
          </span>
        </a>
      </div>
      <div id="cell-match-favorite-4167121" class="cell cell__favorite">
        <span class="icon icon-bell " data-toggle-fav="favorite" rel="tooltip"></span>
      </div>
    </li>
    <li class="row row--match" data-link="" data-match-name="Al Batin-Al Shabab" data-date="2019-04-11 18:00" id="">
      <div id="cell-match-time-4167121" class="cell cell__time">
        <span class="hour">18:00</span>
      </div>
      <div id="cell-teams-score-4167121" class="cell cell__teams" data-meta="">
        <a href="#" title="Apuestas Al Batin Al Shabab y Pronósticos" class="match">
          <span title="Al Batin" class="match__team match__team--home">
            <span>Al Batin</span>
          </span>
          <span class="match__score">
            <span class="home">2</span>
            <span class="versus"> - </span>
            <span class="away">3</span>
          </span>
          <span title="Al Shabab" class="match__team match__team--away">
            <span>Al Shabab</span>
          </span>
        </a>
      </div>
      <div id="cell-match-favorite-4167121" class="cell cell__favorite">
        <span class="icon icon-bell " data-toggle-fav="favorite" rel="tooltip"></span>
      </div>
    </li>
</ul>

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
    {% include 'blocks/dividers/divider-event-li.twig' %}
    <li class="row row--match" data-match-name="Atlético de Madrid - Girona">
        <div class="cell cell__time"><span title="Finalizado">Fin.</span></div>
        <div class="team win cell cell__team cell__team--team1" data-goto="1"><span title="Atlético de Madrid">Atlético de Madrid</span></div>
        <div class="cell cell__score" data-goto="1">
            <span class="home-score">2</span>
            <span class="versus"> - </span>
            <span class="away-score">0</span>
        </div>
        <div class="team cell cell__team cell__team--team2" data-goto="1">
            <span title="Girona">Girona</span>
        </div>
        <div class="cell cell__favorite">
            <span class="icon icon-bell" rel="tooltip"></span>
        </div>
    </li>
</ul>

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
    {% include 'blocks/dividers/divider-event-right-nav-li.twig' %}
    <li class="row row--match">
        <div class="cell cell__time"><span class="hour">18:00</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Watford" class="match__team match__team--home">
                    <span>MO Béjaia</span>
                    <div class="cell__team__cards">
                        <span class="red-card"></span>
                    </div>
                </span>
                <span class="match__score">
                    <span class="home">2</span>
                    <span class="versus">-</span>
                    <span class="away">4</span>
                </span>
                <span title="Manchester United" class="match__team match__team--away"><span>JS Kabylie long name</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
    <li class="row row--match event-live row--highlight">
        <div class="cell cell__time"><span class="status">20'</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Watford" class="match__team match__team--home"><span>MO Béjaia</span></span>
                <span class="match__score match__score--updated">
                    <span class="home">2</span>
                    <span class="versus">-</span>
                    <span class="away blink">4</span>
                </span>
                <span title="Manchester United" class="match__team match__team--away">
                    <span>JS Kabylie</span>
                    <div class="cell__team__cards">
                        <span class="red-card"></span>
                        <span class="red-card"></span>
                    </div>
                </span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
    <li class="row row--match event-won">
        <div class="cell cell__time"><span class="status">22/05</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Watford" class="match__team match__team--home"><span>MO Béjaia</span></span>
                <span class="match__score">
                    <span class="home">2</span>
                    <span class="versus">-</span>
                    <span class="away">4</span>
                </span>
                <span title="Manchester United" class="match__team match__team--away"><span>JS Kabylie</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
    <li class="row row--match event-draw">
        <div class="cell cell__time"><span class="status">22/05</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Watford" class="match__team match__team--home"><span>MO Béjaia</span></span>
                <span class="match__score">
                    <span class="home">2</span>
                    <span class="versus">-</span>
                    <span class="away">4</span>
                </span>
                <span title="Manchester United" class="match__team match__team--away"><span>JS Kabylie</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
    <li class="row row--match event-lost">
        <div class="cell cell__time"><span class="status">22/05</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Watford" class="match__team match__team--home"><span>MO Béjaia</span></span>
                <span class="match__score">
                    <span class="home">2</span>
                    <span class="versus">-</span>
                    <span class="away">4</span>
                </span>
                <span title="Manchester United" class="match__team match__team--away"><span>JS Kabylie</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
</ul>

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
    {% include 'blocks/dividers/divider-event-right-nav-li.twig' %}
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="hour">18:00</span></div>
                <div class="cell cell__team cell__team--team1">
                    <span>MO Béjaia</span>
                    <div class="cell__team__cards">
                        <span class="red-card"></span>
                    </div>
                </div>
                <div class="cell cell__score"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">4</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie long name</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>

        </a>
    </li>
    <li class="row row--match event-live row--highlight">
        <a href="#">
                <div class="cell cell__time"><span class="status">20'</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score updated"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away blink">1</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span><div class="cell__team__cards">
                        <span class="red-card"></span>
                        <span class="red-card"></span>
                    </div></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match event-live event-paused">
        <a href="#">
                <div class="cell cell__time"><span class="status">HT</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="hour">18:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="status">18:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="status">22/05</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score cell__hour"><span>20:45</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="hour">18:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>

        </a>
    </li>
    <li class="row row--match event-live event-paused">
        <a href="#">
                <div class="cell cell__time"><span class="status">HT</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match event-live event-paused">
        <a href="#">
                <div class="cell cell__time"><span class="status">HT</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
</ul>

{% include 'blocks/dividers/divider-event-right-nav.twig' %}

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches">
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="hour">18:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">4</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>

        </a>
    </li>
    <li class="row row--match event-live event-paused">
        <a href="#">
                <div class="cell cell__time"><span class="status">HT</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match event-won">
        <a href="#">
                <div class="cell cell__date"><span class="hour">23/08/16</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>

        </a>
    </li>
    <li class="row row--match event-draw">
        <a href="#">
                <div class="cell cell__time"><span class="status">18:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match event-lost">
        <a href="#">
                <div class="cell cell__time"><span class="status">18:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="hour">18:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score"></span> <span class="versus"> - </span> <span class="away"></span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>

        </a>
    </li>
    <li class="row row--match">
        <a href="#">
                <div class="cell cell__time"><span class="status">19:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
    <li class="row row--match event-live">
        <a href="#">
                <div class="cell cell__time"><span class="status">19:00</span></div>
                <div class="cell cell__team cell__team--team1"><span>MO Béjaia</span></div>
                <div class="cell cell__score"><span class="home-score">13</span> <span class="versus"> - </span> <span class="away">4</span></div>
                <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
                <div class="cell cell__caret">
                    <span class="mdl-button__icon icon-caret-right"></span>
                </div>
        </a>
    </li>
</ul>
