<ul class="mdl-list mdl-list-media ls-list ls-match-listing-footus">

    {% if ls_page_type == 'my-games' %}
        {% include 'blocks/dividers/divider-event-right-nav-li-sport-icon.twig' %}
    {% endif %}

    <li class="row row--match event-live">
        <a href="#">
        <div class="cell cell__time">
            <span>140'</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title">
                    <span>Baltimore Ravens</span>
                </div>
                <div class="cell cell__score"><span>22</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>Buffalo Bills</span>
                </div>
                <div class="cell cell__score"><span>24</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point">18</div>
                <div class="cell cell__point">1</div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
            <div class="row">
                <div class="cell cell__point">23</div>
                <div class="cell cell__point">4</div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
        </div>
        </a>
    </li>
    <li class="row row--match">
        <div class="cell cell__time">
            <span>Term</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title win">
                    <span>Cleveland Gladiators</span>
                </div>
                <div class="cell cell__score"><span>66</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>New Orleans Saints</span>
                </div>
                <div class="cell cell__score"><span>57</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point">7</div>
                <div class="cell cell__point">12</div>
                <div class="cell cell__point">23</div>
                <div class="cell cell__point">17</div>
            </div>
            <div class="row">
                <div class="cell cell__point">24</div>
                <div class="cell cell__point">12</div>
                <div class="cell cell__point">14</div>
                <div class="cell cell__point">16</div>
            </div>
        </div>
    </li>

    <li class="row row--match">
        <div class="cell cell__time">
            <span>20h45</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title">
                    <span>Greenbay Packers</span>
                </div>
                <div class="cell cell__score"><span>-</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>Dallas Cowboys</span>
                </div>
                <div class="cell cell__score"><span>-</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
            <div class="row">
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
        </div>
    </li>
</ul>


