<div class="container">

    {#####   LEFT PART   #####}
    <ul class="mdl-list ls-list ls-match-listing-other-sports ls-match-listing-other-sports--left">
        {#Header#}

        {#PSG#}
        <li class="row">
            <div class="cell cell__time">
                <span>1</span>
            </div>
            <div class="cell cell__stat cell__stat--up">
                <span>+1</span>
            </div>
            <div class="cell cell__team">
                <div class="cell__team--flag">
                    <img src="../assets/img/psg.png" alt="PSG">
                </div>
                <div class="cell__team--title live">
                    <a href="">
                        <span>PSG</span>
                    </a>
                </div>
            </div>
            <div class="cell cell__total-points">
                38
            </div>
        </li>
    </ul>

    {#####   RIGHT PART   #####}
    <ul class="ls-standing-table ls-standing-table--right">
        {#Point#}
        <li class="row">
            <div class="cell cell__point">
                38
            </div>
            <div class="cell cell__point">
                38
            </div>
            <div class="cell cell__point">
                38
            </div>
            <div class="cell cell__point">
                38
            </div>
            <div class="cell cell__point">
                38
            </div>
            <div class="cell cell__point">
                38
            </div>
            <div class="cell cell__point">
                38
            </div>
            <div class="cell cell__point">
                38
            </div>
        </li>
    </ul>
</div>

