<ul class="mdl-list mdl-list-media ls-list ls-match-listing-tennis">

    {% if ls_page_type == 'my-games' %}
        {% include 'blocks/dividers/divider-event-right-nav-li-sport-icon.twig' %}
    {% endif %}

    <li class="row row--match">
        <div class="cell cell__time">
            <span>Term</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title win">
                    <span>Wawrinka (longtext)</span>
                </div>
                <div class="cell cell__score"><span>3</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>Janowics</span>
                </div>
                <div class="cell cell__score"><span>2</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point">6</div>
                <div class="cell cell__point">6
                    <div class="cell__point-detail"> 6  </div>
                </div>
                <div class="cell cell__point">6</div>
                <div class="cell cell__point">6</div>
                <div class="cell cell__point">6</div>

            </div>
            <div class="row">
                <div class="cell cell__point">6</div>
                <div class="cell cell__point">7</div>
                <div class="cell cell__point">4</div>
                <div class="cell cell__point">3</div>
                <div class="cell cell__point">1</div>
            </div>
        </div>
    </li>

    <li class="row row--match event-live event-paused tennis-double">
        <div class="cell cell__time">
            <span>140'</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title">
                    <span>I. Kremer</span>
                    <span>A. Vrljic</span>
                    <span class="icon-tennis"></span>
                </div>
                <div class="cell cell__score"><span>40</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>P. Olaru</span>
                    <span>S. Peer</span>
                </div>
                <div class="cell cell__score"><span>30</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point">3
                    <div id="tt1" class="cell__point-detail">12</div>
                </div>
                <div class="cell cell__point">6
                    <div id="tt1" class="cell__point-detail">10</div>
                </div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>

            </div>
            <div class="row">
                <div class="cell cell__point">6</div>
                <div class="cell cell__point">7</div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
        </div>
    </li>

    <li class="row row--match event-live">
        <div class="cell cell__time">
            <span>30'</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title">
                    <span>Wawrinka</span>
                    <span class="icon-tennis"></span>
                </div>
                <div class="cell cell__score"><span>40</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>Janowics</span>
                </div>
                <div class="cell cell__score updated"><span>30</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point">3
                    <div class="cell__point-detail">12</div>
                </div>
                <div class="cell cell__point">6</div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>

            </div>
            <div class="row">
                <div class="cell cell__point">6
                    <div class="cell__point-detail">10</div>
                </div>
                <div class="cell cell__point">7</div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
        </div>
    </li>

    <li class="row row--match">
        <div class="cell cell__time">
            <span>20h45</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title">
                    <span>R. Federer</span>
                </div>
                <div class="cell cell__score"><span>-</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>R. Nadal</span>
                </div>
                <div class="cell cell__score"><span>-</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
            <div class="row">
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
        </div>
    </li>
</ul>


