<ul class="mdl-list mdl-list-media ls-list ls-match-listing-rugby">

    {% if ls_page_type == 'my-games' %}
        {% include 'blocks/dividers/divider-event-right-nav-li-sport-icon.twig' %}
    {% endif %}

    <li class="row row--match">
        <div class="cell cell__time">
            <span>Term</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title win">
                    <span>Hurricanes</span>
                </div>
                <div class="cell cell__score"><span>66</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>Higlanders</span>
                </div>
                <div class="cell cell__score"><span>57</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point">24</div>
                <div class="cell cell__point">17</div>
            </div>
            <div class="row">
                <div class="cell cell__point">8</div>
                <div class="cell cell__point">14</div>
            </div>
        </div>
    </li>
    <li class="row row--match event-live">
        <div class="cell cell__time">
            <span>140'</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title">
                    <span>Central Cheetahs</span>
                </div>
                <div class="cell cell__score"><span>13</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>Blues</span>
                </div>
                <div class="cell cell__score"><span>20</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point">3</div>
                <div class="cell cell__point">17</div>
            </div>
            <div class="row">
                <div class="cell cell__point">10</div>
                <div class="cell cell__point">8</div>
            </div>
        </div>
    </li>
    <li class="row row--match">
        <div class="cell cell__time">
            <span>20h45</span>
        </div>
        <div class="cell cell__opposition">
            <div class="row">
                <div class="cell cell__opposition__title">
                    <span>Central Cheetahs</span>
                </div>
                <div class="cell cell__score"><span>-</span></div>
            </div>
            <div class="row">
                <div class="cell cell__opposition__title ">
                    <span>Blues</span>
                </div>
                <div class="cell cell__score"><span>-</span></div>
            </div>
        </div>
        <div class="cell cell__points">
            <div class="row">
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
            <div class="row">
                <div class="cell cell__point"></div>
                <div class="cell cell__point"></div>
            </div>
        </div>
    </li>
</ul>


