
<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches ls-list-matches--mygames">
    {% include 'blocks/dividers/divider-title-icon-li.twig' %}
    <li class="row row--match">
        <div class="league-badge">Ligue 1</div>
        <div class="cell cell__time"><span class="hour">18:00</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Watford" class="match__team match__team--home win"><span>Watford</span></span>
                <span class="match__score">                
                    <span class="home">2</span>
                    <span class="versus"> - </span>
                    <span class="away">4</span>
                </span>
                <span title="Manchester United" class="match__team match__team--away"><span>Mancheste.</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
    <li class="row row--match event-live event-paused">
        <div class="league-badge">Bund. 1</div>
        <div class="cell cell__time"><span class="status">HT</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Watford" class="match__team match__team--home"><span>PSG</span></span>
                <span class="match__score">                
                    <span class="home">0</span>
                    <span class="versus">-</span>
                    <span class="away">1</span>
                </span>
                <span title="Manchester United" class="match__team match__team--away"><span>Bordeaux</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
    <li class="row row--match event-live">
        <div class="league-badge">Serie A</div>
        <div class="cell cell__time"><span class="status">24'</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Perpignan long name" class="match__team match__team--home"><span>Perpignan long name</span></span>
                <span class="match__score">                
                    <span class="home">0</span>
                    <span class="versus">-</span>
                    <span class="away">0</span>
                </span>
                <span title="JS Kabylie" class="match__team match__team--away"><span>JS Kabylie</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
    <li class="row row--match">
        <div class="league-badge">Serie A</div>
        <div class="cell cell__time"><span class="status">24'</span></div>
        <div class="cell cell__teams">
            <a href="/futbol/inglaterra/premier-league/watford-fc-manchester-united/" title="Watford FC-Manchester United" class="match">
                <span title="Perpignan long name" class="match__team match__team--home"><span>Perpignan long name</span></span>
                <span class="match__score">                
                    <span class="home"></span>
                    <span class="versus">-</span>
                    <span class="away"></span>
                </span>
                <span title="JS Kabylie" class="match__team match__team--away"><span>JS Kabylie</span></span>
            </a>
        </div>
        <div class="cell cell__caret">
            <span class="mdl-button__icon icon-caret-right"></span>
        </div>
    </li>
</ul>

<ul class="mdl-list mdl-list-media mdl-list-linked ls-list ls-list-matches ls-list-matches--mygames">
    {% include 'blocks/dividers/divider-title-icon-li.twig' %}
    <li class="row row--match">
        <a href="#">
            <div class="league-badge">Ligue 1</div>
            <div class="cell cell__time"><span class="hour">18:00</span></div>
            <div class="cell cell__team cell__team--team1 win"><span>MO Béjaia</span></div>
            <div class="cell cell__score"><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">4</span></div>
            <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
    <li class="row row--match event-live event-paused">
        <a href="#">
            <div class="league-badge">Bund. 1</div>
            <div class="cell cell__time"><span class="status">HT</span></div>
            <div class="cell cell__team cell__team--team1"><span>PSG</span></div>
            <div class="cell cell__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></div>
            <div class="cell cell__team cell__team--team2"><span>Bordeaux</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
    <li class="row row--match event-live">
        <a href="#">
            <div class="league-badge">Serie A</div>
            <div class="cell cell__time"><span class="status">24'</span></div>
            <div class="cell cell__team cell__team--team1"><span>Perpignan long name</span></div>
            <div class="cell cell__score"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></div>
            <div class="cell cell__team cell__team--team2"><span>JS Kabylie</span></div>
            <div class="cell cell__caret">
                <span class="mdl-button__icon icon-caret-right"></span>
            </div>
        </a>
    </li>
</ul>
