.ls-countries-list {

  background: $ls-color-white;



  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    color: $ls-color-black;
    align-items: center;
    padding: 0 0 0 18px;
    width: 100%;
  }

  &__flag {
    padding: 0 7px 0 0;


    > img {
      max-width: 21px;
    }
  }

  &__title {
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    span {
     /* padding-top:11px;
      padding-bottom:12px;*/
      font-size: 14px;
      font-weight: 300;

    }
  }

  &__right-badge {
    display: flex;
    flex: 0 0 118px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 0 30px;

    > span {
      padding: 0 30px 0 0;
    }
  }

}

.mdl-badge-match {

  &:after {
    background: #ededed !important;
    color: $ls-color-black !important;
    font-weight: 300 !important;;
  }
}