.ls-countries-list {

  background: $ls-color-white;

  >li {
    line-height: 15px !important;
    padding: 0 !important;

    >a {
      text-decoration: none;
    }
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    color: $ls-color-black;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0 0 18px;
    flex: 1;

  }

  &__flag {
    padding: 0 7px 0 0;


    > img {
      max-width: 21px;
    }
  }

  &__title {
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    span {
      font-size: 14px;
      font-weight: 300;

    }
  }

  &__badge-game {
    flex: 0 0 77px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__badge-live {
    flex: 0 0 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

