.ls-countries-list {

  background: $ls-color-white;



  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    color: $ls-color-black;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0 0 18px;
    flex: 1;

  }

  &__flag {
    padding: 0 7px 0 0;


    > img {
      max-width: 21px;
    }
  }

  &__title {
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    span {
     /* padding-top:11px;
      padding-bottom:12px;*/
      font-size: 14px;
      font-weight: 300;

    }
  }

  &__badge-game {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__badge-live {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

