.ls-list-details {

  background: $ls-color-white;

  .row {
    display: flex;
    width: auto;
    background: $ls-color-white;
    border: none;
    padding: 0 14px;

    > a {
      color: $ls-text-color;
    }

    .cell {
      padding: 8px 0 6px 0;
    }
  }

  .row--head {
    border-bottom: $ls-list-border;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    .cell {

      &__details {
        width: 50%;
        display: flex;
        padding-right: 5px;
        box-sizing: border-box;

        &-infos {
          padding: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &-icon {
          padding: 0;
          flex: 0 0 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          > span {
            font-size: 14px;
            color: $ls-primary-color;
          }
        }
      }
    }
  }

  .row--score {
    padding: 3px 0;

    &:first-child {
      padding-top: 6px;
    }

    &:last-child {
      padding-bottom: 6px;
    }


    .cell {

      &__score-infos {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 6px;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        color: $ls-text-color;

        &--spacer {
          flex: 1;
          padding: 0 6px;
        }
      }

      &__score-box {
        flex: 0 0 69px;
        background: #494949;
        display: flex;
        justify-content: center;
        color: $ls-color-white;
        font-size: 17px;
        font-weight: normal;
        padding: 4px 10px;

        .versus {
          padding: 0 4px;
        }
      }
    }
  }
}

