.match-list {

  background: $ls-color-white;

  &__match {
    width: 100%;
    display: flex;
    font-weight: 300;
    align-content: stretch;
    align-items: stretch;
    color: $ls-text-color;
    padding:0;

    span {
      flex: 1 100%;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  .match-list {

    &__time,
    &__team {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;
    }


    &__time {
      color : lighten($ls-text-color, 30%);
      font-weight: 300;
      flex: 0 0 46px
    }

    &__team {

      &.win {
        font-weight: 600;
      }

    }

    &__team1 {
      text-align: right;
    }

    &__team2 {
      text-align: left;
    }

    &__favorite {
      flex : 0 0 35px;
    }

    &__caret {
      flex : 0 0 20px;

      .mdl-button__icon {
        color: lighten($ls-text-color, 50%);
      }
    }

    &__score {
      font-weight: 600;
      text-align: center;
      flex : 0 0 54px;
      background-color: rgba(0,0,0,0.02);
    }

  }


  &__match.live {
    
    .match-list {
      
      &__score {
        color: $ls-color-live;
      }

      &__time {
        color: $ls-color-live;

        &:before {
          content: '';
          display: block;
          float: left;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $ls-color-live;
          margin-right: 4px;
          margin-top: 5px;
          @extend .blinking;
        }
      }
    }

    &.paused {
      .match-list {

        &__time {

          &:before {
            background: darken($ls-color-white, 30%);
            @extend .animation-reset;
          }
        }
      }
    }
  }

  &__match.highlight {
    background: $ls-color-highlight;

  }

  &__match.event-won {
    background: $ls-color-event-won-bg;

  }

  &__match.event-lost {
    background: $ls-color-event-lost-bg;

  }

  &__match.event-draw {
    background: $ls-color-event-draw-bg;
  }

  > li:active {

    .match-list {


      &__match.highlight {
        background: darken($ls-color-highlight, 5%);
      }

      &__match.event-won {
        background: darken($ls-color-event-won-bg, 5%);
      }

      &__match.event-lost {
        background: darken($ls-color-event-lost-bg, 5%);
      }

      &__match.event-draw {
        background: darken($ls-color-event-draw-bg, 5%);
      }

    }



  }

}

.updated {
  background: $ls-color-updated!important;
  color: #fff!important;
}
