.ls-list-matches {
  transform: translate3d(0, 0, 0);
  background: $ls-color-white;

  .row {

    .cell {

      &__team {

        &__cards {
          display: block;
          position: absolute;
          padding: 0;
          text-align: right;
          right: 5px;

            .red-card {
              background: rgb(255, 0, 0);
              width: 8px;
              height: 11px;
              display: block;
              float: left;
              margin-left: 4px;
              color: $ls-color-white;
            }
          }

        &--team2 {

          .cell__team__cards {
            text-align: left;
            left: 5px;
            right: auto;

            .red-card {
              margin-left: 0;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }

  .row--match {
    color: $ls-text-color;
    padding:0;

    &.event-live {

      .cell {

        &__score {
          color: $ls-color-live;
        }

        &__time {
          color: $ls-color-live;

          &:before {
            content: '';
            display: block;
            float: left;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $ls-color-live;
            margin-right: 4px;
            margin-top: 5px;
            @extend .blinking;
          }
        }
      }

      &.event-paused {

        .cell {

          &__time {

            &:before {
              background: darken($ls-color-white, 30%);
              @extend .animation-reset;
            }
          }
        }
      }
    }

    &.event-won {
      background: $ls-color-event-won-bg;
    }

    &.event-lost {
      background: $ls-color-event-lost-bg;
    }

    &.event-draw {
      background: $ls-color-event-draw-bg;
    }

    &.event-cancelled {
      background: $ls-color-event-draw-bg;
    }

    .league-badge {
      position: absolute;
      color:#8f8f8f;
      background: #f5f5f5;
      padding: 0px 4px;
      font-size: 10px;
      line-height: 13px;
      height: 14px;

      &:after {
        content: "";
        position: absolute;
        top: -1px;
        right: -8px;
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-top: 15px solid #f5f5f5;
      }
    }
  }


  > .row:active {

    &.row--highlight {
      background: darken($ls-color-highlight, 5%);
    }

    &.event-won {
      background: darken($ls-color-event-won-bg, 5%);
    }

    &.event-lost {
      background: darken($ls-color-event-lost-bg, 5%);
    }

    &.event-draw {
      background: darken($ls-color-event-draw-bg, 5%);
    }
}

  &.ls-list-matches--mygames {

    .row--match {

      position: relative;

      .cell {

        &__time {
          padding-top: 20px;
          padding-bottom: 2px;

        }
      }
    }
  }
}

.updated {
  /*background: $ls-color-updated!important;
  color: #fff!important;*/
  animation-name: progressiveUpdate;
  animation-duration: 6s;

  > a {
    animation-name: progressiveUpdateLink;
    animation-duration: 6s;
  }
}
