.ls-list-matches {
  transform: translate3d(0, 0, 0);
  background: $ls-color-white;

  .row {

    .cell {

      &__team {

        &__cards {
          display: block;
          position: absolute;
          padding: 0;
          text-align: right;
          right: 5px;
          bottom: 2px;

            .red-card {
              background: rgb(255, 0, 0);
              width: 8px;
              height: 11px;
              display: block;
              float: left;
              margin-left: 4px;
              color: $ls-color-white;
            }
          }

        &--team2 {

          .cell__team__cards {
            text-align: left;
            left: 5px;
            right: auto;

            .red-card {
              margin-left: 0;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }

  .row--match {
    color: $ls-text-color;
    padding:0;

    &.event-live {

      .cell {

        &__score {
          color: $ls-color-live;
        }

        &__time {
          color: $ls-color-live;

          &:before {
            content: '';
            display: block;
            float: left;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $ls-color-live;
            margin-right: 4px;
            margin-top: 5px;
            @extend .blinking;
          }
        }
      }

      .match__score {
        color: $ls-color-live;
      }

      &.event-paused {

        .cell {

          &__time {

            &:before {
              background: darken($ls-color-white, 30%);
              @extend .animation-reset;
            }
          }
        }
      }
    }

    &.event-won {
      background: $ls-color-event-won-bg;
    }

    &.event-lost {
      background: $ls-color-event-lost-bg;
    }

    &.event-draw {
      background: $ls-color-event-draw-bg;
    }

    &.event-cancelled {
      background: $ls-color-event-draw-bg;
    }

    .league-badge {
      position: absolute;
      top: 0;
      color:#8f8f8f;
      background: #f5f5f5;
      padding: 0px 4px;
      font-size: 10px;
      line-height: 13px;
      height: 14px;

      &:after {
        content: "";
        position: absolute;
        top: -1px;
        right: -8px;
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-top: 15px solid #f5f5f5;
      }
    }
  }


  > .row:active {

    &.row--highlight,
    &.row--highlight .cell__teams .match {
      background: darken($ls-color-highlight, 5%);
    }

    &.event-won,
    &.event-won .cell__teams .match {
      background: darken($ls-color-event-won-bg, 5%);
    }

    &.event-lost,
    &.event-lost .cell__teams .match {
      background: darken($ls-color-event-lost-bg, 5%);
    }

    &.event-draw,
    &.event-draw .cell__teams .match {
      background: darken($ls-color-event-draw-bg, 5%);
    }
  }

  &.ls-list-matches--mygames {

    .row--match {

      position: relative;

      .cell {

        &__time {
          padding-top: 20px;
          padding-bottom: 2px;

        }
      }
    }
  }
}

// Match cell component
.match {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $ls-text-color;
  text-decoration: none;
  font-weight: 300;

  &__team {
    position: relative;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 13px 5px;
    overflow: hidden;

    > span {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.win {
      font-weight: 600;
    }

    &--away {
      justify-content: flex-start;
      text-align: left;

      .ls-list-matches .row & .cell__team__cards {
        text-align: left;
        left: 5px;
        right: auto;

        .red-card {
          margin-left: 0;
          margin-right: 4px;
        }
      }
    }
  }

  &__score {
    position: relative;
    display: flex;
    flex: 0 0 $ls-match-listing-score-min-width;
    font-size: 14px;
    height: $ls-match-listing-score-height;
    background-color: rgba(0,0,0,.02);
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: 600;
    border-radius: 2px;

    &--updated {
      animation-name: progressiveUpdate;
      animation-duration: 6s;
    }

    > span {
      display: inline-block;

      &.versus {
        margin: 0 4px;
      }

      &.hour {
        color: #959595;
        font-weight: 400;
      }
    }
  }

  .match__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4px;

    .mdl-button {
      width: 100%;
      padding: 0 5px;
      font-size: 10px;
      font-weight: $ls-font-weight-bold;
      line-height: 1;
      height: $ls-match-listing-score-height;

      &:after {
        display: inline-block;
        content: "\e60d";
        font-family: $ls-icons-font;
        font-size: 8px;
        margin-left: 3px;
      }
    }
  }
}

.updated {
  /*background: $ls-color-updated!important;
  color: #fff!important;*/
  animation-name: progressiveUpdate;
  animation-duration: 6s;

  > a {
    animation-name: progressiveUpdateLink;
    animation-duration: 6s;
  }
}
