.ls-list-matches {

  background: $ls-color-white;

  .row {

    .cell {


    }
  }

  .row--match {
    color: $ls-text-color;
    padding:0;

    &.event-live {

      .cell {

        &__score {
          color: $ls-color-live;
        }

        &__time {
          color: $ls-color-live;

          &:before {
            content: '';
            display: block;
            float: left;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $ls-color-live;
            margin-right: 4px;
            margin-top: 5px;
            @extend .blinking;
          }
        }
      }

      &.paused {
        .match-list {

          &__time {

            &:before {
              background: darken($ls-color-white, 30%);
              @extend .animation-reset;
            }
          }
        }
      }
    }

    &.event-won {
      background: $ls-color-event-won-bg;

    }

    &.event-lost {
      background: $ls-color-event-lost-bg;

    }

    &.event-draw {
      background: $ls-color-event-draw-bg;
    }
  }



  > .row:active {

      &.row--highlight {
        background: darken($ls-color-highlight, 5%);
      }

      &.event-won {
        background: darken($ls-color-event-won-bg, 5%);
      }

      &.event-lost {
        background: darken($ls-color-event-lost-bg, 5%);
      }

      &.event-draw {
        background: darken($ls-color-event-draw-bg, 5%);
      }



  }

}

.updated {
  background: $ls-color-updated!important;
  color: #fff!important;
}
