
.ls-match-listing-other-sports {

  font-size: 12px;
  overflow: hidden;
  //background: $ls-color-white;


  /* ---- Left Side ----- */

  &--left {
    width: calc(100% - 115px);
    float: left;

    .row {
      padding: 0;
      box-sizing: border-box;
      border: 0;


      &:last-child {
        border-bottom: $ls-list-border;
      }
    }

    .row--match {
        border-bottom: $ls-list-border;

      &.event-live {

        .cell {

          &__score {
            color: $ls-color-live;
          }

          &__time {
            color: $ls-color-live;

            &:before {
              content: '';
              display: block;
              float: left;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: $ls-color-live;
              margin-right: 4px;
              margin-top: 5px;
              @extend .blinking;
            }
          }
        }

        &.paused {
          .match-list {

            &__time {

              &:before {
                background: darken($ls-color-white, 30%);
                @extend .animation-reset;
              }
            }
          }
        }
      }

      &.event-won {
        background: $ls-color-event-won-bg;
      }

      &.tennis-double {

        .cell__opposition {

          &__title {
            position: relative;
            display: block;
            padding: 5px;

            span {
            display: block;
            line-height: 14px;
            }
          }
        }

        .icon-tennis {
          color:#FFC000;
          position: absolute;
          right: 5px;
          top:35%;
        }
      }

      &.event-lost {
        background: $ls-color-event-lost-bg;
      }

      &.event-draw {
        background: $ls-color-event-draw-bg;
      }

      &--selected {
        background: $ls-row-selected-color;
      }




      .cell {
        box-sizing: border-box;
        padding: 5px 0;
        border-right: $ls-list-border;
        align-items: center;

        &__time {
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: $ls-list-border;
        }

        &__opposition {
          padding: 0;

          .row {
            border-bottom: $ls-list-border;
          }

          &__title {
            padding:0 5px;
            display: flex;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;

            span {
              display: flex;
              flex: 1;
            }


            .icon-tennis {
              color:#FFC000 ;
              display: flex;
              flex: 0 0 10px;
            }
          }
        }

        &__score {
          flex: 0 0 32px;
          display: flex;
          justify-content: center;
          font-weight: 600;
        }
      }
    }




    .row--head {
      padding: 0;

      .cell {
        color: lighten($ls-text-color, 20%);

        &__team {
          padding-left: 5px;
        }
      }
    }
  }

  /* ---- Right Side ----- */

  &--right {

    padding: 0;
    margin: 0;
    width: 115px;
    float: left;
    white-space: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .row {
      padding: 0;
      margin: 0;
      display: flex;

      &--selected {

        .cell {
          background: $ls-row-selected-color;
        }
      }

      &:last-child {
        border-bottom: $ls-list-border;
      }

      .cell {
        box-sizing: border-box;
        padding: 0;
        border-right: $ls-list-border;
        width: 23px;
        text-align: center;

        &__points {

          .row {
            border-top: $ls-list-border;

            &:first-child{
              border-top: none;
              background: #ffff00;
            }


            .cell__point {
              border-top: $ls-list-border;
              background: #07b0ff;
              height: 27px;
              position: relative;
            }
          }

          .row ~ .row {
            border-bottom: $ls-list-border;

            .cell__point {
              border-top: none;
              background: greenyellow;
              height: 27px;
              position: relative;
            }
          }
        }

        &__point-detail {
          position: absolute;
          right: 0px;
          bottom: -10px;
          font-size: 6px;
          margin: 3px;
        }
      }

      &.tennis-double {

        .cell__points {

          .row {

            .cell__point {
              background: lightgrey;
              height: 39px;
            }
          }

          .row ~ .row {

            .cell__point {
              background: orange;
              height: 40px;
            }
          }
        }
      }


    }

    .row--head {

      .cell {
        color: lighten($ls-text-color, 20%);
      }
    }
  }
}


/* ---- @ media ----- *//*


@media (max-width: 319px) {

  .ls-standing-table--left {
    width: 80%;
  }
  .ls-standing-table--right {
    width: 20%;
  }
}

@media (min-width: 600px) {

  .ls-standing-table--right .row .cell {
    flex: 1;
  }
}*/
