.ls-team-roster{

  .ls-list{
    background-color: $ls-color-white;

    .row{
      padding: 0;

      .cell{
        border-right: $ls-list-border;
        padding: 9px 0;

        &__num{
          display: flex;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 38px;
          justify-content: center;
          align-items: center;
        }

        &__player{
          position: relative;
          display: flex;
          align-items: center;
          padding-left: 7px;
          padding-right: 7px;
          overflow: hidden;

          > img{
            max-height: 26px;
            max-width: 26px;
            position: absolute;
            left: 8px;
            bottom: 0;
          }

          > a{
            text-decoration: none;
            color: $ls-link-color;
            font-weight: $ls-font-weight-light;
            margin-left: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &__shirt, &__goals, &__yellow_cards, &__red_cards{          
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 40px;
          text-align: center;
        }
      }

      &--head{

        .cell{
          padding-top: 4px;
          padding-bottom: 4px;
          background-color: $ls-color-white;
          font-weight: $ls-font-weight-light;
          color: #9b9b9b;
        }
      }

      &:last-child{
        border-bottom-width: 0;
      }
    }
  }
}