
.mdl-snackbar {
  justify-content: flex-start;

  &__text{
    padding: 14px 24px;
    flex: 1 1 auto;
  }

  &__action{
    padding: 14px 24px;
  }

  &__icon{
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      max-width: 24px;
    }
  }

  &--success{

    .mdl-snackbar__icon, .mdl-snackbar__action{
      color: $ls-success-color;
    }
  }

  &--error{

    .mdl-snackbar__icon, .mdl-snackbar__action{
      color: $ls-error-color;
    }
  }

  &--warning, &--loading{

    .mdl-snackbar__icon, .mdl-snackbar__action{
      color: $ls-warning-color;
    }
  }

  &--info{

    .mdl-snackbar__icon, .mdl-snackbar__action{
      color: $ls-info-color;
    }
  }

}
