<!doctype html>
<html lang="en">
<head>

	{% include 'structure/head.twig' %}		

</head>
<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header{{ ls_header_no_drawer ? ' mdl-layout--no-drawer-button' : ' mdl-layout--fixed-drawer' }}">

			{% include 'structure/top-header.twig' %}

			{% embed 'structure/main-content.twig' %}
				{% block main_content %}
					{{main_content}}
				{% endblock %}
			{% endembed %}


		</div>
	{% block footer_scripts %}
		<script type="text/javascript">
			$(document).ready(function(){

				//Init core JS
				App.init();

			});
		</script>
	{% endblock %}
</body>
</html>
