<!doctype html>
<html lang="en">
<head>

	{% include 'structure/head.twig' %}		

</head>
<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

			{% include 'structure/top-header.twig' %}
    	{% embed 'structure/main-content.twig' %}
				{% block main_content %}
					{{main_content}}
				{% endblock %}
    	{% endembed %}

		</div>
	{% block footer_scripts %}
	{% endblock %}
</body>
</html>
