<!doctype html>
<html lang="en">
<head>

	{% include 'structure/head.twig' %}		

</head>
<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

			{% include 'structure/top-header.twig' %}
    	{% include 'structure/main-content.twig' %}

		</div>
</body>
</html>
