<!doctype html>
<html lang="en">
<head>

	{% include 'structure/head.twig' %}
	{% set ls_header_scrollable_tabs = true %}

</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		{% include 'structure/top-header.twig' %}
  	
  	<main class="mdl-layout__content">
	    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
	      <div class="page-content"><!-- Your content goes here --></div>
	    </section>
	    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
	      <div class="page-content"><!-- Your content goes here --></div>
	    </section>
	    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
	      <div class="page-content"><!-- Your content goes here --></div>
	    </section>
	    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
	      <div class="page-content"><!-- Your content goes here --></div>
	    </section>
	    <section class="mdl-layout__tab-panel" id="scroll-tab-5">
	      <div class="page-content"><!-- Your content goes here --></div>
	    </section>
	    <section class="mdl-layout__tab-panel" id="scroll-tab-6">
	      <div class="page-content"><!-- Your content goes here --></div>
	    </section>

		{% block main_content %}
			{{main_content}}
		{% endblock %}
	
	</main>
	</div>
	{% block footer_scripts %}
		<script type="text/javascript">
			$(document).ready(function(){

				//Init core JS
				App.init();

			});
		</script>
	{% endblock %}
</body>
</html>