$ls-color-highlight : rgb(255, 244, 206);
$ls-color-updated : $ls-color-live;

$ls-color-event-won-bg : rgb(233, 242, 226);
$ls-color-event-lost-bg : rgb(245, 211, 207);
$ls-color-event-draw-bg : rgb(250, 241, 230);